[2015-06-30 13:48] serbinsh commented on #521
@mdietze didn't mean to reopen.  I will close but still post my progress here.  Might be helpful to someone else in the future.

S

[2015-06-30 13:48] #521 closed

[2015-06-30 15:07] serbinsh opened #522 "Issue with PEcAn pft test script (../tests/testpfts.R) with latest BETYdb schema"
I am receiving this error when running the test script with the latest version of BETYdb:

[code]

Looks like an issue recording results with BETY?

[2015-06-30 15:07] serbinsh commented on #522
message='ERROR:  new row for relation "dbfiles" violates check constraint "file_path_sanity_check"

[2015-06-30 15:41] mdietze commented on #522
Yeah, Scott just added a bunch more constraints, one of which got rid of the ability to make a lot of things NULL. So I suspect one or more of those NULLs in the insert needs to be empty quotes instead. I think you're the first to run this script since the constraints were added, so if you get a fix it would be great if you could check it in

[2015-06-30 15:43] serbinsh opened #523 "Minor: add.models.sh needs to update package name for Biocro"
In the add.models.sh script we have:

[code]
addModelFile "${FQDN}" "BioCro" "BIOCRO" "" "biocro.Rscript" "${R_LIBS_USER}/PEcAn.BIOCRO"
[code]

[2015-06-30 16:15] serbinsh opened #524 "How do add DALEC model using addModelFile?"
I am attempting to register DALEC with Bety in a location other than /usr/bin, but instead in a sandbox location so that it is available to the cluster nodes.  For both ED2 and SIPNET I have registered models like this:

[code]
where I have model name ED2, type ED2, revision 81 or unk and binary, followed by the path to the binary.

However, attempting to do this with DALEC, such as:
[code]
gives

[2015-06-30 16:17] serbinsh commented on #522
@mdietze Looking into it today

[2015-06-30 16:53] serbinsh opened #525 "Web interface - ED2 soil / veg inputs (OGE/FAO)"
I am trying to sort out an issue with setting up ED2 runs on the web interface.  When I get to the "03-inputs.php" page it looks like the OGE and FAO options are flipped, in that I am getting FAO for the veg and OGE for soil (see screenshot), but this should be the other way around, correct?  That is how I have had it setup in my stand-alone ED2 runs in the past.

![screen shot 2015-06-30 at 12 49

[2015-06-30 16:56] serbinsh commented on #525
I used the add.data.sh code to update the location of our site/ed_inputs and FAO/OGE:

``
#!/bin/bash

#DIRNAME=$( dirname $0 )
DIRNAME=/data/Model_Data
PDIR=/data/software/pecan

# folder to data, this is assumed to be installed at the same level
# as the pecan folder. The python code is to get the absolute path
# since the MAC does not have the GNU readlink -f option.
SITES=$( python -c 'import

[2015-06-30 17:00] serbinsh commented on #525
I get these errors during the run:

[code]

[2015-06-30 17:04] robkooper commented on #525
This is what I have in the database:
[code]

FAO_ is linked to 296
OGE_ is linked to 297

is this correct?

[2015-06-30 17:06] serbinsh commented on #525
I think that is backwards.  At least my working knowledge is:
FAO - soil
OGE - vegetation.

If you run ED2 with VEG_DATABASE set to FAO it gives those warnings above

[2015-06-30 17:07] serbinsh commented on #525
@mdietze Can you confirm that I am not getting this backwards?  I checked another PEcAn run of mine (manually setting the locations in the xml) and it ran fine, with those flipped

[2015-06-30 17:11] serbinsh commented on #525
Weird, in my formats table through the web interface I see this:

![screen shot 2015-06-30 at 1 10 48 pm](https://cloud.githubusercontent.com/assets/3067369/8436887/87ea54d2-1f29-11e5-9298-f93e9e852ff7.png)

[2015-06-30 17:12] robkooper commented on #522
this is indeed related to the new constraints. have a potential fix ready

[2015-06-30 17:19] robkooper commented on #522
pull and see if this fixes it.

[2015-06-30 17:19] #522 closed

[2015-06-30 17:40] fabeuw commented on #518
I actually tried both rh2qair  and then used qair2rh and solved for qair, the difference is indeed small.

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
0.01080 0.01533 0.01602 0.01605 0.01684 0.02020

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
0.01083 0.01544 0.01614 0.01617 0.01695 0.02034

[2015-06-30 17:41] ankurdesai commented on #518
Wait till you get to the mountains. Also, one expects Kelvin, the other Celcius.    fix is on the way.

-------------------------------------------------
Ankur R Desai, Associate Professor
  University of Wisconsin - Madison, Atmospheric and Oceanic Sciences
  http://flux.aos.wisc.edu <http://flux.aos.wisc.edu/>  desai@aos.wisc.edu <mailto:desai@aos.wisc.edu>
O: +1-608-520-0305 / M: +1-608-218-420

[2015-06-30 17:49] serbinsh commented on #522
Working OK for me now.

[2015-06-30 17:52] serbinsh opened #526 "Weather warnining with ED2 at US-WCr using web interface"
WARNING : Selected dates are not within the bounds of the weather data file you selected.

I get this warning when running ED2 for US-WCr if the end year contains 2006/12/31

But as far as I know the met covers this range?

[2015-06-30 17:56] serbinsh commented on #525
If I manually flip at the config edit stage I don't get that error:

[code]

[code]

[2015-06-30 18:03] serbinsh opened #527 "Another issue with add.data.sh"
For US-Syv (Sylvania)  Met covers 2001-2006 but the line:

[code]
Has it starting from 2002.

@robkooper should I edit this one as well?  I can make the change, directly on GiHub

[2015-06-30 18:07] serbinsh commented on #526
@robkooper Where do we set checks, like this, for met data?

[2015-06-30 18:11] robkooper commented on #527
Yeah, go ahead and fix it.

[2015-06-30 18:12] robkooper commented on #526
This is done at: https://github.com/PecanProject/pecan/blob/master/web/04-runpecan.php#L77

[2015-06-30 18:18] robkooper commented on #525
Following statements should fix this.

@mdietze @dlebauer can you run this on your database.

[code]

[2015-06-30 18:23] #525 closed

[2015-06-30 18:32] dlebauer commented on #525
I ran these, but zero rows were affected.

On Tue, Jun 30, 2015 at 1:23 PM, Rob Kooper <notifications@github.com>
wrote:

[2015-06-30 18:33] ankurdesai commented on #518
But it’s so much more fun to just whine about it :)

Well just made a pull request to make the function be exactly correct, but not break existing calls to it.

Two issues:
qair2rh works in Celcius and millibar, and assigns a default pressure of 1 ATM if one is not passed
rh2qair works in Kelvin

rh2qair is called in met2CF Ameriflux/CSV/ALMA and temporal downscaling, two of these functions don’t

[2015-06-30 19:01] mdietze commented on #526
@serbinsh, take a look at the actual data on cdiac and let us know. Ryan and I were looking at an example like that this morning (Sylvania) and it turned out that the server had the csv files but not the nc files. Right now the workflow is set up for the nc files. It wouldn't be hard to add a BrownDog csv to nc conversion in download.ameriflux, but it might be simpler to just let ameriflux know th

[2015-06-30 19:03] fabeuw commented on #518
great, thanks for that. Yes why not just have all the same units?!

[2015-06-30 20:13] mdietze commented on #518
Thanks @ankurdesai, I just merged that pull request. I'm going to leave this issue open so we remember to go back and standardize units and pass pressure explicitly.

[2015-06-30 20:58] mdietze commented on #524
In the first two you have 6 arguments, in DALEC you only have 5, so you've forgotten an argument

[2015-06-30 21:38] serbinsh commented on #524
Doh!

What worked:

[code]

[2015-06-30 21:38] #524 closed

[2015-06-30 22:56] serbinsh commented on #526
@mdietze Just to be clear, I was assuming that the web interface workflow was basing the met data and ranges on the inputs table, which I populated with the add.data script.  There I am telly BETY where the ED_MET_HEADER is as well as the ranges of the met files.  I assumed that was what it was using for the runs.  In my met data, I have data from 1998-2006, for example, for US-WCr; this comes fro

[2015-06-30 22:58] #527 closed

[2015-06-30 23:00] serbinsh commented on #523
@robkooper @dlebauer Is this an issue?

[2015-06-30 23:15] dlebauer commented on #523
@serbinsh looks like you are correct - good catch. But I am not sure how BioCro is handled as a special case here. PR #530 provides the fix if @robkooper confers

[2015-06-30 23:21] mdietze commented on #526
@serbinsh no, I misunderstood. I thought you were getting an error in the met.process workflow in building the met from Ameriflux on the fly. When it does that it goes to http://cdiac.ornl.gov/ftp/ameriflux/data/Level2/Sites_ByID/ to get the data but it doesn't do any checks on date range or availability, it just returns an error if the data's not there.

It appears that Rob's code does date check

[2015-07-01 00:01] dlebauer opened #531 "ERROR: null value in column "folder" violates not-null constraint"
`read.settings` function fails using [this settings file](https://gist.github.com/dlebauer/2fda9a18c2dc44fd0d75). because it violates a non-null constraint, giving  the following output:

[code]

Fix is on the way

[2015-07-01 01:01] #531 closed

[2015-07-01 01:37] dlebauer commented on #518
@fabeuw I think the answer is different authors.

@mdietze some data sources don't provide pressure, thus the defaults. We could use an elevation correction (e.g. the rgbif package has a function [`elevation`](http://www.rdocumentation.org/packages/rgbif/functions/elevation) that takes latlon).

[2015-07-01 02:56] #523 closed

[2015-07-01 11:34] serbinsh opened #533 "Issue with dump.bety.sh"
It seems (I think) that after the migration the dump.bety.sh script no longer runs without errors.  I am getting this when I am attempting to dump/backup my DB:

[code]

[2015-07-01 12:27] serbinsh commented on #525
@robkooper @mdietze @dlebauer Did this work?

[2015-07-01 15:42] dlebauer commented on #525
I ran the code ... there were no updates. I don't have an up to date
version of pecan running on ebi-forecast to test

[2015-07-01 17:37] serbinsh commented on #533
After this runs, nothing gets dumped to a tar.gz file

[2015-07-01 20:13] serbinsh commented on #525
@robkooper after all the updates, OGE and FAO are still flipped on my web interface??  I have reloaded the DB.  DO I still need to run the code above?

[2015-07-01 20:17] serbinsh commented on #525
Nevermind, works OK.  I ran that code to correct the issue.  Now works fine

[2015-07-01 21:05] ryankelly-uiuc opened #536 "Option to delete original model outputs after converting to netcdf"
Per an offline discussion with @mdietze and @ankurdesai , it would be good to have the space-saving option to delete the raw model outputs after they've been converted to netcdf. For example, if running thousands of iterations of data assimilation. Seems like each model2netcdf.MODEL function would need to take care of this in its own way, either by actually deleting output files when finished, or

[2015-07-01 21:06] serbinsh opened #537 "Need to update ED2 r46 version (on the installing models page) so that XML char length is correct"
@robkooper You need to make sure the version folks download has corrected the: /ED/src/utility/libxml2f90.f90_pp.f90 so it accepts char length longer than 32

[2015-07-01 21:07] serbinsh commented on #537
So that it matches char length on mainline:
https://github.com/EDmodel/ED2/blob/master/ED/src/utils/libxml2f90.f90_pp.f90

[2015-07-01 21:16] serbinsh opened #538 "ED2.r46 ED2IN template in pecan out of sync with recent PEcAn changes"
This template still contains old code from early development at UIUC.  For example:

[code]

The wildcard values need to be brought up to speed with the other ED2IN templates

@dlebauer

[2015-07-01 21:41] dlebauer commented on #536
My thought: not only do the files take up space, but writing them consumes both time and resources (bandwidth). Where possible, modelers and model2netcdf.* authors can consider configuring model runs to only write what will be needed and even adding an option to writing directly to netcdf.

Is there any role or plans for Brown Dog to play a role in the model2netcdf conversions?

[2015-07-01 21:51] dlebauer opened #540 "default values for CO2?"
I've got a rather small file of CO2 values from 1765-2500 (!). [rcp.csv](https://gist.github.com/dlebauer/68cdcbf031bc55ffac99) that I plan to use with BioCro. I could treat this the same as other driver files, but this seems so ubiquitous that it could be easier to provide this - at least the fixed historical values - as a dataset built into PEcAn, e.g. in PEcAn.utils or PEcAn.data.atmosphere.

T

[2015-07-02 03:33] mdietze commented on #536
I agree that everything would be more efficient if models just wrote out their output in the PEcAn standard, but there's no way to enforce that and realistically most teams won't do it (case in point, despite using ED2 and SIPNET for years, we've never rewritten their outputs to be in netCDF).

What I told Ryan in discussing this with him is that the simplest way to do this was to just build delet

[2015-07-02 03:37] mdietze commented on #540
I disagree. There are multiple alternative CO2 reconstructions and some of them vary spatially, so I don't think we should choose one as the default.

Datasets should be loaded in the Inputs table, not built into packages.

[2015-07-02 04:12] dlebauer commented on #540
I'll put it in the biocro package.

[2015-07-02 04:12] #540 closed

[2015-07-02 14:57] #538 closed

[2015-07-02 14:58] serbinsh commented on #533
The issue was with a change in delimiter.  It was fixed by @robkooper

[2015-07-02 14:58] #533 closed

[2015-07-02 14:59] serbinsh commented on #526
@mdietze Agreed.  I tested and if I set the end date to, say, 30 instead of 31 it works fine.  So a simple change to <= and >= will correct.  I will look into it

[2015-07-02 15:38] serbinsh opened #544 "PSS/CSS/Site mismatch at EBIfarm"
[code]

For some reason at the EBI site ED2 is trying to open up the wrong site file incorrect corrds.  This is happening with a few versions of ED2

[2015-07-02 16:04] dlebauer commented on #544
Have you checked which files exist? Is this because the files are named
incorrectly?

On Thu, Jul 2, 2015 at 10:38 AM, Shawn P. Serbin <notifications@github.com>
wrote:

[2015-07-02 16:05] Viskari opened #545 "Sensitivity analysis crashes during ED2 workflow"
Hello,

 For some reason after recently updating the pecan, I started getting the following error when running the sensitivity analysis tag in the pecan workflow for ED2. It prints out a number of stats, but then crashes when moving to the ensemble analysis, at least I think it is at that point as the debug doesn't give any variable name at that point. Also for some reason this seems to be connect

[2015-07-02 16:05] serbinsh commented on #544
@dlebauer According to my DB the coords are correct and match with is in my site folder.  I don't know where it is getting this from:

/data/Model_Data/sites/ebifarm/ebifarm.lat40.5lon-88.5.site

You can see here that it is listing the correct files in the dir:

[code]

Only happens with EBI

[2015-07-02 16:07] serbinsh commented on #545
I have seen this too when testing the web interface with 1 ensemble

------------------------------------------------------------------------------
Shawn P. Serbin
Biological, Environmental & Climate Sciences Department
Brookhaven National Laboratory
Upton, NY 11973-5000

Phone: +1-631-344-3165
Fax: +1-631-344-2060
Email: sserbin@bnl.gov<mailto:sserbin@bnl.gov>
Bio:  http://www.bnl.gov/envsci/bio/

[2015-07-02 16:21] dlebauer commented on #544
The error comes when ed is looking for a file named `/data/Model_Data/sites/ebifarm/ebifarm.lat40.5lon-88.5.site`. I am not sure where ED is passed this file name, but what happens if you create files with these extensions, e.g.

[code]

?

[2015-07-02 17:45] ankurdesai commented on #536
Another option to consider is to allow model output be written to “ramdisk” - essentially a temporary file system that lives in memory. Ramdisks were all the rage when disk i/o was all floppy drive based. Then all i/o would be to RAM, and when the “disk" was unmounted or system restarted, it would disappear (MS-DOS has many ramdisk options). Linux actually makes that really easy by mounting a driv

[2015-07-03 11:48] mdietze commented on #545
You need to look further backwards in the log. "no netCDF files of model output present" means the model crashed.

[2015-07-06 00:53] #436 closed

[2015-07-06 00:54] #434 closed

[2015-07-06 19:43] mdietze commented on #305
Added a bunch more parameters in pr #549

[2015-07-06 20:50] ashiklom opened #550 "PEcAn RTM Package -- Windows compatibility"
Attempting to install the package on Windows fails with the following: "Error: Unix-only package".

My guess is that the way to fix this is by tweaking the `Makevars.win` file, possibly by removing bash-isms like wildcard expansion.

[2015-07-07 00:21] mdietze opened #551 "function to load Ameriflux data"
Implement the function load.AmeriFlux.level2.h.nc(file,variables=NULL)

If variables is specified, return just the specified variables, otherwise return all variables

Version 1 can be quick and simple should just do this so that we can use it in the updated 1.4.3 demos (plotting model vs data, calculating RMSE, feeding data into the MCMC code)

Version 2 should ensure that all variables are retur

[2015-07-07 06:52] mdietze commented on #551
pr #552 included a function, modules/assim.batch/R/load.L2Ameriflux.cf.R, which is close to Version 1 suggested above except that it doesn't have a variables argument and it's name doesn't match the format name (and thus PEcAn can't look it up automatically). Nonetheless, it looks like a good starting point. Probably want to migrate this out of assim.batch as well.

[2015-07-07 21:56] #305 closed

[2015-07-07 22:00] #449 closed

[2015-07-07 22:00] #447 closed

[2015-07-07 22:03] mdietze commented on #481
Added documentation to the 1.4.3 Tutorial on how to launch a PEcAn instance on the AWS (currently in Dropbox, will post to website upon release). This approach doesn't require load balancing, as each individual has their own instance, so will punt this to when we need to deal with this in PEcAn 2

[2015-07-08 03:08] dlebauer opened #557 "Reduce resources used by ssh, rsync"
PEcAn is using a lot of resources, including CPU

On the PEcAn host (ebi-forecast):

![image](https://cloud.githubusercontent.com/assets/464871/8562121/daa355fa-24f3-11e5-9e55-cb9cad646b7a.png)

Its not so bad on the HPC head node (roger.ncsa.illinois.edu), but only because another user is competing with me:

![image](https://cloud.githubusercontent.com/assets/464871/8562161/6539981e-24f4-11e5-94f

[2015-07-08 13:23] robkooper commented on #557
when is this? is this during the actual transfer? transfers are expensive, especially since they are encrypted (ssh), not sure how much cheaper gftp is. Cheapest would be http but that would require a whole extra setup with firewall ports etc.

ionice might help, but honestly who cares. Both machines are 90% and more idle and the io wait is close to 0% so that is good as well.

[2015-07-08 18:19] dlebauer commented on #557
ebi-forecast seemed slow to load rstudio and I thought that might be an issue. The bigger issue would be if this were to crash betydb. I can tag this as wontfix and close it unless I find something intolerable.

[2015-07-08 18:19] #557 closed

[2015-07-09 03:21] #371 closed

[2015-07-09 17:42] mdietze opened #562 "drop run.id from read.output?"
Right now run.id is the first argument to read.output, but it's not used anywhere in the function. Would anyone object to me dropping this? In other words, does anyone have external scripts that depend upon this but can't easily be updated?

[2015-07-10 14:05] robkooper opened #563 "load.bety should happen in single transaction"
Right now the load.bety will remove all the data that is synced and reloaded sequentially. If a user queries the database between these actions they will not get any results. To fix this all queries should be executed in a single transaction.

[2015-07-10 15:19] robkooper opened #565 "create a table to store identifier for site"
We should have a table to allow the user to specify the site specific identifier for external data stores. For example right now we have a site "Sylvania Wilderness (US-Syv)" and the last part is Amerifux specific identifier. If we want to use a different external data source with this site we might not be able to use the sitename to find the right marker.

This could be as simple as adding a new

[2015-07-10 16:04] mdietze commented on #565
@robkooper is this different from the "sitenetwork" table proposed at the end of #271 ?

[2015-07-10 17:59] robkooper commented on #565
nope this is the same, closing issue

[2015-07-10 17:59] #565 closed

[2015-07-10 17:59] robkooper commented on #271
Still need the table.

[2015-07-10 18:14] dlebauer commented on #271
What would the sitenetworks table look like? Could it be handled by the sitename field in the sites table if network sites were consistently named, such as "<sitename>: <network> <network-ID>", which would rename "Sylvania Wilderness (US-Syv)" to "Silvania Wilderness: Ameriflux US-Syv"?

[2015-07-10 18:16] robkooper commented on #271
no for two reasons, we should not overload the sitename with metadata, and we should also have the ability to have multiple different site network table associated with the same site.

[2015-07-10 19:39] ankurdesai commented on #271
For example,
WillowCreek is part of ChEAS, Ameriflux, and Fluxnet, not to mention the U.S. Forest service climate tower network and within the Neon Great Lakes domain, and so on. It would be highly useful to subset sites by network/domains for various types of runs and science questions (eg observing system simulation experiments, regions, runs based on data availability). This would also be one w

[2015-07-13 05:15] #563 closed

[2015-07-13 14:32] dlebauer opened #566 "How to use modellauncher, or otherwise bundle jobs for HPCs with limits on job number or shared nodes?"
I am using two servers. One (biocluster.igb.illinois.edu) has limits on the number of jobs that can be submitted (~200) and the other (roger.ncsa.illinois.edu) only allows one job per node. These cases seem to require bundling jobs at the level of the `job.sh` script or `start.runs` function (or otherwise at the PEcAn level). Not possible to do by simply altering the qsub command arguments.

I am

[2015-07-13 14:57] robkooper commented on #566
There is some code for this, but has never been tested:
https://github.com/PecanProject/pecan/blob/master/settings/R/read.settings.R#L592

Most of it should be wired in the code for run.jobs as well. This will use a wrapper script to launch a bigjob, which will use mpi to launch lots of smaller jobs. This uses a binary called modellauncher which is included in the source code in https://github.com

[2015-07-13 17:59] dlebauer commented on #566
I haven't gotten around to trying the modellauncher, but have experimented with submitting batch jobs.

This script https://gist.github.com/dlebauer/fca449b81567eda4c729 will generate a `runs.sh` script for submitting all jobs (via `array.pbs`) in batches that allow one job per node and multiple jobs per core.

[2015-07-15 02:43] mdietze opened #570 "How to create a non-point site?"
Specifically, I'd like to create a 'site' for the NLCD dataset which has the following geographic info:

The map projection used is Albers Conical Equal Area.

Projection parameters:
Standard_Parallel: 29.500000
Standard_Parallel: 45.500000
Longitude_of_Central_Meridian: -96.000000
Latitude_of_Projection_Origin: 23.000000
False_Easting: 0.000000
False_Northing: 0.000000
Planar coordinates are enco

[2015-07-15 04:04] dlebauer commented on #570
Does this help PecanProject/bety#129? The points are Lon Lat elevation. I think the last argument is the projection.

[code]

[2015-07-15 13:43] mdietze commented on #570
Thanks, that helped a lot. The following seems to have worked

[code]

I needed to add the ST_Transform because the NLCD is in NAD83 (espg = 4269) and the database seems to be using WGS84 (espg = 4326)

[2015-07-15 13:43] #570 closed

[2015-07-20 19:05] ashiklom opened #573 "Metropolis Hastings with block sampling"
I figured out how to do block sampling and successfully performed some RTM inversions. From discussions with @mdietze and @ryankelly-uiuc this would be useful to implement elsewhere, but I don't exactly know where we have Metropolis Hastings algorithms, so I'll post generalized R code for adapting the covariance matrix here.
- The `mvrnorm` function is the Multivariate Normal sampler from the MASS

[2015-07-22 14:53] mdietze opened #580 "Would Spark be useful in PEcAn?"
Saw this blog about Spark's new R interface and RStudio integration

http://blog.rstudio.org/2015/07/14/spark-1-4-for-rstudio/

and thought I'd post it so that others could mull over and discuss whether these tools would be useful in PEcAn (especially as we start moving to larger data sources)

[2015-07-22 15:54] ryankelly-uiuc opened #581 "get.trait.data deletes too many files"
Or at least, I have a problem because my PDA code writes files to the PFT dirs, but I am then interested in rerunning parts of the workflow to add new analyses. If I re-run `get.trait.data()` , my previous results are lost.

I guess this makes some sense, because if `get.trait.data()` updates the priors, then any analyses that were done with the previous priors are now inconsistent with the new on

[2015-07-22 16:38] mdietze commented on #581
Understood, but if the meta-analysis is set to AUTO and you haven't added any trait data it shouldn't do anything even if you re-run get.trait.data. If it is that seems like a bug that should be fixed.

That said, it shouldn't delete the PDA output regardless, even if the MA does need to be rerun, so that's a second bug.

[2015-07-23 12:47] ryankelly-uiuc commented on #581
No, should have clarified that this was with MA=TRUE for testing purposes.

OK, then I would call this a bug. I either don't know how or am unable to label it as one, though.

[2015-07-23 14:27] ryankelly-uiuc opened #582 "Set default smoothing for ensemble.ts"
Currently defaults to `window=1`, i.e. no smoothing. Change to... 48 (daily, assuming half-hourly output)?

[2015-07-23 14:52] mdietze commented on #582
It's not safe to assume that model outputs will always be 30 min. Some models only run daily (DALEC), monthly, or annually (LINKAGES). Met products might be 30 min (most Ameriflux) 60 min (some Ameriflux), 3 hr (NARR), 6 hr (NCEP), or coarser. I think it's safer to say that we want PEcAn to be generating ensemble forecasts at no finer than daily resolution. So that means that the code will need to

[2015-07-23 14:54] ryankelly-uiuc commented on #582
Good idea. You can assign this to me, though it won't be a top priority at the moment.

[2015-07-24 03:53] #239 closed

[2015-07-27 11:12] #187 closed

[2015-07-27 14:30] ryankelly-uiuc opened #585 "Met workflow updates XML wrong?"
If I use browndog to retrieve met data, then my settings list gets a bunch of tags added under `inputs$met$path`, e.g.:
[code]
This doesn't seem right, right? I assume host, mimetype, etc. are all supposed to be under `met`, not `met$path`? Fortunately, `run.write.configs()` uses the first item in `met$path` and just gives a warning:
[code]
But I'm worried about this causing problems elsewhere or

[2015-07-27 14:34] robkooper commented on #585
Correct. Only the value from file should have been copied.

[2015-07-27 14:48] ryankelly-uiuc commented on #585
And actually, just accidentally found somewhere it breaks the code: If you try to read in an xml file that has the settings saved like that, then `read.settings()` fails (in `check.inputs()`).

[2015-07-28 10:25] rykelly opened #588 "Long PEcAn runs hit errors with DB sync"
This has been discussed elsewhere but wanted to document here. I received the following error while running 5000 iterations of PDA using SIPNET:

[code]

Based on discussions with @robkooper , this is probably due to Pecan trying to access BETY during the automated database sync, which is possible any time but obviously more likely with a workflow that runs for a long time.

[2015-07-28 18:50] serbinsh opened #589 "Error during web interface ensemble run"
After an update I ran an ensemble run to test ability to run SIPNET from the web interface.  The model runs completed successfully but the ensemble analysis failed.  I think this is related to ensemble ID.  Here is the output folder on the server:

[code]

Here is the log:

[code]

Note the file is labeled: ensemble.output.NOENSEMBLEID.NPP.2003.2003.Rdata
but PEcAn is looking for: ensemble.output.

[2015-07-28 23:54] ryankelly-uiuc commented on #589
Sorry just getting to this, @serbinsh . We were definitely having this problem before, but we've done lots of testing since with SIPNET running through web interface. Does your code have the latest update to the filename stuff (#576)?

If so, can you send me the pecan.xml and workflow.R that are responsible?

[2015-07-29 13:40] serbinsh commented on #589
Hi @ryankelly-uiuc I updated my code base yesterday morning.  I was using the default workflow.R and pecan.xml that is generated through the interface:

Workflow.R
[code]

and the generated pecan.xml:

[code]

Plus there is a new set of xmls (trait, METProcess and configs)

[2015-07-29 13:45] serbinsh commented on #589
@ryankelly-uiuc Note.  I just ran it again (same site, etc) but added more than 1 ensemble member and it appears to be avoiding this bug.

[2015-07-29 13:51] serbinsh opened #590 "Missing file causes PEcAb crash when running a PFT with priors that have no observations"
@Viskari and I noticed a bug on his version of PEcAn yesterday. This may be a special case but we found an issue where PEcAn will crash mid-run if you are running with a PFT that has priors for traits that have no observations. I still need to check that we were using the latest build of PEcAn.

Here is the error message:

[code]

I feel like we had this issue before, a few years back.  If you hav

[2015-07-29 13:56] serbinsh commented on #589
I take it back, still errors:
[code]
Happens after compilation of model output into PEcAn netCDF format during the ensemble run.  The MCMC sampling, etc works fine.

[code]

Again, the file isn't found as it has an incorrect filename

[code]

Note ensemble.samples DOES have the run ID in the filename.  Any ideas on a fix?  I could try and sift through code, but a suggested starting point would be

[2015-07-29 14:33] ryankelly-uiuc commented on #589
OK, looking into this. Weird that some of the files have the ID but some don't. I'll keep you posted.

[2015-07-29 14:37] serbinsh commented on #589
OK.  TO double check, I just ran everything locally (i.e. through my login at command) and it worked ok.  Strange.

Also, do you know why did we removed the workflow.R from /scripts?  I ask as I found the latest revision of this in the /web but wondered why we would have users look in there for an example workflow file.  Is there a new suggested/default way to get folks started running through com

[2015-07-29 14:43] ryankelly-uiuc commented on #589
Others can chime in, but my understanding is that it is just asking for errors if we maintain multiple workflow.R that are supposed to do the same thing. E.g. the web/ and scripts/ versions were quite out of sync when I compared them recently and removed the latter (at @mdietze 's request). We could symlink to between the dirs if you just think it's weird to send someone in web/ to find the script

[2015-07-29 14:44] ryankelly-uiuc commented on #589
That said, the whole point was to avoid stuff working at command prompt but not via web (or vice versa), which is apparently exactly what's happening for you anyway. Great :)

[2015-07-29 14:45] serbinsh commented on #589
@ryankelly-uiuc No, its fine I was just trying to make sure I wasn't missing something.  I think a symlink would also be fine [I like that idea but happy to defer to leaving in the web dir only if that is preferred]  Now that I know they were out of sync it clarifies a few issues I was having previously!

[2015-07-29 15:16] robkooper commented on #589
I agree with the symlink, but let me me do a good merge between the two of them. I want to add some magic as well so it will be able to skip some steps in the workflow if you ask it to.

[2015-07-29 15:20] ryankelly-uiuc commented on #589
@robkooper sounds good, but note that I already removed `scripts/workflow.R` (#576). I diffed with `web/` version first and didn't see anything we'd miss.

[2015-07-30 23:08] dlebauer opened #592 "Copy of Benchmark Discussion from Redmine"
<p><strong>Description</strong></p>
  <div class="wiki">

(originally posted by @mdietze 2012-07-31 as [Redmine issue 1206](https://ebi-forecast.igb.illinois.edu/redmine/issues/1207) )

  <p>Ankur and I discussed this idea a bit at flux camp. I'm thinking about table that specifies a set of runs that can easily be run for any model using specified inputs for specific sites and tested against speci

[2015-07-31 01:54] ankurdesai commented on #592
Benchmarking is a high priority item for Pecan 2 and I’m hoping to get my new PhD student excited by the topic. Mike had defined a table once, I believe.
-------------------------------------------------
Ankur R Desai, Associate Professor
  University of Wisconsin - Madison, Atmospheric and Oceanic Sciences
  http://flux.aos.wisc.edu <http://flux.aos.wisc.edu/>  desai@aos.wisc.edu <mailto:desai@ao

[2015-07-31 02:03] mdietze commented on #592
There's lots of discussion on the benchmark design and all required open issues already on Github. Thanks for copying this over for reference, but I think keeping it open will be confusing since all tasks are already laid out

[2015-07-31 02:03] #592 closed

[2015-07-31 02:03] mdietze commented on #592
Rob has actually implemented all the tables as well

[2015-07-31 13:39] mdietze opened #593 "better met & flux import"
In trying to get some students from the flux course up and running their own sites, I ran into a few unexpected hiccups.

1) met2CF.csv should probably be modified to parse additional variables, to automatically split files into year, and to have a more robust date parsing.

2) it would be good to set up a generalized "import met" workflow that would also handle the database insert, since it doesn

[2015-07-31 13:55] ankurdesai commented on #593
Perhaps this would be a good first project for James (generalized met2cf.csv). Date parsing is almost certainly the trickiest, given the range of everything from DOY,HHMM (typicaly old Campbell dataloggers) to TOA5 date (date/time string in quotes) to fractional days of years to the normal ISO dates, none of which is easy to detect necessarily from the header alone and of course, figuring out time

[2015-08-03 17:10] mdietze commented on #593
I think it would be good to keep James focused on filling in the need to support a global product -- that would immediately reduce the demand for this since models could be run anywhere, plus it will allow him to more quickly focus on the downscaling issue.  That said, I believe Gabe still has outstanding edits around this issue that still need to be pulled in before someone tackles this issue

[2015-08-03 18:19] robkooper opened #594 "sensitivity analysis analysis"
Should do sensitivity analysis if text is in the box, remove check box, same for ensemble analysis.

[2015-08-03 18:31] ankurdesai commented on #594
Agree. Missing checking the checkboxes threw a lot of people off during the tutorial. However, everyone really appreciated using that page over editing pecan.xml directly.
-------------------------------------------------
Ankur R Desai, Associate Professor
  University of Wisconsin - Madison, Atmospheric and Oceanic Sciences
  http://flux.aos.wisc.edu <http://flux.aos.wisc.edu/>  desai@aos.wisc.ed

[2015-08-04 21:00] Viskari opened #595 "Adding new variable to ED2IN template"
With the latest update of ED2, they added a new variable GROWTH_RESP_SCHEME to ED2IN. This causes a problem for pecan as if I add that to the ED2IN template for git version, it will no longer work with the older git versions of ED2.

So before I add it to the ED2IN template, I wanted to check if that is considered the correct approach here?

[2015-08-04 21:27] mdietze commented on #595
Great question. We technically shouldn't be tagging 'development' branches of models in PEcAn, since the model is changing thus breaking provenance. Every git commit has a unique hex code, but tagging model versions with that would suck since they're not consecutive and unintuitive. In reality the ED community needs to start tagging more frequent releases and the PEcAn community needs to more freq

[2015-08-06 14:30] ryankelly-uiuc commented on #536
I am going to implement this for SIPNET, for now by modifying `model2netcdf.SIPNET()`. Will default to keeping output, but have an option for deleting `sipnet.out` after conversion to netcdf is done.

To do this, I'm going to add an argument `remove.raw.outputs` to `run.write.configs()`, which will get copied into the `job.sh` as an argument to `model2netcdf.SIPNET()`. So in turn, I'm going to hav

[2015-08-06 14:44] robkooper commented on #536
can you add it to the model section of pecan.xml, so we can pass that as an argument to write.configs. Maybe call it <delete.raw>false</delete.raw> then also modify read_settings.xml to make sure that the default is added to the pecan.xml.

[2015-08-06 14:44] dlebauer commented on #536
Will this have an associated tag in settings, similar to
database$bety$write?

Or maybe there should be something more general, to flag runs for archiving
vs testing?

[2015-08-06 14:48] ryankelly-uiuc commented on #536
Yeah, was thinking to make this a setting in the .xml—thanks, @robkooper for the reminder to modify the template.

@dlebauer I also like the idea of a more general flag for testing, if there are multiple settings that make sense for testing vs. production.

[2015-08-06 14:59] serbinsh commented on #590
@dlebauer or @ryankelly-uiuc Do you see any easy fix for this? E.g. not requiring the trait.mcmc or a special case if that doesn't exist since that will be the case without obs

@Viskari

[2015-08-06 15:00] serbinsh commented on #589
@ryankelly-uiuc I just updated and ran the web interface with Sipnet.  Happy to report it finished successfully.  Here is the output folder:

[code]

[2015-08-06 15:05] ryankelly-uiuc commented on #589
Great news, @serbinsh. So does that mean this issue is resolved, aside from the unrelated discussion about symlinking `workflow.R`? (Regarding that, @robkooper wanted to edit `workflow.R` first, though I don't think that precludes creating the symlink, since `web/workflow.R` is deleted already from the mainline.)

[2015-08-06 15:13] ryankelly-uiuc commented on #590
@serbinsh, yeah, think so. Looks like `get.samples.R` is checking that `trait.mcmc.Rdata` exists in *any* of the pft directories, then trying to load it for one pft in particular. So if any one pft is missing the file, it will error. I think if you just modify `get.samples` L55 slightly it will work. Currently:
```R    if("trait.mcmc.Rdata" %in% dir(unlist(outdirs))) { ```
try changing to:
```R

[2015-08-06 15:15] ryankelly-uiuc commented on #590
P.S. L56 (`ma.results <- TRUE`) can be deleted because `ma.results` is never used. Note also that the function does already know how to handle the case where `trait.mcmc.Rdata` doesn't exist—see L76-81. So the change suggested above shouldn't break anything.

[2015-08-06 15:18] ryankelly-uiuc opened #597 "Unify posteriors format"
I just wanted to create an issue associated with the discussion at #591. For convenience, my most recent reply was:

The PDA code does already save a post.distns data frame formatted just like the one from MA. It also saves a trait.mcmc object in the same format as used by the MA (a list of mcmc.list objects). This happens at the end of the PDA currently, just to promote compatibility with other c

[2015-08-06 15:19] mdietze commented on #536
I agree with passing this through settings, not a new arguement.

Not sure that this choice is the same as testing vs archive -- we're still archiving the model runs here, just not the raw output.  I think an arguement could be made for making this the default for sipnet, especially if we could go through the sipnet.out to make sure no output variables are dropped in conversion.

[2015-08-06 15:37] rykelly opened #598 "Specify posterior to run.write.configs"
I have recently changed two things about how `run.write.configs()` decides on the parameter distributions to use for generating EA/SA samples, and I want to solicit opinions. The changes have been merged (***************), but I don't think anyone's using them so you probably haven't noticed.

Previously, the code was simple: it would use `pft/*/post.distns.Rdata` if the file existed, or `pft/*/pr

[2015-08-06 17:34] ryankelly-uiuc commented on #536
On second thought, @robkooper is there any reason to assign a default of FALSE, rather than just
[code]

?

[2015-08-06 17:52] robkooper commented on #536
Just so it is clear when somebody reads the pecan.xml file and not have to dig through the code to try and find out what the default is.

[2015-08-06 17:56] ryankelly-uiuc commented on #536
OK, makes sense. So just have `read.settings()` assign the default value of FALSE?

[2015-08-06 17:59] mdietze commented on #593
I've put the example met and code from Caitlin Moore <caitlin.moore@monash.edu> at /fs/data3/metTest on the PEcAn server. These data are not public so are not being added to the PEcAn database at this time.

[2015-08-06 18:04] robkooper commented on #536
yup

[2015-08-06 22:28] dlebauer opened #600 "load.bety.sh ERROR: relation "schema_migrations" does not exist"
On the PEcAn v 1.4.3 VM, when I run

[code]

I get the error

[code]

How do I either create the table or fix the schema in the database?

[2015-08-06 22:30] robkooper commented on #600
This means the database is not created yet. Use:
`sudo -u postgres ./scripts/load.bety.sh -c YES -f YES`
see
`sudo -u postgres ./scripts/load.bety.sh -h`

[2015-08-06 22:30] #600 closed

[2015-08-06 22:35] dlebauer commented on #600
thanks.

I had read the help and but didn't realize I needed to add `YES` after the `-c` flag, and `-f` says `should not be needed`, so I had tried `sudo -u postgres ./scripts/load.bety.sh -c` but not `-c YES -f YES`.

[2015-08-07 13:29] #536 closed

[2015-08-10 13:11] mdietze commented on #352
I've set up the most basic BETY records for CLM4.5 and confirmed that it can be installed on the VM. @tonygardella needs to repeat this independently, confirm that we can do a site-level test run for one of Dan's default sites, and then start working on how to replicate that run within PEcAn by writing write.configs.CLM45 and model2netcdf.CLM45. The first run should not accept any parameters and s

[2015-08-10 18:54] bcow opened #602 "Add time zone field to BETYdb, default to UTC"
Should have a time zone field.

[2015-08-10 18:57] bcow opened #603 "PEcAn web date formats"
Once the site files have time zones defined and defaults for dates is set to UTC (#602), we need to verify that the dates are working properly in the web interface (and with conversion functions).

[2015-08-10 19:02] dlebauer commented on #602
Allow any TZ on [this list](https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations), or excluded daylight savings time?

[2015-08-14 16:01] #264 closed

[2015-08-17 14:13] serbinsh commented on #589
I guess not as I am still having ensemble errors, I think only when I use advanced options.

[code]

[2015-08-17 14:26] serbinsh opened #604 "Change PEcAnRTM to PEcAn.RTM"
Chance description to PEcAn.RTM to be consistent with other PEcAn modules.  Make sure this change doesn't break code.

[2015-08-17 14:56] dlebauer commented on #604
I believe you are just referring to the package name? If so, this _can be closed_ since names with periods are not allowed by Rcpp.

Per #391, #393, this name was used because Rcpp does not allow a period in the package name.

One of the non-backward compatible changes proposed for v2.0 (#392) is to remove periods from package names (and to write "pecan" in lowercase to separate from package funct

[2015-08-17 15:56] #604 closed

[2015-08-17 16:07] mdietze commented on #589
Can you verify all the .nc model output files were generated but the RData was not?

[2015-08-17 18:01] serbinsh opened #605 "localhost+qsub through web interface"
I am having an issue launching qsub runs through the web interface when running on localhost.  Our server launches jobs through the main cluster manager on localhost, which works OK when using PEcAn through command, but fails through the interface.

[code]

options in XML are:

[code]

[2015-08-17 18:02] serbinsh commented on #605
@Viskari @robkooper

[2015-08-17 18:02] serbinsh commented on #605
Need to modify this bit, according to @robkooper
https://github.com/PecanProject/pecan/blob/master/settings/R/read.settings.R#L681

[code]

[2015-08-17 18:04] robkooper commented on #605
I think we can just remove the qsub and leave the localhost

[2015-08-17 18:04] serbinsh commented on #605
Good idea....I can make the change and test here.

[2015-08-17 18:38] dlebauer commented on #373
this is fixed now - I didn't add the test script to the repository because it duplicates the existing `ebi-forecast.illinois.edu.sipnet.xml`, but [this is the file](https://gist.github.com/dlebauer/81e674c8a4e2789dc50a) I used to check the new migrations.

[2015-08-17 18:38] #373 closed

[2015-08-18 12:43] ryankelly-uiuc commented on #589
Just to chime in... @serbinsh since you said on the PEcAn call yesterday that you're working through some other issues too, I'm not going to attempt to reproduce this error for now. Keep me posted though.

[2015-08-18 12:47] serbinsh commented on #589
Yup.  I will let you know.  I expect to make some minor updates today and push them up.  At that time I should know if it is working well or if I am still getting errors.

Shawn

[iPhone]

On Aug 18, 2015, at 8:44 AM, ryankelly-uiuc <notifications@github.com<mailto:notifications@github.com>> wrote:

Just to chime in... @serbinsh<https://github.com/serbinsh> since you said on the PEcAn call yesterd

[2015-08-21 20:11] robkooper commented on #602
Keep in mind that some of the names are not unique (look at CST with 5 different definitions). Also how do want to deal with daylight savings times?

[2015-08-21 20:24] robkooper commented on #602
The BETY web app is right now always set to CST (no daylight savings), which is -6 hours from UTC. This is set in `config/application.rb:` (config.time_zone = 'Central Time (US & Canada)')

[2015-08-21 20:25] dlebauer commented on #602
Is there any argument against using [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)?

It is a widely used standard format and [supported by Postgres](http://www.postgresql.org/docs/9.1/static/datatype-datetime.html).

![image](http://imgs.xkcd.com/comics/iso_8601.png)

[2015-08-21 20:41] robkooper commented on #602
Normal ISO is : "YYYY-MM-ddTHH:mm:ss.sssXXX"

YYYY = 0000-9999 year
MM = 01-12 month
dd = 01-31 days
HH = 00-24 hour
mm = 00-59 minutes
ss.sss = 00.000-59.999 seconds.miliseconds
XXX = timezone

The last part is really the trouble. This should be written using the +6:00 to indicate 6 hour offset from UTC, but this does include day light savings, which I'm not sure we want, so we should make sure w

[2015-08-21 21:08] mdietze commented on #602
I thought we agreed that UTC should be the default to start, and the we should add the option to specify an alternative.

[2015-08-21 21:28] dlebauer commented on #602
ISO 8601 can be used to specify times in UTC, no?

Also, will this apply to all time fields in the database?

[2015-08-22 03:29] bcow commented on #602
Copied over from the email I sent to the pecan-dev list:

BETY Questions:

__Mike__: UTC

__Mike__: Default should be UTC

__Mike__: No, the string is ambiguous.  The integer is not

__Mike__:
Does: No
Should: debatable

[2015-08-22 03:32] bcow commented on #603
Copied form the email I sent to the dev-list:

PEcAn Questions

__Mike__: We should assume UTC as a default, but check for what the actual time zone is that was specified

__Mike__: Default should be UTC but yes, the user should have the option of specifying something different

__Mike__: Yes, but if the user specifies the input is in MST then it should only need that one year

__Mike__: This is m

[2015-08-27 19:55] Viskari opened #609 "Difficulties running pecan with new variables"
I've been trying to do sensitivity analysis with new variables with pecan and I am running in to a problem I don't understand. I created the variable in the database as well as a prior for it, added it to the PFTs. This far it worked and I could run pecan without difficulties, but when I added them to trait.directionary.csv, I start getting the following error message:

015-08-27 15:14:06 INFO   [

[2015-08-27 19:57] serbinsh commented on #609
@Toni, did you also update the history.csv file in PEcAn?

[2015-08-27 20:19] Viskari commented on #609
Yes.

On Thu, Aug 27, 2015 at 3:57 PM, Shawn P. Serbin <notifications@github.com>
wrote:

[2015-08-27 21:26] Viskari commented on #609
Found the error.

[2015-08-27 21:26] #609 closed

[2015-08-27 21:27] Viskari commented on #609
One of the description in trait.dictionary had a double "" before description.

[2015-08-27 21:33] serbinsh commented on #609
Thanks for adding a bit more info to the solution here!

------------------------------------------------------------------------------
Shawn P. Serbin
Biological, Environmental & Climate Sciences Department
Brookhaven National Laboratory
Upton, NY 11973-5000

Phone: +1-631-344-3165
Fax: +1-631-344-2060
Email: sserbin@bnl.gov<mailto:sserbin@bnl.gov>
Bio:  http://www.bnl.gov/envsci/bio/serbin-shawn

[2015-08-27 22:09] dlebauer commented on #609
for the record, trait.dictionary is a remnant (hack) from the original
version of PEcAn 1.1. The strange tab-delimited / quoted formatting
required by R for a csv file stored in the data/ directory makes the file
cumbersome (and error-prone) to update.

Perhaps time to revisit this issue (still in Redmine as #945 from 2012)?

https://ebi-forecast.igb.illinois.edu/redmine/issues/945

[2015-08-27 22:59] serbinsh commented on #609
Yes!  Let's get past trait dictionary once and for all.

[iPhone]

On Aug 27, 2015, at 6:10 PM, David LeBauer <notifications@github.com<mailto:notifications@github.com>> wrote:

for the record, trait.dictionary is a remnant (hack) from the original
version of PEcAn 1.1. The strange tab-delimited / quoted formatting
required by R for a csv file stored in the data/ directory makes the file
cumbersom

[2015-08-28 01:41] bcow opened #610 "calc.metrics"
This function does the actual calculation of the benchmarking scores and can be done locally or on a remote server.

input
- input.data.path
- formats.table
- variables (optinal)
- dates (optional)
- sites (optional)
- output directory that will have all sub directories for each run
will ultimately need to find these folders out of all content in the directory
- metrics

output:
- data.frame (or l

[2015-08-28 01:42] bcow commented on #610
@tonygardella can you add this to the benchmarking milestone?

[2015-08-28 01:49] bcow commented on #207
Updated: ( see issue #610 )

Input: settings object (from start.benchmark.runs, database connection)

Output: results (list/dataframe) containing anything that will be reported in report.benchmarks (issue #209 )

Operation:

Query
- query benchmark_reference_runs for benchmark_id's
- For each benchmark (specifies input and variable IDs)
  - query benchmarks for metrics, variable, sites, dates, and

[2015-08-28 18:54] #516 closed

[2015-08-28 18:54] #545 closed

[2015-08-28 18:56] Viskari commented on #478
This should now be all included in the mainline and functions as should.

[2015-08-28 18:56] #478 closed

[2015-08-28 18:57] #595 closed

[2015-08-28 19:20] Viskari opened #611 "Computing sensitivity: how is it done now, and what other options can be implemented?"
As I've been going through the results for our analysis with the radiation parameters, I have been bothered by a somewhat basic question. When pecan prints out the quantile values, how does it determine those values? The quantile values don't match the file outputs, yet the sensitivity parameter seems to be calculated as the difference between the highest and lowest quantile values in the output.

[2015-08-28 21:32] dlebauer commented on #611
What is _supposed_ to happen is for the sensitivity to be computed at the median value. This is done by the function `get.sensitivity` on line 62 of `[modules/uncertainty/R/get.sensitivity`](https://github.com/PecanProject/pecan/blob/master/modules/uncertainty/R/sensitivity.analysis.R#L62)

[code]

I will go ahead and use this as an opportunity to migrate Redmine issue ... this was to change the s

[2015-08-28 22:08] dlebauer commented on #516
Is there value in making sure that we get valid results with ED.r81? (beyond the ideal case where my original Switchgrass analyses could be reproduced).

Your comment "I need to add something somewhere, but I don't quite know what and where." seems inconsistent with marking this issue closed ...

If there is value in getting the particular version to work, it would be worthwhile to reopen this iss

[2015-08-28 23:33] Viskari commented on #516
Sorry about the lack of comment on the matter. It turned out to have been
an issue with ED2 and the varying versions of going around. It wasn't
actually an issue with PEcAn, which is why I forgot this issue before going
through the list today.

The current version of r81 should work fine, since there is nothing
actually added to it and the way the pecan code was adjusted was that it
will stil read

[2015-08-28 23:37] Viskari commented on #611
The median value was something I was slightly struggling with there, as I
couldn't figure out what the median value was for. Is it the median after
half of the values have been summed together?

On Fri, Aug 28, 2015 at 5:32 PM, David LeBauer <notifications@github.com>
wrote:

[2015-08-29 01:19] dlebauer commented on #611
Where does the sum come in?

[2015-08-29 19:41] Viskari commented on #611
That is actually my question here, as the sensitivity value can't be the median of the vector values. The maximum value of FMEAN_NPP_PY for this run is 8.96 units. The quantile value for that run pecan prints out is 8036.165 units when looking at the NPP sensitivity. So based on this median cannot be the median value of the vector of values, so what is it the median off? When writing the question

[2015-08-31 13:08] mdietze commented on #611
@Viskari I'm having a hard time following your questions, but the sensitivity analysis in PEcAn is documented in quite a bit of detail in the LeBauer et al Ecological Monographs paper.

The sensitivity analysis is done as a one-at-a-time analysis holding all parameters at their posterior median except the one being varied. The varied parameter is changed to the quantiles you specify. For convenien

[2015-08-31 15:00] Viskari commented on #611
I understood all of that before, which was why I was having difficulties
understanding the sensitivity analysis results pecan was outputting as it
didn't seem to match with that. However, we think we have figured out what
is causing the issue.

The unit of the FMEAN_NPP_PY vector produced by ED2 is kgC/m2/yr while
pecan output unit is kgC/m2/s. However, when pecan runs the unit conversion
in model

[2015-08-31 15:11] mdietze commented on #611
model2netcdf.ED2 should output units in the PEcAn standard (which is at this moment still equivalent to the MsTMIP standard).

The sensitivity is calculated at the MEDIAN PARAMETER VALUE, it is not the median of the outputs. The output being analyzed is the mean output over whatever variable and time window you specify.

[2015-08-31 15:35] Viskari commented on #611
My point on model2netcdf.ED2 was that when it runs the unit conversion, the
unit conversion assumes ED2 output variables to be something they are not.
Hence my question was that are there any issues with me just changing how
model2netcdf.ED2 does the unit conversion for git version of ED2?

As for the second part, this still confuses me as my discussion so far has
been on the quantile values, wher

[2015-08-31 15:47] dlebauer commented on #566
@robkooper do you have any examples or suggestions for setting up the modellauncher?

From the [read.settings function](https://github.com/PecanProject/pecan/blob/master/settings/R/read.settings.R) I see that it has the following tags:

* `binary` optional, default is 'modellauncher'
* `qsub.extra` required, how can I determine this?
* mpirun (optional, default is 'mpirun')

(These are used in the

[2015-08-31 17:36] dlebauer opened #613 "How can I compile modellauncher?"
In attempting to solve #566, I tried to compile [modellauncher](https://github.com/PecanProject/pecan/tree/master/utils/modellauncher) on roger-login.ncsa.illinois.edu

### On Roger

When I try:
[code]

I get

make: mpicc: Command not found

If I load mpich:

[code]

I get (the same as `gcc modellauncher.c`):

modellauncher.c: In function ‘main’:
modellauncher.c:65: error: ‘MPI_COMM_WORLD’ undecla

[2015-09-01 01:41] dlebauer commented on #613
@taolin1 @haohuuiuc let's look at this tomorrow. @robkooper can you join in the afternoon?

[2015-09-01 02:00] robkooper commented on #613
think so, check my calendar.

[2015-09-01 15:40] fabeit opened #615 "VM boot partition is full"
I have been using the pecan vmbox where I loaded lubuntu and where I have been installing small software. Unfortunately I think the boot partition is too small at around 300 MB. Now my boot is full and I had to manually delete old kernels. I also tried to extend boot using gparted but it is not possible to shrink the main 100 GB partition. I wonder if there is a way to shrink the main partition an

[2015-09-01 15:54] dlebauer opened #616 "Alternative methods for computing sensitivity"
Migrated from  [Redmine issue 667](https://ebi-forecast.igb.illinois.edu/redmine/issues/667)  via github #611

---

Sensitivity is currently computed at the median value. This is done by the function `get.sensitivity` on line 62 of [`modules/uncertainty/R/get.sensitivity`](https://github.com/PecanProject/pecan/blob/master/modules/uncertainty/R/sensitivity.analysis.R#L62)

[code]

We can provide ad

[2015-09-01 16:00] robkooper commented on #615
/boot is where the kernels are kept, and is small on purpose. There is no need to keep a lot of kernels. You can easily remove them with `apt-get purge --auto-remove`. This will show you what will be removed, and should be all the old kernels.

The 100GB is mounted at / and is where you will install all the software on.

[2015-09-01 16:21] ankurdesai commented on #340
Technical release is out: http://technical-release.fluxdata.org/2015. Direct access to .zip file with gap-filled half-hourly, daily, weekly, monthly, annual meteo (from 1989 to 2013), NEE, and energy fluxes, with uncertainty calculated and propagated and QC flags is available by ftp: ftp.fluxdata.org/.fluxnet_tech2015_23568/

New goals:
Download_fluxnet_TR  - similar to Ameriflux
  download .zip f

[2015-09-01 16:53] mdietze commented on #340
If you haven't already done so, you'll want to start by creating a Formats record for this new format.

The download function should do first 3 steps you outlined (download, unzip, discard) but also insert those raw files in the database (Inputs and dbfiles).

If both those are done then in theory met.convert should be able to handle the rest using met2CF.CSV and you shouldn't have to write a form

[2015-09-01 22:03] mdietze opened #617 "meta2format.[std] and format2meta.[std]"
This issue proposes the creation of a set of functions for creating formats and formats_variables records from standard metadata formats, such as EML (e.g. meta2format.EML), and a second set of functions which does the opposite, exporting metadata records out of PEcAn into standard formats.

The arguments to the first would be the input file and new Formats.name

The arguments to the second would

[2015-09-01 22:11] mdietze commented on #610
@robkooper Another thing to note on this issue -- in the PEcAn2 proposal we discussed the possibility of a REST API being used not just for getting whole or partial files, but also for moving calculations to where the data is. Betsy and I discussed this function as playing an initial role in that approach -- essentially limiting the set of possible remote computations that are allowed to those tha

[2015-09-01 22:37] dlebauer commented on #613
fixed by #614

[2015-09-01 22:37] #613 closed

[2015-09-01 22:59] dlebauer commented on #566
### Answer

1. compile model launcher on HPC

[code]
2. add the following to settings file

[code]
3. Proceed as usual

[2015-09-01 22:59] #566 closed

[2015-09-01 23:26] dlebauer opened #618 "Is the `<run><modellauncher><qsub.extra>` tag necessary? Should it be required?"
The model launcher requires a qsub tag to work,  (following code can be found at https://github.com/PecanProject/pecan/search?q=qsub.extra)

Start model runs has

[code]

and read.settings says this tag is required

[code]

Unless there is a case where a users would prepare a settings file to work with or without the model launcher (at present, each machine / queue requires a separate file), can w

[2015-09-02 02:29] dlebauer commented on #617
related to ropensci/traits#16

[2015-09-02 04:25] dlebauer commented on #566
opened new issue "when would a user use the `<qsub.extra>` tag?" (#618)

[2015-09-02 14:32] ankurdesai commented on #351
@jsimkins2

[2015-09-02 14:32] ankurdesai commented on #340
@jsimkins2

[2015-09-02 15:33] dlebauer commented on #566
update: successfully finished a set of calibration runs for Miscanthus across IL on Roger using model launcher for 3500 independent jobs divided into 7 batches...

Thanks @robkooper

[2015-09-03 10:38] ryankelly-uiuc commented on #588
Any thoughts on how to resolve this, @robkooper ? I'm still unable to reliably run a long analysis without this error occurring. I can continue to work around it, but it would definitely help my project if we could get a permanent fix in place.

[2015-09-03 11:38] dlebauer commented on #588
Not a permanent fix, but I think we have started syncing lots of provenance
(runs) rows that are from test runs and could be deleted. Removing these
could at least speed up the sync.

Otherwise, is there a way to pause the workflow during the sync, like
'while I get this error, sys.sleep()'?

[2015-09-03 13:09] ryankelly-uiuc commented on #588
Yes, I think that I could write a fix on my end along these lines. Probably we could even add something to `db.query()` that would solve it generally. But I think from previous discussions with @robkooper that he has something in mind on the DB side.

[2015-09-03 13:43] robkooper commented on #588
My goal is to find out why this is happening, it should not anymore since I am using transactions. I will need to look. One option is to use smaller transactions.

[2015-09-03 19:58] Viskari opened #619 "Printing out values from model2netcdf.ED2.R"
As I've been trying to figure out why some of the outputs I'm getting out of my pecan runs with ED2 are somewhat odd, I've been trying to follow the variable through the code and have pecan print out the variable value at given points of the code.

However, for some reason, I can't get the code to do that. For example, if I add the following line in the code:

debug.logger(getHdf5Data(ncT, 'FMEAN_

[2015-09-08 23:09] dlebauer opened #620 "better handling of 'test' runs"
R got hung on `read.settings`. This was resolved by running `delete from runs where id < 10000`, deleting the first 10k rows of runs.

I went through and deleted a few hundreds of thousands more rows (e.g. `delete from likelihoods where id > 1000000; delete from runs where id > 1000000`, etc.

Not only did the database get hung, but having so many extra rows makes it take longer to sync the databa

[2015-09-09 03:20] dlebauer commented on #600
Does this work ?

[code]

[2015-09-09 09:29] mdietze commented on #620
I agree that there's a lt of test runs that can be deleted, which is why we explicitly added a delete button in the history table. Moving forward folks need to do a better job of clearing out unsuccessful runs. Looking backward, it would be good to have a script that can clear out unsuccessful runs on ones own server that are older than some specified date (one might want to keep recent unsuccessf

[2015-09-09 16:24] McClellandKemp commented on #618
For the P.S. see the explanation tab of:
https://regex101.com/r/uK9vD0/3

![perlexplain](https://cloud.githubusercontent.com/assets/5316929/9767740/4fd3c18e-56e5-11e5-84d8-635eac30acad.PNG)

(Use FireFox, sometimes Chrome balks)

[2015-09-10 13:52] Viskari commented on #619
Figured it out, it prints out those values in the individual run logfiles instead of showing them during the larger printout.

[2015-09-10 13:52] #619 closed

[2015-09-11 03:45] dlebauer opened #622 "Document mstmip_vars and mstmip_local data sets."
The mstmip data embedded in the utils package contains the following fields, but I can not find the documentation. What do the fields mean, and how are they used?

[code]

These datasets can be documented using oxygen as described in Hadley's chapter on data in R packages. http://r-pkgs.had.co.nz/data.html

[2015-09-11 09:45] mdietze commented on #622
http://nacp.ornl.gov/MsTMIP_variables.shtml

[2015-09-12 04:51] dlebauer commented on #622
Here are the mstmip_vars (from MsTMIP) and mstmip_local (ad-hoc definitions) datasets. Some fields arent clearly described (e.g. 'priority', 'group', 'order', 'Saveit'). I assume 'Num' is the unique row identifier (?).

I'd suggest the following for `mstmip_local` variables.

1. remove duplicates
2. Add human-readable versions of variable names to the Long.Name field
3. Update Category field (curr

[2015-09-13 03:56] ashiklom opened #624 "Merge Shawn's R-FieldSpectra into PEcAnRTM"
Would it be a good idea to merge the @serbinsh repository [R-FieldSpectra](https://github.com/serbinsh/R-FieldSpectra) into the RTM module? I think it would make sense in terms of enabling users to use a single package to process their field data and perform inversions. Moreover, if I'm going to be adding tools later for working with AVIRIS data, they could go hand in hand with the stuff Shawn's d

[2015-09-13 04:35] ashiklom opened #625 "Gitter as a possible HipChat alternative"
I just stumbled across [Gitter](https://gitter.im), a free chat client with very tight GitHub integration. There is a nice overview of it on [Wikipedia](https://en.wikipedia.org/wiki/Gitter) and a bit more information on [their own website](https://gitter.im/home/learn). You set it up by linking it directly to a GitHub repository (via GitHub's own OAuth scheme), and it basically gives you all the

[2015-09-13 18:52] dlebauer commented on #625
I just took a look and it looks promising. We should discuss at the next
teleconference

On Saturday, September 12, 2015, Alexey Shiklomanov <
notifications@github.com> wrote:

[2015-09-14 02:04] dlebauer commented on #624
One thing to consider when determining the scope of a package is modularity. There are many times that it is preferable to keep a package independent. It is not always clear how to split things, and the units should be large enough to

 [Wilson et al 2014](http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745) make two related points at the scale of functions, but I think th

[2015-09-14 11:50] mdietze commented on #624
In terms of modularity and scope, I think it makes sense to combine and rename (since the scope would then be greater than just RTMs). Indeed, there's already been confusion among potential users between the two packages, and combining will probably make it easier to maintain.

The other part of scope to consider is ecosys -- will that database be generating it's own dedicated R package? If not, w

[2015-09-14 17:23] mdietze opened #626 "Add model interface for PRELES"
PRELES is a simple ecosystem model that's being used as part of the COST PROFOUND Action. I'd like to add it to PEcAn so that it can serve as a template for other models in PROFOUND and so that we can use it in the 2016 edition of the PROFOUND Spring School. An R-based interface for calling the model already exists:

PRELES(PAR, TAir, VPD, Precip, CO2, fAPAR, params)

[2015-09-15 17:09] Viskari commented on #611
I was able to figure out why the results I was getting out were so weird and while I was able to address it, it did raise another issue for me.

I was under the impression pecan only did the unit conversion once, in model2netcdf, which converts carbon fluxes to kgC m-2 s-1, but it actually does it twice? With get.results converting the flux values to kgC ha-1 yr-1, while Shawn and I were under the

[2015-09-15 20:18] tonygardella opened #628 "PEcAn 1.4.3 testing failures"
The Milestone for 1.4.4 is coming up and these 1.4.3 testing failures (listed on google sheet in devgroup) have not been fixed to my knowledge:

met.process: local ameriflux Ameriflux ED (run dies with nonsense CO2: 3.80000E-10)

met.process: local ameriflux Ameriflux SIPNET (Remote execution not yet supported through Browser; no remote hosts registered on VM)

met.process: BD NARR ED  (lat/lon bu

[2015-09-15 20:20] dlebauer commented on #628
@tonygardella which google doc are you referring to?

[2015-09-15 20:33] tonygardella commented on #628
@dlebauer just sent you an invite to the google sheet.

[2015-09-16 11:19] mdietze commented on #611
model2netcdf only does the conversion once, from the model native format to MsTMIP.

The analysis routine converts to kgC ha-1 yr-1 for the purpose of visualization because that's the units that people are much more accustomed to thinking about. Actually, you should double check the units as it might be MgC/ha/yr, which is an even more common unit.

[2015-09-16 14:24] ankurdesai opened #629 "Web interface site subselection"
As the site table grows leaps and bounds, the web Google Map interface is becoming cluttered. One can't even click on a new site without zooming significantly. Or find a specific network (Ameriflux). So the request is the to make sites subsetted in the map view by network. I wonder if we need a networks table and the ability to map a site to multiple networks or projects (NEON, Ameriflux, LTER, Ma

[2015-09-16 14:32] robkooper opened #630 "pecan runs should only be allowed for internal users"
Anybody with BETY account can see history, only those with internal >3 should be able to create new runs.

[2015-09-16 14:33] robkooper opened #631 "filter history"
Should have ability to filter runs by only those that are finished/running.

[2015-09-16 14:40] serbinsh opened #632 "Reading PFT names within web interface to model runs"
We need to provide either a resizable window or a hover-over option to show the full PFT name when selecting in the web interface

[2015-09-16 14:56] serbinsh commented on #628
Ditto @tonygardella can you send to me as well?

[2015-09-16 15:05] tonygardella opened #633 "PEcAn 1.4.3 local Ameriflux ED failure"
The notes of the test were:

run dies with nonsense CO2: 3.80000E-10

[2015-09-16 15:10] tonygardella opened #634 "PEcAn 1.4.3 BD NARR ED failure"
The notes of the test were:
lat/lon bug-
[code]

[2015-09-16 15:22] robkooper opened #635 "create a pecan-dev machine"
This machine will run the latest code from PEcAn and will be automatically updated. The database will sync automatically with all the servers. This should allow anybody to quick test their code that is merged in the main branch.

The server pecan will only be updated when a new release of pecan is created.

[2015-09-16 15:51] ankurdesai commented on #633
This looks like a umol CO2/mol air to mol CO2/mol air conversion happened twice. Since 3.8e-10 * 1e6 * 1e6 = 380 ppm, which is not nonsense. If expected unit is mol/mol, then it should be 3.8e-10 * 1e6 = .00038. There must be a pesky, extraneous 1x10^6 hiding somewhere, probably in met2model or alternatively in reading ameriflux. It could be a problem with the underlying source data...

[2015-09-16 16:10] robkooper commented on #634
Can you give me the pecan.xml, or at least the site.

[2015-09-16 16:24] tonygardella commented on #634
The site was Niwot Ridge: US-NR1

[2015-09-16 16:25] tonygardella commented on #628
@serbinsh sent it to you too

[2015-09-16 16:55] dlebauer commented on #630
I think that should be <3

On Wednesday, September 16, 2015, Rob Kooper <notifications@github.com>
wrote:

[2015-09-16 17:01] dlebauer commented on #631
Perhaps also sort by run date or present runs from local machine at top
rather than current by id, descending.

On Wednesday, September 16, 2015, Rob Kooper <notifications@github.com>
wrote:

[2015-09-16 17:52] tonygardella opened #636 "Communication Platform: Necessary attributes"
This is to compile a list of attributes people would like to have in a possible new communication platform. Please comment with your thoughts.

[2015-09-16 17:55] tonygardella commented on #636
-Integrates with github and huboard. Possibly with google products.
-Chat function

[2015-09-16 18:08] mdietze commented on #629
filtering by network depends on the creation of the site network table in #271

[2015-09-16 18:14] mdietze commented on #631
I agree with sorting/filtering by date and ID and would add the ability to search/filter by model, site, and notes/tags (which depends on #134 which is the ability to enter notes and tags about ensembles)

[2015-09-16 18:31] dlebauer commented on #636
would be great if we had a place where everyone could take notes
simultaneously like google docs or etherpad. Not sure it needs to integrate
with the chat, though that could be nice.

On Wed, Sep 16, 2015 at 12:55 PM, Anthony Gardella <notifications@github.com

[2015-09-17 11:23] robkooper commented on #636
Priority based list
1) chat
2) integration with github
3) ability to leave comments on issues from chat
4) integration with sprint board
5) ability to take meeting nodes

[2015-09-17 11:33] mdietze commented on #636
I recall that gitter (and possibly others) listed integration with hubboard (sprint) and jenkins (the continuous build system that sends the "email of shame" when you break things) as features, but it would be worth clarifying what that actually means

[2015-09-17 11:44] robkooper commented on #636
if you look on the right side of the gitter ui you will see issues recently modified and jenkins build information.

[2015-09-17 12:44] mdietze commented on #505
@tonygardella I'm closing this issue but lets make sure that @serbinsh's request that we discuss soil databases gets on the agenda for some week this fall. See also issues #506 #229 and #350

[2015-09-17 12:44] #505 closed

[2015-09-17 12:48] mdietze commented on #636
Got it, I can see that show up now that I've addressed an issue. If we go with Gitter it appears we need to install something on Jenkins to allow that to be integrated too. Now that I see it in practice, I do see the advantages of this centralization over the non-integrated HipChat

[2015-09-17 12:55] robkooper commented on #636
I added the hooks for jenkins

[2015-09-17 14:25] Viskari commented on #611
I double checked it, it converts it to kgC/ha/yr.

However, even if we intend to run the conversion, shouldn't we try to do all of the in the same place, especially since the output pdfs, at least the ones I'm getting, don't have the metrics on the y axis. So for example here, after I checked the units from model2netcdf and just assumed those would be what the values would be in.

[2015-09-17 19:13] ankurdesai commented on #636
Just general notes, perhaps with a few sub-folders - one for telecon agendas/minutes, one each for major subprojects on going. But would be nice to have email notification options for updates. Needs to be informal, unstructured, easy to edit and search.
and all of the above

[2015-09-17 19:14] robkooper commented on #635
The server is at http://pecan-dev.ncsa.illinois.edu/pecan the log files are at http://pecan-dev.ncsa.illinois.edu/pecan/build.log

will always run the latest version of PEcAn so it could be broken. Every 15 minutes it will see if there are any updates, if so it will update PEcAn. This allows all of us to test the web interface with the latest version of the PEcAn code, without having to deploy it

[2015-09-17 19:18] #635 closed

[2015-09-18 14:06] Viskari commented on #611
And as a slight addition, I actually noticed that pecan does actually give NPP units in the ensemble graphs, it just gives them as kgC/m2/s, which as far as I can tell, isn't the correct unit.

[2015-09-23 13:54] jam2767 commented on #633
Here's what's happening. met2cf is taking umol/mol (ppm) * 1e6 instead of umol/mol / 1e6. This means values are 3.8e8 instead of .00038. Metgapfill is doing things correct and inserting 380/1e6 where data are missing. Then met2model is taking the gapfilled values, which are correct, and dividing by 1e6, giving us the 3.8e-10.

[2015-09-23 21:38] ch1eroe1 commented on #453
It looks like some of the inputs.name fields are blank when testing this change.  Did we possibly mean to say to use the dbfiles.file_name field?  I am just trying to make sure I populate the drop down with the proper information.  See attachment for a sample query.

![image](https://cloud.githubusercontent.com/assets/12739945/10059588/7dcf9a04-6211-11e5-87a1-dcc59fc517b7.png)

[2015-09-23 21:41] ch1eroe1 commented on #594
I am going to close out this issue.  Code was checked in from pull requests 637 and 638.

[2015-09-23 21:43] #517 closed

[2015-09-23 21:56] mdietze commented on #453
Yeah, there's a bunch of old records that were created by hand that lack an
input.name but I think the solution is for us go go back and give them
meaningful names. The met workflow does fill in the input.name field. Up to
you whether you want to leave the blanks empty, substitute with the
file_name, or just use the current default 'weather' when building up the
menu names.

On Wed, Sep 23, 2015 a

[2015-09-23 22:12] robkooper commented on #453
Add a link to BETY if an input is selected, make sure to NOT link if Ameriflux, etc.

[2015-09-24 15:17] #585 closed

[2015-09-28 22:03] ch1eroe1 commented on #453
I can't seem to close this ticket.  Code has been merged into master repository.

[2015-09-28 22:16] #453 closed

[2015-09-29 17:30] #625 closed

[2015-09-29 17:31] #594 closed

[2015-09-29 19:18] #636 closed

[2015-09-29 19:18] #357 closed

[2015-09-29 21:13] mdietze commented on #628
@tonygardella I haven't seen pull requests resolving any of this, why was the issue closed?

[2015-09-30 01:17] tonygardella commented on #628
@mdietze I closed it because #633 and #634 were created. I figured that it would be redundant to have this and both of those.

[2015-09-30 14:12] #483 closed

[2015-09-30 15:13] tonygardella commented on #332
@jam2767 after #633 is closed can you check if this is still a problem?

[2015-09-30 17:07] robkooper commented on #615
Assuming this is fixed, if not please reopen.

[2015-09-30 17:07] #615 closed

[2015-09-30 17:16] robkooper commented on #630
Following needs to be inserted in config.php for this work:
[code]

[2015-09-30 17:16] #630 closed

[2015-09-30 17:18] robkooper commented on #631
simple filtering done to only show those runs that have a STATUS file (i.e. those done locally). This is part of 1.4.4, more filtering will happen in 1.4.5 and beyond.

[2015-10-02 19:42] araiho opened #645 "Generalizing Kalman Filter (sda.enkf)"
These are notes from a conversation with Mike and Betsy about how to generalize the kalman filter module. More specific tasks to come.

- sipnet specific clim split issue

- Loading Output
  right now -> read.output not sufficient
  generalize -> read.restart.[model] (path, when, what -> variable list)
    currently variables are hard coded
  reads into "forecast" nEns x nVar matrix

- Analysis

[2015-10-05 17:45] robkooper commented on #134
does it make sense to add this to the ensemble or the workflow.  To me it makes more sense to add it to the workflow since the note entered in the web interface is the same for all the ensemble runs. While the notes per ensemble are more uniquer for each ensemble run.

[2015-10-09 17:37] dlebauer commented on #175
This is a list of grass species and their mechanisms of photosynthesis.

Here are two options for encoding this information:

1. Create two PFTs called "C4 grasses" and "C3 grasses" and populate them based on these lists.
2. Add a field to the species table in BETYdb called something like 'photosynthesis_mechanism' that would allow values "C3", "C4", "C3+C4", "CAM", "unknown",  "other".
3. Create

[2015-10-09 20:23] mdietze commented on #175
I don't like option 1 because PFTs are model specific and I anticipate many models needing or wanting to subdivide these into finer PFTs by biome, crop, etc.

A 4th option would be to just register the data with the Inputs table and then look it up when and where it's needed. But given that it's 'trait' data I think the 2nd or 3rd makes more sense. I tend to lean towards 2.

[2015-10-12 15:54] robkooper commented on #134
Talked with @ankurdesai and decided to have web page add notes to workflow. This allows user to specify specific ensemble notes.

[2015-10-12 15:54] robkooper commented on #134
See https://github.com/PecanProject/bety/pull/358

[2015-10-14 14:47] dlebauer opened #648 "Design of met, climate, soil uncertainty architecture"
_draft_ ( ... feel free to update this part of the issue directly)

This issue is a placeholder for discussion that we need to have before creating a new milestone (1.5.1?) and specific tasks (met, climate, soil physical parameter) uncertainty

Overall, there are a few goals for this, following from how we treat parameter uncertainty:

* to quantify and propagate uncertainty (sensitivity analysis,

[2015-10-14 14:50] serbinsh commented on #477
Fixed

[2015-10-14 14:50] #477 closed

[2015-10-17 20:42] #484 closed

[2015-10-18 04:33] dlebauer commented on #506
Don't most of these variables exist in the CF list of standard names, e.g.

<img width="1069" alt="screen shot 2015-10-17 at 11 31 08 pm" src="https://cloud.githubusercontent.com/assets/464871/10562562/3a804ff4-7527-11e5-9332-f1835e5dac4d.png">

[2015-10-19 17:31] serbinsh opened #650 "Upgrading JAGS to 4.4.0 and rjags on RHEL"
Steps:
1) Install JAGS from source
2) Set new JAGS location in $PATH and/or modules
3) OPTIONAL - update ldconfig to location of new JAGS
4) Try installing rjags from CRAN:
[code]
4) If fails (above) then reload ldconfig
sudo ldconfig

[2015-10-19 17:42] #650 closed

[2015-10-20 14:49] mdietze commented on #506
Possibly, but we hadn't agreed on using netCDF CF for soils as well. That's definitely one option, especially if all variables are present. This issue is assigned to @serbinsh so I'll leave it to you and him to check whether CF has all the variables we need. File format remains an issue since we have multiple layers, vector vs raster data, and uncertainties

[2015-10-20 20:00] serbinsh opened #651 "New warnings in workflow.Rout from web interface"
After recent updates to PEcAn I am see these warnings in the workflow.Rout file on our server during the start.model.runs() section of the code:
[code]

[2015-10-20 20:01] serbinsh commented on #651
@mdietze or @robkooper Do you see this in your log as well?

[2015-10-21 03:43] dlebauer commented on #506
Note that while though netCDF recommends using CF, CF doesn't require using netCDF.

[2015-10-21 14:31] #632 closed

[2015-10-21 15:09] serbinsh opened #652 "Issue with qsub runs from web interface"
After updated to the latest commit of PEcAn, I tested a local qsub job from the web interface.  I ran part of the way through but failed during the execution of the jobs.  It appeared to submit them as they showed up in qstat:

[code]

But completed almost immediately and there were a lot of warnings in the workflow.Rout file:

[code]

Jobs show up
[code]

But never ran:
[code]

Nothing in the out

[2015-10-21 15:32] Viskari commented on #652
I actually had a similar problem, if you remember Shawn, although I don't
know for certain it is the same issue.

With me, on our server, if I ran the workflow with the output directory
being anything else than pecan, it did the same thing when running qsub.

On Wed, Oct 21, 2015 at 11:09 AM, Shawn P. Serbin <notifications@github.com>
wrote:

[2015-10-21 15:52] serbinsh commented on #652
@Viskari I don't know if you ever actually told me this issue, i.e. using a different output folder. I have been using different output folders with no issue?  Or at least I had before when running at command line.  I don't know if that is the issue.

[2015-10-21 15:55] serbinsh commented on #652
Hmmm.  Here is what happens if I try to run one of the job.sh bash scripts?
[code]

[2015-10-21 16:01] serbinsh commented on #652
Sequential launch appears to still be working:
[code]

Albeit still with the warnings I posted about in issue #651

[2015-10-21 16:03] robkooper commented on #652
Looks like the nodes in the cluster do not have access to /data/Model_Output/pecan.output/PEcAn_2000000034/pecan_remote/2000000034/run/2000001614/

[2015-10-21 16:05] serbinsh commented on #652
Yes, but that is confusing 1) because this is the same machine (i.e. localhost) and 2) because sequential runs have not issue with permissions?

Therefore, I need to determine why qsub runs appear to have permission issues.

[2015-10-21 16:09] serbinsh commented on #652
Trying to run as sudo doesn't result in anything....trying to see if I have permission whether it would work.  It fails to launch as root.

[2015-10-21 17:14] #651 closed

[2015-10-21 17:14] robkooper opened #653 "Allow to specify specific qsub options"
Would be nice to allow to specify qsub options for each specific host in the web interface.

[2015-10-21 17:15] serbinsh commented on #651
@robkooper is this not an issue?  Or merging with #652?

[2015-10-21 17:15] robkooper commented on #653
Added new section to config.php:

[code]

[2015-10-21 17:15] #653 closed

[2015-10-21 18:05] serbinsh opened #654 "Error launching PEcAn from web interface"
@robkooper following the recent update to PEcAn #653 I am getting this error:

[code]

[2015-10-21 18:11] serbinsh opened #655 "X-Frame-Options vulnerabilities with PEcAn interface (FAQ)"
In some instanced vulnerability scans will identify issues related to a certain class of web application vulnerabilities (e.g. clickjacking) that relate to X-Frame-Options:

[code]

A potential solution identified by @robkooper can be found here:
https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options

[2015-10-21 18:11] #655 closed

[2015-10-21 18:14] serbinsh commented on #654
This seemed to happen after I added this to the config.php:

[code]
After removing this (commenting out) if moved past this but still ran into issue #652

[2015-10-21 18:49] serbinsh commented on #652
@robkooper
I have checked at the directories it is searching for in pecan_remote/out/ do exist and have the exact same permissions as all the other PEcAn dirs.  So I don't think this is a permissions issue.  Is it perhaps and issue related to the use of pecan_remote/out/ versus /out? Clearly the code seems to be giving it the correct paths but this error only happens with qsub runs?  Not sequentia

[2015-10-21 18:51] serbinsh commented on #652
For example, in the pecan.CONFIGS.xml it shows a different <rundir> and <outdir>
[code]

This does not match the path in the job.sh or where PEcAn is looking for the files on "remote"

[2015-10-21 19:22] bcow opened #656 "Bety formats header"
In the formats table, the header entry is set as character, should this be boolean? This has lead to some confusion in the database: some entries have header set to 1, some have a list of variable names and some have nothing. I think it would be simplest to keep this true/false and convert all the empty entries to 0.

[2015-10-21 19:38] bcow opened #657 "Defining NA values in formats table"
For entries in the formats table, could/should we have a field for NA notation in the data?
For example this could be "9999" or in smaller spread sheets it could just be blank.
Right now this is hardcoded in.

[2015-10-21 21:37] robkooper commented on #656
I think this should be an int, and indicates the number of header rows. Some csv files have 2 header rows.

[2015-10-22 01:05] mdietze commented on #656
Great point, that solves the problem Betsy and I were discussing earlier today of trying to detect when there's a second units row in the header

[2015-10-22 04:21] robkooper commented on #654
You need to escape the & and > symbols (\&amp; and \&gt).

[2015-10-22 04:24] robkooper commented on #651
See commit.

[2015-10-22 13:59] robkooper commented on #652
There are a bunch of folders, I'll use the R notation for the folers

settings$outdir == root of the workflow output
settings$rundir == location for run information (usually == settings$outdir/run)
settings$modeloutdir == location for run output (usually == settings$outdir/out)
settings$pfts[i]$pft$outdir == location for each pft (usually == settings$outdir/pft/<pft name>)
settings$run$dbfiles ==

[2015-10-22 17:21] serbinsh commented on #652
@robkooper
[code]
Rob I think this is valid if, like in my case, the local host qsub/or not uses shared storage across nodes, correct?  I assume that would always be the case?

[2015-10-22 17:25] serbinsh commented on #652
Also, in this case do you my "out" directory?  When using remote on localhost it looks like it created only 1 run directory but two different out directories.  One out is in the main output (i.e. where it would be for a regular sequential run on the submit node) and another here:

[code]

[2015-10-22 17:25] mdietze commented on #652
Would it be safer to say settings$run$host$runddir == settings$rundir if localhost AND settings$run$host$runddir has not been set manually to some other value? That way if someone really did want to run their jobs elsewhere then they'd have to manually set that during Advanced Edit, but otherwise this is a good default.

[2015-10-22 17:28] serbinsh commented on #652
@robkooper and @mdietze
Note also (with my comments from today above) the other output folder is created based on the <modeloutdir> tags:

[code]
This shows that same folder structure as in the remote folder but these sub-folders are empty

[2015-10-22 17:41] serbinsh commented on #652
I am taking a step back and confirming that qsub 1) runs are still working and 2) that I can send output to any folder using qsub.

[2015-10-22 17:46] serbinsh commented on #652
OK, qsub is still working on the server if I run the workflow.R from command.......Next is to try setting different model output dirs to make sure it can put output in other locations that the /pecan/ output folder using qsub

[2015-10-22 18:06] serbinsh opened #659 "Issue running PEcAn+qsub with output folder other than pecan/"
Both @Viskari and I have noticed a weird issue with PEcAn through command and submitting the jobs via qsub.  If we use pecan as the main output, everything works fine.  However, if say we use pecan.1 then the runs fail.  They fail without much any info in the log, etc. the whole workflow just stops but the last log entry in the workflow.log is PEcAn waiting for runs to finish?

Has anyone else eve

[2015-10-22 18:11] serbinsh commented on #654
Ahhhh..ok

[2015-10-22 18:14] bpbond commented on #654
@serbinsh are you not paying attention to this fascinating conference call, Sean?!?

[2015-10-22 18:16] mdietze commented on #654
@bpbond apparently neither of you are

[2015-10-22 18:17] bpbond commented on #654
Sad but true. OK, sorry to disrupt your thread, will return to lurking :)

[2015-10-22 18:19] serbinsh commented on #654
Hahahahaah!!!  Caught "byte" handed! @bpbond

[2015-10-22 19:55] robkooper commented on #659
so you specify pecan.1 as the outdir in the pecan.xml file?

[2015-10-23 14:11] serbinsh commented on #652
Next attempt to fix this did not solve the problem.  I modified my torque settings using qmgr to add apache as a "operator" thinking that my solve any issues with permissions, etc.  Here is my current config @robkooper

[code]

[2015-10-23 14:19] robkooper commented on #652
I would not set apache as qmgr, as long as it can start/stop jobs which it can, but does that user exist on the nodes and can it launch jobs there. I think we might want to have the user ssh into the machine so the job runs as shawn and not as apache.

[2015-10-23 14:22] serbinsh commented on #652
@robkooper I agree.  I was just adding apache as a test....didn't fix it.  Removing now.  However, I might be getting closer. I modified the <qstat> tags to reflect what I found works when running through command on our server:

[code]
versus the default:
[code]
Even though I made this change it didn't stick in the output xml?  But i noticed this error file in the outputs that had these two lines

[2015-10-23 14:45] serbinsh commented on #652
So I think I am getting closer:

[code]
Starting to get actually error messages

[2015-10-23 14:50] serbinsh commented on #652
Our server host is now modex.bnl.gov but we did keep the alias modex.text.bnl.gov....not sure where it is getting the modex.test.bnl.gov from  hostname -f gives modex.bnl.gov  but our qstat just shows the ID num and modex, e.g. 18992.modex  Could that be a problem?  THat is for some reason it can't find the jobs because they are named differently? @robkooper

Not sure if the ssh will work for us a

[2015-10-23 14:58] serbinsh commented on #659
@Viskari Please add details of the issue you are having here.  It is a related issue

[2015-10-23 14:58] serbinsh commented on #659
Yes, @robkooper in the pecan.xml file

[2015-10-23 15:03] serbinsh commented on #652
OK, probing the logs to see what might be going on:
[code]
...

[code]

...

[code]

[2015-10-23 15:16] robkooper commented on #659
Can you paste the broken pecan.xml file. I tried to use pecan.1 and it worked.

[2015-10-23 15:21] mdietze commented on #652
@serbinsh could you clarify what the following means:

"Not sure if the ssh will work for us as we would then need to get each person who wants to use our server a RSA token, etc. (I think)"

How do you current login to your cluster from your server if not by ssh? Does your cluster require 2 factor authentication as we were discussing for Yellowstone and Harvard?

[2015-10-23 15:46] mdietze commented on #654
@robkooper could you update the config.example, I just hit the same bug as Shawn when copying the example code into my config.php

[2015-10-23 15:46] #654 closed

[2015-10-23 16:03] mdietze commented on #605
@robkooper I'm getting essentially the same error when starting from pecan2 and trying to run on geo
[code]

As an aside, didn't we once-upon-a-time show error messages on 05-running.php? I'm a bit concerned that inexperienced users won't know when PEcAn's actually busy doing something versus when it's hit an error and they need to go look at the logs. If the error is just typing in the password w

[2015-10-23 16:04] serbinsh commented on #652
@mdietze If I want to login to our server we use ssh, but if offsite (outside firewall) we use a RSA token to ssh into the BNL network and then we can connect to the server.  My worry about having to ssh would be that other non-bnl users who hit our server (once it is outside the firewall) would need to have a BNL user account and token.  Or am I conflating multiple issues?

[2015-10-23 16:10] mdietze commented on #652
Ok, so you're envisioning the case where someone sets up THEIR pecan server to point to YOUR cluster, and thus they'd need to login with 2 factor authentication rather than just login/password? I can't envision that this would happen very often.

On the more general issue of who you allow to run on your cluster, that's entirely up to you, but yes they'd obviously need a login and password

[2015-10-23 16:21] serbinsh commented on #652
Currently users log on to the web interface but this is more about any requirement for ssh as well, at least from the interface....

[2015-10-23 17:29] Viskari commented on #659
To expand on this, at the moment I am able to run the workflow without any issues if the output folder is just pecan. However, if I change it to anything else, it will run it fine the first time through, but for some reason it doesn't run the executables the second time through.

So, for example, if I set the output folder to be pecanone and the variable of interest as Albedo, it will run everythi

[2015-10-23 18:26] robkooper commented on #659
ok that helps. The idea is that you have a new folder for each run. If you want to overwrite the data you can try and see what happens if you remove the STATUS file in the pecan file. This file keeps track of what has been executed sofar.

[2015-10-23 18:29] ryankelly-uiuc commented on #605
That's funny... I've been completely out of the loop but just got the same error (`Host key verification failed`) and came on here to see if it's been addressed before. Looks like Mike happened to be doing the same thing (trying to start runs on geo from pecan2), with the same outcome.

I did make progress running the web-interface-generated workflow.R (after chowning to myself, if that matters) f

[2015-10-23 18:47] robkooper commented on #605
Problem is that it fails before the status file is written. I'll try to add some additional checks in case this happens.

[2015-10-23 18:48] serbinsh commented on #659
OK @robkooper and @Viskari I think the next step is to see if the intended behavior still works in that if you re-run an analysis in the same folder but change the response, say from NPP to Albedo, it will skip all the steps except getting the model output and re-running the SA/VD steps.  So far, it sounds like this isn't working for you Toni.  However, it may be that you are using an older workfl

[2015-10-23 18:51] robkooper commented on #659
yes, it now checks to see if sensitivity analysis has been run. Can you see what happens if you remove the bottom two lines from the STATUS file.

[2015-10-23 18:57] serbinsh commented on #659
OK, will do. @Viskari can you also try this?

[2015-10-23 21:33] mdietze commented on #659
FYI, I was aware of this issue (rerunning SA/VD) and it's been on my to-do list since when we first put these in Advanced Edit rather than having to do the analysis in R. I just didn't make the connection between the folder name issue you were describing and what you were actually trying to do. I think the more generic solution is to move most of the ensemble, sensitivity, and uncertainty analysis

[2015-10-23 21:51] serbinsh commented on #659
OK @robkooper @mdietze and @Viskari I was just able to run the latest workflow.R from command using an output folder of pecan.1  I might have fixed this particular issue with some updates to the torque system as well as using the newer workflow.R file.

After this finishes I want to see if I still the issue Mike mentioned regarding re-running analyses.  I will also see if I have issues trying to r

[2015-10-26 12:00] serbinsh commented on #632
@robkooper I have been using this new feature and it works great!  I think either I will add or we should add a little text above the box to let folks know of the feature.  E.g. "*hover to see full name" on that page.  What do you think?  Or do we just add that the manual/instructs?

[2015-10-26 12:05] serbinsh opened #660 "Add model/selected PFTs (when applicable) following "Model Type" on history page?"
For tracking run history on the web interface I was thinking it might be nice to have an additional column that shows the selected PFTs for each run (when applicable).  Right now, all you see is the location, name, type, run stats, completion info and delete.  Maybe that would make the page too busy?

I know that when I am running a couple of jobs it would be helpful to have a little more info to

[2015-10-26 12:55] mdietze commented on #660
@serbinsh there are already open issues to add the user.id and notes to the History table. I tend to think that adding PFTs would make this too busy. Plus PFTs are a property at the Run level, not the Workflow, which is what the History table is displaying. I'm going to close but feel free to reopen after those two other features have been implemented and you've had a chance to play with them a bi

[2015-10-26 12:55] #660 closed

[2015-10-26 13:35] robkooper commented on #660
I would like to add a search box that would go across properties such notes, users, sites, pfts etc. To allow you to easily search in the history for a specific workflow execution.

[2015-10-26 13:36] robkooper commented on #632
I think manual, I would like to add less text to the page. Another option is to add a help page to each page and add some notes there.

[2015-10-26 13:56] mdietze commented on #660
@robkooper I'd second that. If that's not an open issue, could you create a new issue for it?

[2015-10-26 13:57] robkooper commented on #660
See #631

[2015-10-26 14:01] mdietze commented on #632
I agree. This behavior is pretty intuitive so I don't think it needs to be explained on the page.

[2015-10-26 17:23] serbinsh commented on #660
Thanks guys, this was helpful.  And yes a search box would be a great feature!

[2015-10-27 16:49] fabeit opened #661 "where do I find pecan.utils package for R?"
I have found this https://pecanproject.github.io/pecan//utils/inst/web/PEcAn.html but no download.

I need it for the met2model.ED script which requires them.

[2015-10-27 16:51] mdietze commented on #661
https://github.com/PecanProject/pecan/tree/master/utils

[2015-10-27 16:58] fabeit commented on #661
@mdietze thanks, I thought it was that folder, and I tried to install it as a package in R by zipping the utils folder, but it doesn't work. How do you actually import it in R?

[2015-10-27 17:02] mdietze commented on #661
easiest is to us the R devtools package's install_github function

install_github("PecanProject/pecan/modules/utils")

[2015-10-27 17:07] dlebauer commented on #661
Note that `PEcAn.utils` has `ncdf4` as a dependency, which, in turn, has NetCDF-4 as a dependency.

... @mdietze @robkooper can we move `ncdf4` from depends to suggests? (perhaps also `udunits2`). Otherwise, it is hard to install utils.

[2015-10-27 17:13] fabeit commented on #661
@mdietze @dlebauer
install_github("PecanProject/pecan/modules/utils")
Downloading GitHub repo PecanProject/pecan@master
Error: Does not appear to be an R package (no DESCRIPTION)

[2015-10-27 17:24] dlebauer commented on #661
devtools::install_github("pecanproject/pecan", subdir = 'utils')

On Tue, Oct 27, 2015 at 12:13 PM, fabeit <notifications@github.com> wrote:

[2015-10-27 22:25] fabeit commented on #661
@dlebauer I still can't install the utils, problems with ncdf4, I tried with both the 32 and 64 R.
Downloading GitHub repo pecanproject/pecan@master
Installing PEcAn.utils
Skipping 1 packages not available: ncdf4
** testing if installed package can be loaded
*** arch - i386
Error : package 'ncdf4' is not installed for 'arch = i386'
Error: loading failed
Execution halted
*** arch - x64
ERROR: loadi

[2015-10-28 00:54] mdietze commented on #661
looks like you need to install the R package ncdf4 first. Offline @dlebauer has suggested that we move the ncdf4 package from "Depends" to "Suggests" for the utils package, which would probably get you past this point. However, it won't solve your ultimate problem, since you'll ncdf4 for met2model.ED as well

[2015-10-28 14:05] ankurdesai commented on #661
According to James, ncdf4 R package doesn’t work yet on Windows. So yes, to use pecan not net cdf utils on Windows will require removing the dependency. James can provide more details.

[2015-10-28 14:11] bpbond commented on #661
The ncdf4 package can in fact be installed on Windows; see http://cirrus.ucsd.edu/~pierce/ncdf/. It's just not available via CRAN.

[2015-10-28 14:27] ankurdesai commented on #661
Cool! I love Ben’s occasional wisdom showing up here!

[2015-10-28 14:52] serbinsh commented on #652
OK, so a bit of progress @robkooper @mdietze .  It looks like the ED2 runs do try to launch but they can not find the ED2IN files for the runs.  Here is the stdout.log:

[code]

From the stderr.log
[code]
Which I think points to the issue!  The pecan_remote directory does NOT have the /run/ folder.  The run folder remains in the main PEcAn output directory.  Therefore that is why ED2 can not run a

[2015-10-28 14:54] fabeit commented on #661
I already had installed ncdf4, but I reinstalled it following the above link, I tried to install both the 32 and 64 version, but I still get the same error, either package 'ncdf4' is not installed for 'arch = i386' or package 'ncdf4' is not installed for 'arch = x64'. I am on Windows. I have used ncdf4 previously so I know it works fine.

[2015-10-28 15:00] bpbond commented on #661
Hmm, I'm not on Windows but several people here are and use ncdf4; if useful I can go check with them. What version of R? So it installs correctly, but then you get an error when you try load (`library()`) it?

[2015-10-28 15:24] fabeit commented on #661
@bpbond I am on the latest version of R. ncdf4 loads just fine but I can't install pecan.utils. I am using this command devtools::install_github("pecanproject/pecan", subdir = 'utils') and it tells me
Downloading GitHub repo pecanproject/pecan@master
Installing PEcAn.utils
Skipping 1 packages not available: ncdf4
** testing if installed package can be loaded
*** arch - i386
Error : package 'ncdf4'

[2015-10-28 15:36] mdietze commented on #661
We discussed this at the PEcAn meeting this AM and @dlebauer said he'll update the dependencies, which should get you through compilation, and then hopefully you won't hit any issues with using the package. Not sure why it's halting on a package that you're able to load from the command prompt.

[2015-10-28 16:17] fabeit commented on #661
@mdietze yes i am not sure what is the problem, I guess i can load ncdf4 manually after I loaded the utils. Thanks

[2015-10-28 17:37] ashiklom opened #665 "Leaf spectra/trait variable names"
In an attempt to standardize and merge multiple leaf spectra-trait databases, I've come up with the following list of variables to use. I can modify the variable names at any time, but earlier would be better since I'll have to do less finding and replacing.

[code]

[2015-10-28 17:41] mdietze commented on #665
What fraction of these are the names currently used in the BETY variables table? To the extent possible we should try and keep the 'standards' in the different parts of the project consistent.

[2015-10-28 17:46] ashiklom commented on #665
Uh, to my knowledge, none of them, because I didn't check the BETY variables table before making this. I'm going to go ahead and do that...

[2015-10-28 17:54] dlebauer commented on #665
Following from @mdietze's comment

1. I will probably end up adding a cross-dictionary thesaurus to BETYdb at some point
2. For many of these not in BETYdb that aren't currently used in practice, there would be little effect of changing the names in BETYdb
3. One related source of variables (doesn't completely cover your list, but we could contribute additions) is the ICASA standard, which USDA an

[2015-10-28 18:29] ashiklom commented on #665
OK, @mdietze @dlebauer @serbinsh , I put together the following table comparing what I came up with and BETY's variables. What are your thoughts? Should I align everything that I can with BETY and then try to match the rest using similar names? Or are some of these deprecated, etc. and could use an overwrite/update?

Description                                     | My variable | My unit        |

[2015-10-28 19:07] mdietze commented on #665
Hmm. Not to create meaningless work, but it would be interesting to see what the CF standard is for some of these (as well as the other standard David mentioned).  In general I'm in favor of aligning with BETY and then generating similar names for missing variables, however this points out that the naming in BETY has not been consistent. Thus I think we should discuss updating BETY names as well.

[2015-10-28 19:14] ashiklom commented on #665
I don't think it's meaningless work. I'd rather get it right the first time than have to go back later and change half the names or create unnecessary confusion. Given that all of these are going into a larger database of stuff, I totally agree that my `C_` names are a bad idea -- they were just a first pass based on the names in the spectral databases

I'll check out the links Dave posted, but wh

[2015-10-28 19:20] mdietze commented on #665
http://cfconventions.org/

[2015-10-28 19:33] ashiklom commented on #665
So unless I'm missing something, neither the CF page nor the ICASA standards have anything useful at all about leaves:

A search of the CF variables table for "leaf" returns only "Leaf area index" and "leaf carbon content", and relevant searches for key terms in the other parameters similarly turn up little if anything at all. Same is true for ICASA, which has nothing on leaves and seems to have m

[2015-10-28 20:42] ashiklom commented on #665
How easy is it and/or recommended to just change records and delete variables in BETY? I poked around a bit more and came up with [this table (Google Doc)](https://docs.google.com/spreadsheets/d/1_UpDcx3N69CfbKcqJb8xG1etywVMGgQMk6rTL2YZ49s/edit?usp=sharing). I've highlighted my proposed changes in yellow, and proposed additions in green. It turns out that for most of these things, there are actual

[2015-10-28 20:54] mdietze commented on #665
Easy but not always advisable.  I know some of these changes will break the growth respiration code, but it's nothing a bit of grep can't fix. You'll also need to check the meta-analysis code. In addition, there's definitely a leaf C:N in there already that you missed, so don't add a new one. Finally, are the _area and _masspct endings the CF standard naming approach? If not, you'll want to use th

[2015-10-28 21:02] serbinsh commented on #665
"I kinda like the variables that are leaf_[thing]. I definitely don't like the proposed C_[thing] because for a number of these variables we have the same [thing] in stem wood, roots, etc. "

I fully agree

[2015-10-28 21:05] serbinsh commented on #665
@mdietze which of these will "break" the growth resp code? Doesn't seem like a lot of these are in BETY....is it the leaf chem vars, like starch, lig, cell?

[2015-10-28 21:12] dlebauer commented on #665
also worth looking at this collection of CF and CF-style names that I
developed last year but never added to BETYdb https://goo.gl/uoQdHi

On Wed, Oct 28, 2015 at 4:05 PM, Shawn P. Serbin <notifications@github.com>
wrote:

[2015-10-28 21:15] serbinsh commented on #665
Hmmm @dlebauer so in that case you were using names like

CA_foliar	 mass_fraction_of_calcium_in_leaf

[2015-10-28 21:16] mdietze commented on #665
for growth resp, yes it's those variables. you don't see them because that code hasn;t been incorporated into the mainline yet:

For 'trait' data there's definitely the capacity to add methods. It's a bit more tricky for data in other files. I think we'll have to rely on meta-data unless we want an explosion of names

[2015-10-28 21:18] ashiklom commented on #665
So what's the balance (if any) of length to descriptiveness? Do we actually want fully CF-compliant names that are really long? E.g. `leaf_chlorophyll_a_mass_per_unit_area` and `mass_fraction_leaf_protein`?

[2015-10-28 21:21] mdietze commented on #665
David, there's no argument about the fact that you're names are technically more correct by CF standard, but variables like mass_fraction_of_carbon_in_leaves are a mouthful. I think things like leaf_C or leaf_carbon are more practical, especially since the units are explicitly defined.

[2015-10-28 21:23] dlebauer commented on #665
Note that the variables table has room for both CF style and short names
On Wed, Oct 28, 2015 at 4:21 PM Michael Dietze <notifications@github.com>
wrote:

[2015-10-28 21:25] dlebauer commented on #665
And also that I am planning to add a thesaurus table
On Wed, Oct 28, 2015 at 4:23 PM David LeBauer <dlebauer@gmail.com> wrote:

[2015-10-29 14:46] serbinsh opened #666 "Add PFT prior checks"
It is possible to unintentionally add multiple priors for a single variable in the BETYdb PFT descriptions.  When this happens, PEcAn currently will fail with an error related to non-unique row names when requesting trait data and running the meta-analysis.  For example:
[code]

It would be good to add a check that looks for multiple priors, stops PEcAn, and provides an appropriate error message.

[2015-10-29 14:47] serbinsh commented on #666
By the way, I am now sad that I didn't wait until Saturday to post this given the issue num....

[2015-10-29 14:49] mdietze commented on #666
Shawn, doesn't the current code do what you say -- it checks to see if there are duplicate rows and if there are it stops the code and gives a warning. Are you just asking for a more informative error message?

I think the code choosing which prior to use is a very bad idea. The correct behavior should be to stop and tell you to fix it.

[2015-10-29 14:55] serbinsh commented on #666
@mdietze In this instance, the code did stop with the error message shown above.  I am going to test to see if it gives the same general message in other cases.  But yes, basically I think it would be helpful to provide a more detailed message that explains why the code stopped, and actually stop the code rather than ending in an error.

[2015-11-02 17:59] bcow opened #668 "Spin up functions for met workflow"
Linkages is going to need to do a spinup for the paleon runs (@raiho)
Would it make sense to have either a spinup.LINKAGES function or a new section in met2model.LINKAGES such that

[code]

[2015-11-02 18:36] mdietze commented on #668
I think it would be bad to put it in met2model since there's now way to control that variable from the met workflow. spinup.LINKAGES would likewise not be called by workflow.R. Putting it in write.configs would be better since spinup could be passed as a model-specific additional optional variable within the model portion of settings. Ultimately, it would be good to have a model-agnostic way of do

[2015-11-03 09:54] fabeit commented on #661
@dlebauer I am just wondering when you might be able to update the dependencies, I would like to try to convert this data I have. Thanks!

[2015-11-03 13:31] dlebauer commented on #661
I have a draft but it breaks the ED integration tests. I didn't think it
was a priority since you can remove the offending packages from DEPENDS in
the utils/DESCRIPTION file and then re-build the package. But to step back:
what are you trying to do? It might not work anyway if you need the ncdf4
or udunits2 packages.
On Tue, Nov 3, 2015 at 3:55 AM fabeit <notifications@github.com> wrote:

[2015-11-03 14:18] fabeit commented on #661
@dlebauer I am trying to convert ERA-I reanalysis data which comes in either netcdf or grib format into hdf5 ED format. ncdf4 loads fine in my R.

[2015-11-04 17:21] robkooper commented on #652
I think this is resolved now.

[2015-11-05 20:15] braczka opened #673 "Plotting prior and posterior for plot.variance.decomposition"
@dlebauer @mdietze An old issue that I never fully resolved, sorry.  I want to plot both prior and posterior model results onto a single variance decomposition plot as in LeBauer at al. 2013.   I am using the latest VM release 1.4.3.ova.  I updated the source code based upon issue #93 submitted a while back by following commit  `<b685f92>`.    and made appropriate theme system updates.

I can suce

[2015-11-05 21:33] dlebauer commented on #673
Yes, I've seen this before but forget where. Please post Rdata files and
any other information required for a reproducible example

http://adv-r.had.co.nz/Reproducibility.html

On Thu, Nov 5, 2015 at 2:15 PM Brett Raczka <notifications@github.com>
wrote:

[2015-11-06 13:45] mdietze commented on #661
@fabeit sorry for the delays. I don't know if you got the PEcAn packages working for you yet, but I just applied the changes discussed above. Let me know if they work for you now so I know whether to close this issue.

[2015-11-06 15:37] braczka commented on #673
@dlebauer Github is telling me it does not support .Rdata type formatted files.  Can I send to you directly or are there ways around this?

[2015-11-06 15:41] dlebauer commented on #673
There is dput as illustrated here:
http://adv-r.had.co.nz/Reproducibility.html if it's too big copy paste to
gist.github.com

On Fri, Nov 6, 2015 at 9:37 AM Brett Raczka <notifications@github.com>
wrote:

[2015-11-06 17:23] braczka commented on #673
@dlebauer Github is giving me an error when attaching documents:  'Attaching documents requires write permission to this repository'.   Do my user settings need to be changed?

[2015-11-06 18:07] dlebauer commented on #673
You can create a gist and post a link

On Fri, Nov 6, 2015 at 11:24 AM Brett Raczka <notifications@github.com>
wrote:

[2015-11-06 18:11] mdietze commented on #673
@braczka you could always just email David the files if you can't post them publically

[2015-11-06 19:18] braczka commented on #673
files sent to @dlebauer gmail

[2015-11-09 21:57] #134 closed

[2015-11-10 05:14] dlebauer commented on #673
@braczka I would really be happy to help you to debug this, but I still can't reproduce your error with the files that you sent.

If I do

[code]

I get the error:

Thus I am unable to reproduce the bug that you have reported. And at 2500 lines, the example is way to big for me to try to debug.

If you can narrow down the error and provide a [reproducible example](http://adv-r.had.co.nz/Reproducib

[2015-11-10 05:15] dlebauer commented on #673
One additional bit of information to provide is the output from `traceback()` after the Error occurs. If you post that, it may ring a bell.

[2015-11-10 15:21] fabeit commented on #661
@mdietze let me test this and get back with you

[2015-11-10 16:38] fabeit commented on #661
@mdietze it looks like I am able to install the utils, I think it's ok to close this for now. Thanks

[2015-11-10 16:38] #661 closed

[2015-11-10 23:08] braczka commented on #673
Github allowed me attach code and `traceback()` this time around.   To recreate bug I did the following:
1) Downloaded PECAN package associated with VM release 1.4.3. Environment included at top of 'plot_multiple_github.R'
2) Made edits to the PECAN uncertainty file `<plots.R>` according to LeBauer, Github issue #93.   Edited `plot.R` is attached here.
3) `>./pecan/scripts/build.sh`
3) `>source('~

[2015-11-11 15:19] robkooper opened #679 "move notes earlier in web workflow"
Should allow a user to add notes without selecting advanced setup. Maybe at inputs, maybe earlier.

@PecanProject/pecan-developers  Do people know beforehand what run they will do, does it make sense to make it the very first step in the workflow so people can capture their thoughts.

[2015-11-11 15:20] robkooper opened #680 "Add login to page if no authentication is required"
Should make it so the login page can be reached in case no login is required.

[2015-11-11 15:59] ankurdesai opened #681 "Download LBL Ameriflux files."
Ameriflux has a new web form for download Ameriflux that will likely replace the ORNL Ftp server. Also a new format for the files! Requires creating a (free) account on Ameriflux: http://ameriflux.lbl.gov/data/download-data/ @bcow

[2015-11-12 14:50] mdietze commented on #633
@tonygardella @jam2767 can this and #332 be closed? In other words, are these two issues resolved in v1.4.4 VM?

[2015-11-12 15:47] tonygardella commented on #633
Just double checked with 1.4.4. Local run with Ed, Ameriflux works fine with no errors.

[2015-11-12 15:48] #633 closed

[2015-11-13 14:03] rykelly opened #683 "Postgres error"
Anyone get this error yet?

[code]

Happened to me during a long PDA that was running on `pecan2` but sending jobs to `geo`. It had also been happening to me sporadically while I was working on the code last week, but I had just assumed it was random bugs, failing to close DB connections during numerous test runs, etc. This time the error came after 116 successful consecutive runs, so I don't thin

[2015-11-13 15:50] mdietze commented on #683
here's my guess: There have been some issues with too many db connections being opened on psql-pecan due to sync scripts that would start but not finish. As a result I've had to manually kill all database connections and restart psql a few times over the last few weeks, so it's quite likely that I killed your db connection under the false assumption that no one had jobs (since no one HERE had jobs

[2015-11-13 20:28] ryankelly-uiuc commented on #683
Sounds good; I'll let you know if it comes up again.

[2015-11-13 20:55] dlebauer commented on #683
@mdietze could you please post the contents of the clean up script or put
it in the repository?
On Fri, Nov 13, 2015 at 3:28 PM ryankelly-uiuc <notifications@github.com>
wrote:

[2015-11-13 22:27] mdietze commented on #683
This is just something Rob posted on gitter a few days back:

19 * * * * ps -ef | grep kooper | grep -v grep | grep psql | awk '{ print $2 }' | xargs --no-run-if-empty kill

Obviously you have to change the first grep to the user that runs the sync script (I run mine as postgres)

[2015-11-23 15:07] #680 closed

[2015-12-02 15:21] bcow opened #688 "Specify remote directory"
In config.php file, would like to be able to specify path to pecan_remote.
This can be helpful when doing larger runs and the default user home directory won't have sufficient space.
@robkooper

[2015-12-02 17:08] Viskari opened #689 "Photosynthesis install broken"
I pulled the latest version of pecan, but when I am running the build for it, it gives me a broken installation due to photosynthesis with the following line:

----------------------------------------------------------------------
INSTALL modules/photosynthesis BROKEN
----------------------------------------------------------------------
Error: contains a blank line

Any help appreciated?

[2015-12-02 17:27] mdietze commented on #689
just did a push that should fix this

[2015-12-03 00:35] #688 closed

[2015-12-04 18:00] tonygardella opened #692 "Ameriflux Vapor Pressure Deficit(VPD) - CF standard unit error"
Ameriflux currently has mol m-2 s-1 as the unit for VPD. It should be using the CF standard unit: Pascal (Pa)

[2015-12-05 19:59] #631 closed

[2015-12-08 17:47] #626 closed

[2015-12-11 19:54] dlebauer commented on #648
Here is an first draft of how I implemented met uncertainty in the run.biocro function.

In this case I am sampling 15 years from MsTMIP NARR files that run from 1979-2010.

[code]

[2015-12-11 19:59] dlebauer commented on #648
For soils, the USCRN site descriptions have low, representative and high values for a few different parameters, for example `wsatiated_l` `wsatiated_r`, `wsatiated_h`.

The library rriskDistributions provides some helpful functions for fitting distributions to quantiles. So I assumed some quantile for the low and high values and I fit beta distributions.

Then I fit a separate beta distribution fo

[2015-12-12 17:00] serbinsh commented on #689
I think this is fixed and can be closed.  I no longer get errors during build. Others?  @mdietze @dlebauer @bcow?

[2015-12-12 17:02] #689 closed

[2015-12-12 17:02] dlebauer commented on #689
Me either
On Sat, Dec 12, 2015 at 11:00 AM Shawn P. Serbin <notifications@github.com>
wrote:

[2015-12-12 17:06] serbinsh opened #705 "Error launching jobs from web interface - may be related to bug in config.php hostlist"
@robkooper @bcow
I am having a similar issue as Betsy with the latest and greatest code.  Basically, I have setup my hostlist as required but it doesn't seem to be used correctly from the web interface.  This code did work before when the options were separated  but after everything was merged to a single hostlist array it not longer works.

Basically, the jobs are submitted and run BUT the qstat

[2015-12-12 17:28] #659 closed

[2015-12-12 17:50] bcow commented on #705
Just to add to this,

The reason the remote runs have been going through when you use default online settings is because when `read.settings` checks settings$run$host for qsub variables (starting line 584), it does't find anything and fills them with the defaults - hence the log file reads something like:

[code]

[2015-12-12 19:01] serbinsh commented on #705
@robkooper @bcow
Note I am running with qsub on localhost.

[2015-12-12 19:04] serbinsh commented on #705
FYI - some additional output after trying to update the qstat line

[code]

[2015-12-12 19:06] serbinsh commented on #652
@robkooper It is.  New issue in #705 but this is something different (but results in similar errors)

[2015-12-12 19:06] #652 closed

[2015-12-12 19:08] serbinsh commented on #589
I think this has been fixed

[2015-12-12 19:08] #589 closed

[2015-12-12 19:22] serbinsh commented on #705
After the latest commit:

[code]

But PEcAn still did not wait for the runs?  Something still up with qstat @robkooper

[2015-12-12 19:22] serbinsh commented on #705
But runs are there

[code]

[2015-12-12 19:23] serbinsh commented on #705
I see in the workflow log it doesn't like the options??  for some reason
[code]

[2015-12-12 19:34] serbinsh commented on #705
@bcow @robkooper

I just needed to change my qstat options to:

"qstat"  => "qstat @JOBID@ || echo DONE"))

[2015-12-14 22:39] serbinsh commented on #705
@robkooper @bcow I know this has been fixed for me, @bcow are we good to close this issue?

[2015-12-14 22:41] serbinsh commented on #605
I don't think this is causing an issue anymore, for me anyway.  @robkooper @ryankelly-uiuc any remaining issues?

[2015-12-14 22:41] serbinsh commented on #590
@ryankelly-uiuc I am not having this issue anymore.  I think we can close

[2015-12-14 22:43] serbinsh commented on #431
@dlebauer @robkooper This has been open awhile, we should probably come up with a plan to update tests and then close this.  Or keep it open but change the discussion

[2015-12-15 00:05] robkooper commented on #431
Closing, can reopen if this is causes other problems.

[2015-12-15 00:05] #431 closed

[2015-12-15 00:22] #605 closed

[2015-12-15 00:23] robkooper commented on #705
created pull request to fix issue with htmlspecchar function on php 5.3. Reopen if this is still an issue.

[2015-12-15 00:23] #705 closed

[2015-12-15 00:25] #590 closed

[2015-12-16 16:53] robkooper opened #708 "Copy templates to pecan folder"
It would be nice to copy the templates used to generate the job.sh and other model specific files to a template folder. This way we can have the user modify them before creating all the run config files. We will also have the provenance of what files are used in case PEcAn is updated and new templates are deployed to the PEcAn build.

[2015-12-16 19:36] mdietze opened #709 "import.TRY function"
I recently heard from Jens Kattge that he doesn't have time/resources to work on a TRY/BETY coupling. I suggest that instead we work on an "import.TRY" function so that anyone who had done a TRY data request will be able to upload it into PEcAn/BETY relatively easily.

@bcow @ashiklom When you guys get started on moving the multivariate MA into PEcAn, you should go through the TRY catalog and subm

[2015-12-16 19:49] ashiklom commented on #709
So the point of this function would be to update all of BETY's TRY records to the current (input) data dump?

[2015-12-16 20:08] dlebauer commented on #709
Does BETY have TRY data?
On Wed, Dec 16, 2015 at 12:01 PM Alexey Shiklomanov <
notifications@github.com> wrote:

[2015-12-16 20:16] mdietze commented on #709
@dlebauer is right, BETY lacks TRY data so the point would be a function to import that data. Having an optional 'upgrade' option that would detect redundancies seems like a good feature too.

We did get a dump of a subset of TRY variables years ago, but never got it into BETY successfully. I think we're much better off starting with a 'clean' copy of the data since TRY's cleaned up their db and s

[2015-12-17 16:29] mdietze commented on #709
More feedback from Jens:
To be sure your students use the current data format, they should submit a request and - for test purposes  - only ask for the public data. Data requests have become very convenient and fast. If they request only the public data they should be able to download the data the day after their request. We will have a christmas break of data release though.

[2015-12-17 17:31] dlebauer commented on #709
Also, even if not implemented here, we should consider that an export.TRY
would be useful, and may be easier to do simultaneously than if we put it
off. It's not necessary but would allow us to push as well as pull data to
TRY.

[2015-12-18 16:29] tonygardella commented on #352
- [ ] get a demo run to complete
- [ ] get that same demo run to complete through write.configs
- [ ] model2netcdf: get that demo run to give output PEcAn can read
- [ ] met2model: generalize met
- [ ] modify write.configs to allow lat, lon, start date, end date, and met to be controlled by pecan
- [ ] add additional required inputs to the model type table and load those defaults into Inputs/dbfil

[2015-12-24 14:27] serbinsh opened #712 "Add ability to plot met driver data in web interface"
Enable visualization of driver data on results page.  This would be handy in general ( and may already be a working issue) but particularly for situations when using CRUNCEP.  You could then investigate the driver data used for a specific run.  I know it would be nice to "see" what the met drivers look like for a NCEP run.

Would also be great if we could plot model output BY driver inputs, say GP

[2015-12-24 14:28] serbinsh commented on #712
@robkooper if this is something already in the works, which I missed, feel free to delete or archive this issue.

[2015-12-24 20:21] dlebauer commented on #712
I've seen a number of utilities that exist for visualizing netcdf files in web pages, and it will certainly help that both our met drivers and output have CF-compliant dimensions. If there isn't too much overhead, this may be a good place to leverage existing tools.

Here is an extended list: http://www.unidata.ucar.edu/software/netcdf/software.html

[2015-12-24 20:47] mdietze commented on #712
We've definitely discussed this in the past, but I couldn't find an open issue. Extending the current plot function to include inputs shouldn't be hard **if** those inputs were generated by the workflow (i.e. A netcdf cf version exists). Model-specific met would be too hard, unless we had models output their own met (which is actually not a bad idea, this has illuminated a lot on basic errors in p

[2016-01-02 22:14] ashiklom commented on #709
So there are two ways to get the TRY data -- by trait or by dataset.

By dataset, it's easy to get just the public data as Jens suggested, but I think I have to submit a separate data request for each data set. I emailed their web admin to check if that's the case. Here's the full data list [(tab delimited text file)](https://github.com/PecanProject/pecan/files/76402/try-datasets.txt). By my count

[2016-01-03 16:10] mdietze commented on #709
Start by getting the public data, and use that to develop the import function. Put in a second request by trait, which will cover most of the database and take a lot longer to get. Hopefully when the larger data set shows up the import function won't require many additional tweaks

[2016-01-04 21:33] dlebauer opened #713 "API to query soils data"
As part of the regional runs, it would be useful to be able to develop a way to query soils data given a latitude and longitude.

Parameters should be queried for each soil layer, and the range of each soil layer should be defined (e.g. 0-10 cm, 10-20 cm, etc)

## Datasets

### HWSD

The Harmonized World Soil Database (https://www.betydb.org/inputs/303), which is a small-ish file prepared by MsTMI

[2016-01-04 23:30] bpbond commented on #713
Just as a note - you're aware of http://soilgrids1km.isric.org ? See also http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0105992.

[2016-01-05 00:25] dlebauer commented on #713
@bpbond I had previously heard of this - but it slipped my mind. A great effort that we should take advantage of. On one hand, there is the disclaimer "Important notice: the SoilGrids1km layers are of limited thematic (wide confidence limits) and spatial accuracy and still contain artefacts and missing pixels." On the other hand, the data come with confidence intervals (10th, 90th quantiles) as we

[2016-01-05 11:50] mdietze commented on #713
This issue has a lot of redundancy with previous soils issues, especially #506 about needing to come up with a soil data standard, but also #229 (SoilGrids 1KM) and to a lesser extent #350 (Reading BADM files).

Is there a specific reason to develop a completely different approach to dealing with soils (query function) rather than employ the same workflow approach we're using with met (convert to

[2016-01-05 17:15] dlebauer commented on #713
I think we can adopt the approach used for met. The original motivation for
this issue was to describe how I'd like to query soil from an API that
could be implemented by the CyberGIS group. I forgot to search for soils
first.

_I'll clean this up later to reduce redundancy_

independent of the variable names and data structures of a standard format
that can be stored in a CF compliant NetCDF, the

[2016-01-12 18:52] tonygardella opened #714 "Put CLM on BU servers"
CLM works on the pecan VM put not on BU servers yet.

[2016-01-12 18:53] tonygardella commented on #714
Found that ".../clm4_5_1_r085/scripts/ccsm_utils/Machines/config_machines.xml" explicitly points to "/home/carya/..."

[2016-01-12 19:47] tonygardella commented on #714
Getting a different error now:
[code]
I'll take a closer look at the config_machines.xml file again and then the files suggested in the error. I'll probably have to ping Dan about this.

[2016-01-12 19:58] mdietze commented on #714
Part of this issue might be because the BU server isn't ubuntu, but CentOS, but this script has a setting for --mach ubuntu. Are there alternative options supported for --mach?  If there's not CentOS, Red Hat is probably close enough, or perhaps some generic linux. Just a shot in the dark and possibly wrong

The first error listed, grep: write error: Broken pipe, should be something that you can t

[2016-01-12 21:44] tonygardella commented on #228
Wiki has been migrated to gitbook with big help from @bcow . Links and details will be posted once we figure out how to manage things correctly.

[2016-01-12 22:04] tonygardella commented on #714
The 'ubuntu' is just an alias for the machine settings. The template given for machine configurations looked like this and I used Linux under for the "OS".
[code]
Dan had written a custom setting for this to work on the VM, so I'll double check with him if I edited things correctly.

The grep: write error seems to always show up, even when I got CLM on the VM. I'll look into it briefly, but I thin

[2016-01-14 13:59] tonygardella commented on #714
I've copied and transferred the run that succeeded on the VM to the pecan2 and geo servers.
The path on pecan2:
/fs/data5/pecan.models/clm45/clm45.VM.version
The path on geo:
/projectnb/dietzelab/pecan.models/clm45/clm45.VM.version

[2016-01-19 18:08] tonygardella commented on #228
Gitbook is up: https://www.gitbook.com/book/pecan/pecan-documentation/details
[ ] - PecanProject/pecan.book#1 - Need to clean up broken links before starting revision

[2016-01-19 19:11] tonygardella opened #715 "Which MET product should be added next?"
Ankur was interested in getting feedback about MET products in order to prioritize the next MET addition. This issue is to gather that feedback. NLDAS and CMIP5 were mentioned

Relevant issues:
#203 -NLDAS Forcing in pecan
#234 -R package for CMIP5 met / output
#323 - Canadian Met station data
#339 - Use daymet as met driver
#461 - Add global met download / convert scripts to data.atmosphere

[2016-01-19 21:19] mdietze commented on #715
I'd favor CMIP5 over additional global products until such time that someone specifically asks for or needs additional global met products. Beyond that I think the bigger issue is downscaling and uncertainty

For station met, the new FLUXNET product met is the top priority. Beyond that we still need to improve the gapfilling.

[2016-01-20 22:08] ashiklom commented on #709
Data requests have been submitted! We should have the public data within 1-2 business days. For the restricted data, we have to wait for the data custodians, who have 14 days to notify TRY about their decision whether or not we get access.

[2016-01-21 02:30] #235 closed

[2016-01-21 02:36] #198 closed

[2016-01-21 02:37] dlebauer commented on #198
closing as not reproducible

[2016-01-25 02:46] mdietze opened #716 "UNIDATA support"
Ankur emailed this a few days ago and I'm converting it to an issue so it doesn't get lost:

Rosetta is a web service to convert ASCII files from data loggers into CF compliant NetCDF files: http://www.unidata.ucar.edu/software/rosetta/
libCF is a Unidata API for CF compliant files: http://www.unidata.ucar.edu/software/libcf/
Siphon is Unidata Python library for Python based access to all THREDDs

[2016-01-25 17:46] mdietze commented on #354
For this issue I suggest that @robkooper build this support on the API level as the priority and once that's done adding it as a run-specific button should be trivial

[2016-01-25 17:52] #520 closed

[2016-01-25 17:58] #628 closed

[2016-01-25 18:07] mdietze commented on #135
@robkooper can this be closed?

[2016-01-25 18:08] mdietze commented on #149
@robkooper is this anything left to do here or can we close?

[2016-01-25 18:09] mdietze commented on #160
@robkooper is this ready to close too?

[2016-01-25 18:12] mdietze commented on #395
@robkooper status?

[2016-01-25 18:15] mdietze commented on #679
@ch1eroe1 is this done now?

[2016-01-25 19:36] ashiklom opened #717 "Compile and run ED RTM on PEcAn servers"
@serbinsh @Viskari @mdietze Just a placeholder issue for this task. Basically, just trying to get Toni's ED RTM code compiled and running on PEcAn servers. Once we have it running, we can start working on the R wrapper, which will allow us to try inverting it using my stuff.

[2016-01-25 22:58] ch1eroe1 commented on #679
Yes.  This issue should be closed unless there is a bug I never seen.

From: Michael Dietze [mailto:notifications@github.com]
Sent: Monday, January 25, 2016 12:16 PM
To: PecanProject/pecan <pecan@noreply.github.com>
Cc: Roeder, Eugene F <eroeder@illinois.edu>
Subject: Re: [pecan] move notes earlier in web workflow (#679)

@ch1eroe1<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ch

[2016-01-26 00:52] #679 closed

[2016-01-26 04:41] dlebauer opened #718 "Failed with error: ‘package ‘X’ required by ‘Y’ could not be found’"
_(Transferred from https://gitter.im/PecanProject/pecan/DevGroupRoom)_

Tried running download.CRUNCEP today and received this error:

Failed with error: ‘package ‘abind’ required by ‘PEcAn.utils’ could not be found’
Loading required package: lubridate
Error in download.CRUNCEP("C:/Users/James Simkins/Downloads", "2008-01-01 00:00:00", :
could not find function "year"
In addition: Warning message:

[2016-01-26 04:45] dlebauer commented on #718
Did it work before?

Try the following and summarize the result (and post errors)

* `libPaths()` (paste output - is it where you think it should be?
*  at command line: `./scripts/install.dependencies.R`
* in R: `install_github(‘pecanproject/pecan/utils’)`?

If you don't have time, brain power, or patience to debug, you can always just brute-force install any package that R complains does not exi

[2016-01-26 14:40] robkooper commented on #718
If possible add OS and R version.

[2016-01-26 15:16] jsimkins2 commented on #718
Running ./scripts/install.dependencies.R at the command line worked just now! The R version is 3.2.1 and the OS is Linux. I haven't tried to run scripts in a week or two, so perhaps there was an update of sorts.

[2016-01-26 17:35] #718 closed

[2016-01-26 18:11] serbinsh commented on #624
@mdietze and @ashiklom At this point, it probably makes sense to keep separate. I would want this code to significantly improved before merging with the RTM because there are various outstanding issues that I want to try and work through.  I have been trying to get a programming student from SBU to work on this but so far no luck.

[2016-01-26 18:13] #624 closed

[2016-01-26 18:14] #602 closed

[2016-01-26 20:32] tonygardella commented on #714
Checklist for getting a ref_case onto BU servers:
[ ] create_newcase - pecan -compset ICLM45BGC -res f45_g37 -mach yellowstone -c
[ ] ./case.setup
[ ] ./case.build

[2016-01-27 07:23] dlebauer commented on #718
Glad it is working again.

But to clarify, this bit of the output looks like Windows:

which is not currently supported by PEcAn, though I'd be impressed if you got that far!

[2016-01-27 10:46] mdietze commented on #352
We had a discussion on the CLM-ED coupling at the ED+ meeting at NCAR last week (myself, @bcow, @Viskari, Rosie Fisher, Ben Sanderson, @mvertens, @rgknox) and came up for a plan on how to leverage CIME https://github.com/ESMCI/cime to do the coupling to CLM, CLM-ED, and ACME. Below are the contents of an email I wrote last night describing the plan

I had a chance to chat with Tony on Monday to fo

[2016-01-28 17:47] robkooper commented on #395
removed milestone since this is a bigger issue that will need to be resolved slowly over time.

[2016-01-28 17:49] robkooper commented on #160
better versions implemented, no smart download yet to make sure we don't download if version is mismatch. Close issue for now since we have a good detection and all servers are on fixed network.

[2016-01-28 17:49] #160 closed

[2016-01-28 17:51] robkooper commented on #149
Closing for now. Will add smarts later to get download url from database if possible.

[2016-01-28 17:51] #149 closed

[2016-01-28 17:52] robkooper commented on #135
need to still add code to add user_id to ensembles.

[2016-01-29 19:01] tonygardella commented on #332
I believe this can be closed. #633 was related and that was fixed.

[2016-01-29 19:01] tonygardella commented on #332
I believe this can be closed. #633 was related and that was fixed.

[2016-01-29 20:29] tonygardella commented on #480
@ankurdesai @jsimkins2 this isn't assigned to anyone, but I assume you guys are the ones I should ask if this can be closed.

[2016-01-29 20:52] tonygardella commented on #634
@robkooper have you looked into this? I've been trying to find the exact run id to get the xml from this run but the date recorded on the excel doesn't match up with any runs give or take a couple days.

[2016-01-29 21:53] #332 closed

[2016-01-30 15:07] ankurdesai commented on #480
Yes, this can be closed since we have the mostly working R function for this now running with more products on the way.

[2016-01-31 00:53] #480 closed

[2016-02-01 03:48] bcow commented on #634
I thought this was resolved... I think the problem is that the lat lon of the NARR site will not be the same as the actual site lat lon - I'm not looking at the code right now (remind me tomorrow) but I remember fixing it for Afshin.

[2016-02-01 15:21] robkooper commented on #634
I will have to look at this some more as well before I say fully yes it is working. I think there might have been a bug in the browndog script used.

[2016-02-01 17:14] robkooper commented on #634
I looked at this issue and found the following (after fixing small bug)
http://pecan-dev.ncsa.illinois.edu/pecan/08-finished.php?workflowid=99000000001

This is when running Ameriflux on NIWOT using ED model and using browndog. This could be that the browndog server is still using an older version of PEcAN (1.4.5 latest release). Using a local conversion it seems like it is running correctly:
http

[2016-02-01 17:23] robkooper commented on #634
NARR does have issue still: http://pecan-dev.ncsa.illinois.edu/pecan/08-finished.php?workflowid=99000000003

[2016-02-01 23:48] ashiklom commented on #717
Update -- EDR successfully compiled on Geo, but haven't really tried running it yet.

[2016-02-02 15:57] tonygardella commented on #715
@ankurdesai I assigned you so you can reference this easier if necessary.

[2016-02-02 16:46] robkooper commented on #634
The unit stored is m, and not degrees. This is what is failing. Trying to figure out where the unit m comes from.

[2016-02-02 16:49] mdietze commented on #634
UTM?

[2016-02-02 16:55] robkooper commented on #634
problem i think is in the extract.nc function that tries to extract a single site from the narr data. I think the m is the meters from one of the corners of the dataset.

[2016-02-02 17:43] robkooper commented on #634
When writing the ED_MET_DRIVER_HEADER need to make sure that lat/lon is specified as degrees and not meters. Successfull run with NARR http://pecan-dev.ncsa.illinois.edu/pecan/08-finished.php?workflowid=99000000004

[2016-02-02 17:47] #634 closed

[2016-02-04 21:39] tonygardella opened #720 "met.process bug with extract.nc argument order/naming"
When running  PRELES I ran into an issue with met.process where it would trip up at extract.nc and could not find end_date. The function looks like this:
`extract.nc <- function(in.path, in.prefix, outfolder, out.prefix, start_date, end_date, slat, slon, overwrite=FALSE, verbose=FALSE,...)`

It was called from convert.input, within met.process, passing in arguments like this:
`extract.nc('/fs/data

[2016-02-04 21:41] bcow commented on #720
These aren't real functions. They were never fully written because the functions need to be run on the cluster and we never really figured out how to deal with that. That's why I had the functions turned off.

[2016-02-04 21:58] tonygardella commented on #720
Nevermind! I think I just didn't refresh my r session after I loaded the package. The run worked when I took out out.prefix and replaced any instance of it with in.prefix.

[2016-02-05 12:12] mdietze commented on #720
Nice. ready for a pull request?

[2016-02-05 13:18] tonygardella commented on #720
Soon. The CRUNCEP problem was just a wrong path in bety. Im going to do another round of tests before I make a pull request for everything.

[2016-02-17 21:28] tonygardella opened #723 "met2CF.NARR error. Could not find function "year""
While testing the new VM, met.process failed when met2CF.NARR was called because it could not find the function "year". I'll add ```require(lubridate)``` and make a pull request.

[2016-02-17 21:53] tonygardella opened #725 ""Could not find requested var" in file error when running both versions of Ed 2.2 with CRUNCEP"
I ran ED2.2(82) and (46) at Niwot Ridge(US-NR1) on the VM, using the met product CRUNCEP. I received the same error with both
[code]
This did not happen with Ameriflux and NARR gave a different error (I'll make another issue for this). I'm not sure who to ping about this one. @mdietze @ankurdesai  @jsimkins2

[2016-02-17 22:12] tonygardella opened #726 ""dbfile file not found" during met.process when running both versions of ED with NARR"
I ran into a bug when running both versions of ED on the VM with NARR during met.process. A certain dbfile wasn't found, and an "outfolder2" object wasn't found.

[code]

If this is just a problem of pointing to the wrong directory/file, I think I can fix this one. @mdietze @bcow If you think it might be something else, let me know.

[2016-02-17 22:15] bcow commented on #726
I never used a variable called outfolder2

[2016-02-17 22:18] #723 closed

[2016-02-18 02:30] dlebauer commented on #725
I just got this today when my met file had the wrong variable name (lat/ lon instead of latitude / longitude)

Try `ncdump -h /home/carya/output/dbfiles/CRUNCEP_site_0-772/CRUNCEP.2004.nc` and see if the `mole_fraction_of_of_carbon_dioxide_in_air` variable exists.

[2016-02-18 03:14] mdietze commented on #725
So if, as David suggests, the variable is just misnamed then you can easily fix the CRUNCEP functions.

On the otherhand, if it's just missing then you should add the same functionality you added to some of the other model to the ED met -- put a try() on the CO2 read and if it comes up as an error then insert a default value.

More generally, if there are met products that don't have CO2 we should

[2016-02-18 13:47] tonygardella commented on #725
@dlebauer @mdietze thanks for the advice. Although CO2 is not in CRUNCEP function, the ```try()``` function is used in the met2model script so it should be there.

I found that is was looking for the CRUNCEP met file in the ```CRUNCEP_ED_site_0-772``` directory, not in ```CRUNCEP_site_0-772```. I could either have the met file be in the model specific directory or leave it in the general site spec

[2016-02-18 16:24] tonygardella commented on #726
Talked about this with @bcow and @mdietze. My error for forgetting that NARR can only be used if NARR already exists on the machine. The permute and rechunk function isn't automated/integrated in met.process yet.

To avoid future issues with this, Mike and Betsy suggested adding a tagging/warning message that gets prompted when this part of the process is called, telling the user for now that NARR

[2016-02-18 22:23] mdietze opened #727 "Add LANDIS-2 model"

[2016-02-19 21:31] tonygardella commented on #725
The issue ended up being with the ```Error in asec[rng] : only 0's may be mixed with negative subscripts```. CRUNCEP is off slightly on the time dimension so adjustments have to be made in met2model when building the time dimension. @mdietze pointed out to me that he made a change to SIPNET to account for this and that would work similarly with ED2. I made the changes and so far running met2model

[2016-02-22 20:49] tonygardella opened #729 "Fix hack in trait.lookup function"
Currently within the utils package we have a trait.lookup function that looks up trait names and units from a table within the package itself. Taken straight from the function it says:
[code]

I'm opening this issue to turn this into a function that uses the database to return trait names and units rather than use the hard coded table within the package.

[2016-02-23 00:01] dlebauer commented on #729
I think the trait.dictionary is a hack that would be fixed by either adding
columns to the variables table or a separate table of variable attributes
that could store equivalent names from different vocabularies.
On Mon, Feb 22, 2016 at 2:49 PM Anthony Gardella <notifications@github.com>
wrote:

[2016-02-23 17:07] istfer opened #730 "method="halton" is harcoded in the workflow"
Right now sampling method halton is hardcoded in the workflow

[code]

We should be able to choose a sampler from settings.

[2016-02-23 17:10] mdietze commented on #730
Specifically, not only should the sampling method be made part of the setting object, but the downstream code needs to be modified to make sure this value is passed to the right functions (currently the ens.sample.method variable has no effect).

[2016-02-23 17:16] serbinsh opened #731 "Rename "settings" to "invert.options" in PEcAn-RTM"
In the invert.* functions

To avoid any confusion with larger PEcAn "settings" object

[2016-02-23 18:10] ashiklom opened #732 "Add PEcAn RTM to PEcAn build scripts"
Also, need to add to vignette that it won't install on Windows machines.

[2016-02-23 20:49] tonygardella opened #733 "Add Maespa Model"
This issue will correspond with the work being done to couple the Maespa Model http://maespa.github.io/ to PEcAn.

[2016-02-23 20:59] #725 closed

[2016-02-24 23:04] ashiklom opened #734 "ED write configs.xml -- defaults, constants, and the history.csv"
The behavior of the `write.configs.ED2` script is strange, specifically the section responsible for writing the `config.xml` file. I'm not entirely sure what the role of the arguments `defaults` vs. `trait.values` is and how the information in these arguments is being used.

From discussions with @serbinsh and @mdietze , my understanding of how the ED `config.xml` *should* be generated is as follo

[2016-02-25 00:35] mdietze commented on #734
1. I think "defaults" should be dropped as an argument to write.configs.[model] because any defaults are actually being passed via settings and none of the models I've implemented are using this argument. At a minimum it should come last and be optional rather than being first and required.
 * We know what PFTs to load/use from trait.values. We definitely are NOT populating every PFT
 * Ryan's cod

[2016-02-25 01:01] ashiklom commented on #734
@mdietze By the numbers, I meant the stages of the workflow -- as in, first
the defaults are set (1) and then trait values modify them (2). Is that
right?

Also, if trait values determine the PFTs used, does that mean you have to
modify a trait for every PFT even if you only want to perturb one? Like,
what if I wanted to do a sensitivity test for just hardwood SLA -- do I
have to still list every

[2016-02-25 02:17] mdietze commented on #734
I think Ryan's logic was the other way around -- defaults could over-rule trait.values.

No, you don't have to modify a trait for every PFT just to perturb one, you should be able to pass a PFT with just a name. The idea is that trait.values is how PEcAn is passing on the information about which PFTs were selected. That said, PEcAn is also assuming that **IT** is determining the parameter values -

[2016-02-25 02:18] istfer commented on #734
you can set the constants within the settings via pecan.xml file for that I think, e.g.

`<pfts>
   <pft>
      <name>PFT1</name>
      <constants>
         <mort2>...</mort2></constants>
   </pft>
   <pft>
      <name>PFT1</name>
    </pft>
</pfts>
`

whatever you hold constant won't go into the sensitivity test, here mort2 for PFT1 won't, if I get it right.. don't know if that helps

[2016-02-25 03:40] ashiklom commented on #734
@mdietze That's only for Ryan's `defaults` though, right? As in, first the parameters from `history.csv` should be set, then some are modified by `trait.values`, and *then* we modify the rest via `defaults` (or `settings`).

@istfer Thanks, that is helpful! That means that we should be able to deprecate the `defaults` in this script since the same functionality can be achieved thorugh PEcAn's sett

[2016-02-25 11:33] ryankelly-uiuc commented on #734
Just to weigh in— @ashiklom , I also found `write.configs.ed2` code to be confusing, and admit I didn't try to suss the whole thing out. What I wanted—and it seemed to me that one way or another this had been someone else's original intent too—was a way to fix parameters at some value and not let Pecan change them. If I remember right, Pecan's MO is to override any parameter for which it has data

[2016-02-25 14:22] istfer commented on #734
yep.

[2016-02-26 20:22] tonygardella commented on #399
@ch1eroe1 added you to this because of your work done with the history table already.

[2016-02-26 22:39] mdietze opened #735 "Camp PEON 2016"
What do we need working in PEcAn before the PalEON summer course (Aug 14-20) that goes above and beyond what we need working for the Flux Course?

For the flux course we'll need the main workflow and PDA code stable.

For PalEON we also need the state data assimilation (SDA) code that @araiho is working on

Along those lines we should probably also update the tree ring stats code, especially if @j

[2016-02-26 22:47] bcow commented on #399
This is also going to need to take into account the version number of pecan for the run in question correct?

[2016-02-26 23:59] istfer commented on #588
hi all, I was doing some long runs with SIPNET and just wanted to let you know that this is still happening

[2016-02-27 15:31] mdietze commented on #399
@bcow that's a great question. My gut feeling is that the version number of PEcAn by itself shouldn't affect the output of the model. Obviously we WILL need to check the version number of the model and will also need to check that the requested inputs to the model are the same (e.g. the same site and model but different met and PFTs is a different run). Harder to check automatically is whether the

[2016-02-27 16:28] robkooper commented on #399
Do we have to worry about the underlying database?  If we add new data the priors will change which could result in a new run.

Maybe suggest runs that look similar so the user can choose that specific run. We can also at that point show how long the run took.

[2016-02-27 18:07] mdietze commented on #399
The meta-analysis is a bit of a separate issue, but I think until "AUTO" is working more robustly that it makes more sense to default to NO. If someone adds a bunch of new data to the traits table or changes the prior they know that and can update the analyses. As we dive more and more into parameter data assimilation the MA isn't going the be the 'best' posterior in most cases. Obviously we shoul

[2016-02-29 21:07] mdietze commented on #444
there's also a github repo
https://github.com/dfalster/baad

[2016-03-01 16:47] tonygardella commented on #733
- [ ] Get Maespa to work on BU server
- [ ] Get it to execute through write.configs
- [ ] Write met2model and model2netcdf
- [ ] Get it to run through workflow using example parameterizations
- [ ] Update database with Maespa traits and let pecan write .dat files.

[2016-03-01 17:05] mdietze commented on #733
I'd split the 3rd step, as model2netcdf is required (higher priority) but met2model is optional.

[2016-03-01 18:17] serbinsh opened #737 "Error running PEcAn with Use Ameriflux"
It seems I am running into an error on my server related to use Ameriflux, but I don't think it has to do with that function.  It seems to be a lat/long check error:

[code]

@ankurdesai @mdietze Is this restriction....too strict?  Something else?

[2016-03-01 18:27] serbinsh commented on #737
Actually, the error may be occurring after this and not related...Will have to see what "skip" is

[2016-03-01 19:10] tonygardella commented on #737
@serbinsh there needs to be a ``` skip<- FALSE ```earlier in the script. I made changes and tested met2model.ED2 in the release candidate , copied and pasted into my BU server version and then made the pull request. I must've missed copying that line.

[2016-03-01 19:17] tonygardella commented on #737
I'll make that change now.

[2016-03-01 20:02] serbinsh commented on #737
Cool, thanks!  Let me know when pushed to mainline and I will test here

[2016-03-01 20:09] serbinsh opened #738 "Add Walker multi-assumption leaf-to-canopy physiology model to PEcAn"
Initial issue creation for this activity.  Will need to build wrappers and modify code base to work with PEcAn.  I will work with @tonygardella to make sure this is done in line with best practices.  Model code is being made available to me via private BitBucket.

[2016-03-01 20:22] serbinsh commented on #738
Plan: Identify how code is currently organized, determine how it will need to change to support pecan, start working on wrappers, test parts of the code and build tests, finalize integration / test

Will need to identify how met data is used and formatted to convert basic met to input met

- [] Get MAM (not sure of the latest name yet) code on BNL server (modex)
- [] Get MAM working on BU server
-

[2016-03-01 21:03] #737 closed

[2016-03-01 21:08] serbinsh commented on #737
Now working OK on BNL servers

![screen shot 2016-03-01 at 4 07 30 pm](https://cloud.githubusercontent.com/assets/3067369/13441932/d1b9fa4a-dfc7-11e5-9760-632d0ba654bc.png)

[2016-03-01 22:00] ashiklom commented on #734
Per the PEcAn skype call on 3/1, here is the pseudocode for the way this script should work. I'll take the lead on implementing that:

[code]

[2016-03-03 03:59] mdietze opened #741 "EcoData Retriever"
Would EcoData Retriever be a useful tool for getting data sets into PEcAn?

On the one hand, it aims to make getting and cleaning data easier, on the other it seems to support specific data sets
https://retriever.readthedocs.org/en/latest/datasets.html

We'd need to look more into it to see if it's extensible and generic approach to getting data out of known repositories

[2016-03-03 15:51] #730 closed

[2016-03-03 19:40] nelsonauner commented on #131
I fixed this with:
`> install.packages('DBI')`
`$ brew install postgresql` (possible unnecessary)
`$ sudo ln -s /usr/local/Cellar/postgresql /usr/local/opt/postgresql`

Not sure which one did the trick, but it works now

[2016-03-08 16:11] tonygardella commented on #733
write.configs works. Next step is to write met2model and have workflow run met2model and write.configs.

[2016-03-08 16:41] mdietze commented on #733
@tonygardella is there a pull request coming for write.configs.MAESPA?

[2016-03-08 18:09] tonygardella commented on #733
Oh, yep I can do that now.

[2016-03-08 18:43] ashiklom commented on #709
For the record, here is the [old spreadsheet](https://docs.google.com/spreadsheets/d/1A3SOukIQ32PdUqJqA-ESgSJhFLVi-_dzjs6x2ucuGD8/edit#gid=0) that @mdietze sent me from the previous attempt at importing. I tried to do a naive merge of this database with the TRY variables, just to see how many still lined up, and I only got 3 hits out of over 300. So, unless someone says otherwise, I think I'll jus

[2016-03-08 20:08] mdietze opened #743 "FedData R package might help with data ingest"
From @crollinson

Discovery of the day: R package ‘FedData’ helps download gov. soils, climate, & ITRDB data! Has anybody used this?
https://cran.r-project.org/web/packages/FedData/FedData.pdf

Has SSURGO, NED, GHCN, & ITRDB data.

[2016-03-09 21:05] max-zilla opened #744 "load.bety.sh not honoring PG_OPT in all cases"
https://github.com/PecanProject/pecan/blob/master/scripts/load.bety.sh

I can use -p with load.bety.sh to pass in my parameters for the psql host - e.g. in a docker environment I will want to specify -h, -p, and -U for the psql calls"
[code]
There is a var in this script called PG_OPT that allows one to pass these in, but it is absent from several of the psql calls in the file:
https://github.com/

[2016-03-09 21:06] max-zilla commented on #744
@gsrohde @robkooper any thoughts?

[2016-03-09 21:09] gsrohde commented on #744
If you set host to '/tmp' instead of the default localhost, that might work.  I.e., add "-h /tmp".

[2016-03-09 21:12] gsrohde commented on #744
Sorry, it doesn't look like you're using a local host.  But I don't quite understand the call syntax you're using and why you have quote (") marks where you do.

[2016-03-09 21:18] max-zilla commented on #744
In the args for load.bety.sh I saw this:
[code]
My intent was to pass along the -h host, -p port and -U user parameters to the psql command line calls within the script. Am I misunderstanding?

the two environmental variables are a docker thing, it basically translates to:
[code]

[2016-03-09 21:23] gsrohde commented on #744
Is 172.17.0.2 the machine containing the virtual machine in which the docker script is running?

[2016-03-09 21:27] max-zilla commented on #744
It's the docker container that's running the postgres instance. I am attempting to run this script from another docker container which is linked to the pg one.

It should work. At the terminal in the "bety" container (as opposed to the postgres container):
[code]
returns the same error that host does not exist.

[code]
Successfully connects me to the database and I can create tables, etc.

I inten

[2016-03-09 21:33] robkooper commented on #744
all use of psql should have the PG_OPT flags.

[2016-03-11 05:34] dlebauer opened #746 "ED2 test broken on 1.4.5 64 bit VM"
On a new virtual machine (v 1.4.5 64 bit), I ran the following:

[code]

This gave the following error:

[code]

The logfile contains

[code]

[2016-03-11 18:16] tonygardella commented on #746
@dlebauer Have you edited your config.php?  In  the release notes (https://github.com/PecanProject/pecan/releases/tag/v1.4.5) Rob points to  some changes that need to be made to config.php.

After making those changes I ran the test and it trips up at the ensemble step.
Executing jobs.sh on its own returns
[code]
logfile.txt is blank however.

Running ED through the web interface works however so

[2016-03-11 18:20] dlebauer commented on #746
this was on a fresh install of the 1.4.5 VM, so I had not edited anything. I was under the assumption that Rob was running the `tests/pecan64.*.xml` during deployment.  note that although I provided `./web/workflow.R --settings scripts/pecan64.ed.xml` I originally found the error running `build.sh --tests` but provided the above to narrow down the problem scope

[2016-03-11 19:01] robkooper commented on #746
Normally I do run, guess I did not this time. The problem looks like it has to do with a buffer overflow in ED. In my case it shows:
[code]

[2016-03-14 19:21] ankurdesai opened #748 "Ameriflux shiny interface for viewing flux data"
Koen Hufkens has made a Shiny R interface for visualizing Ameriflux data that might make a nice general case for viewing flux data. We should consider adding it to Pecan and perhaps generalizing it a bit.

A quick writeup can be found on:
http://www.khufkens.com/2016/03/11/amerifluxr-a-r-toolbox-to-facilitate-ameriflux-level2-data-exploration/

The toolbox can be downloaded by following the instru

[2016-03-15 14:02] serbinsh opened #750 "Error occurs when using Ameriflux and old rundir isn't found"
I recently found this issue when re-running some tests for a site where I had recently downloaded and used Ameriflux data and which, I had forgot, I deleted the old run dir.  PEcAn found a record of the data in  dbfiles BUT the actual director is no longer on the server; I had deleted the old run through the web interface

Error:

[code]

Ideas for how to avoid this behavior?

[2016-03-15 14:05] serbinsh commented on #750
Now I received this error trying to run again with a longer time frame?

[code]

@tonygardella @mdietze ideas?

[2016-03-15 14:25] mdietze commented on #750
@serbinsh the error you're getting is because you have two parent id's in the query, which suggests redundant definitions of an input: 1000000319, 1000000323

The first of these have no files associated so I'll delete that one. Should propagate across the network.

[2016-03-15 14:34] max-zilla commented on #744
This issue is closed, but a similar problem exists with the -o option (OWNER). psql calls shoudl honor the owner flag like line 230:
[code]

However many of the calls omit -U ${OWNER}:
[code]
https://github.com/PecanProject/pecan/blob/master/scripts/load.bety.sh#L207
https://github.com/PecanProject/pecan/blob/master/scripts/load.bety.sh#L229
https://github.com/PecanProject/pecan/blob/master/script

[2016-03-15 15:29] gsrohde commented on #744
@max-zilla I think the `role "root" does not exist` error comes from when psql tries to connect.  If you are running the update-bety.sh script as root and aren't using the -U option, then it tries to connect to the database as role "root", which usually doesn't exist (and probably shouldn't).

You can use the -p option to the script to pass options to psql—`-p "-U bety"` (or maybe some other user

[2016-03-15 15:49] robkooper opened #751 "Ability to send email from VM"
Need to setup vm's to enable to send emails, should disable the ability to receive or forward emails so they do not become spam relays.

[2016-03-15 16:53] max-zilla commented on #744
Thanks @robkooper for fixing.

[2016-03-15 16:53] #744 closed

[2016-03-16 15:19] serbinsh opened #752 "Potential issue with write.configs.ed"
From ED2 log

[code]

Looks like tags might not be properly formatted in the output XML files @ashiklom

[2016-03-16 15:21] serbinsh commented on #752
Yup, I see a formatting issue in the config.xml files in the /run directory See below:

[code]
THere is an orphan with no tag? @ashiklom

[2016-03-16 15:26] serbinsh commented on #752
Looks like this may only happen for some PFTs.  Maybe when there is a variable that PEcAn doesn't recognize?  Happened for me with the tempconif PFT when running ED2 at Sylvania from the web interface

[2016-03-16 15:52] ashiklom commented on #752
@serbinsh My pull request (#747) hasn't been reviewed or merged yet, so don't look at me! In fact, that workflow may fix this bug. Maybe check out the branch in that pull request and see if you get the same error? If it fixes it, add a :+1: to my pull request :smile:

[2016-03-16 15:58] serbinsh commented on #752
OK, will check. Pointed to you just in case you had any ideas based on changes, but as you say they haven't been merged yet ;)

[2016-03-16 16:20] istfer opened #753 "Add LPJ-GUESS"
Tony and I are working on adding LPJ-GUESS v3.1 to PEcAn
http://stormbringerii.nateko.lu.se/public/guess_download/

[2016-03-16 18:40] tonygardella commented on #753
- [x] Get it to execute through write.configs
- [ ] Write and test met2model
- [ ] Get it to run through workflow
- [ ] Write and test model2netcdf
- [ ] Get it to run through workflow
- [ ] Update database with LPJ-GUESS traits and let pecan write/edit param files
- [ ] Get it to run through workflow

[2016-03-17 21:15] gtomic2 opened #754 "Pecan 1.4.4 Web Interface Produces Model Error when Using Conversion"
I get a model error when using the web interface at the Tully site with the sipnet model.

 "Error: no climate data in sipnet.clim
mv: cannot stat '/home/carya/output//PEcAn_99000000030/run/99000000904/sipnet.out': No such file or directory "

Steps to reproduce.

Host: pecan64
Model: SIPNET (unk)
Conversion: True
Site: Tully_willow

PFT: Temperate.deciduous
Start date: 2013/01/01
End date: 2013/1

[2016-03-17 21:25] dlebauer opened #755 "Can not select host or model in web interface on 1.4.5 VM"
I tried to see if I could reproduce #754 with the 1.4.5 VM, but on the second page (http://localhost:6480/pecan/02-modelsite.php) I was unable to select either a host or a model. The dropdown boxes had no options other than "All Sites" or "All Models" respectively.

In the screenshot below I am trying to select models:

<img width="456" alt="screen shot 2016-03-17 at 4 24 47 pm" src="https://cloud

[2016-03-17 21:38] mdietze commented on #755
Same here.  @tonygardella I thought you tested the VM exhaustively??  @robkooper we need to pull the VM off the download, rebuild, and then test before re-releasing an update. Preferably sooner rather than later

[2016-03-17 21:41] tonygardella commented on #755
Have you guys edited the config.php? From the release notes:

## config.php changes

A major change has been done to the web interface configuration files. Please make sure to update your config.php, without these changes your web interface will not allow you to do any runs!

The variables $hostlist, $qsuboptions and $qsublist have been merged into a single variable called $hostlist. This list has

[2016-03-17 21:52] tonygardella commented on #755
After using config.example.php to make the edits, you should see hosts and models and be able to execute runs.

![pecan32](https://cloud.githubusercontent.com/assets/8570691/13862306/bbfd8f66-ec68-11e5-93b9-482698961fd2.PNG)

[2016-03-17 22:00] robkooper commented on #755
But that should have happened automatically before the user downloads the VM. Will remove from download and tag it 1.4.5.1 when I push it back up. Hopefully tonight.

[2016-03-18 12:43] #720 closed

[2016-03-18 12:54] tonygardella commented on #754
I was able to reproduce this bug. ```sipnet.clim``` is empty so  it seems met.process/browndog is not producing the correct model specific NARR met file. Browndowg with Ameriflux works and Sipnet works with other met drivers so the issue seems to be exclusive to this combination of model and met driver.

[2016-03-18 13:26] ankurdesai opened #757 "Update REddyProc"
REddyProc has been updated to include u\* filtering and flux partitioning + bug fixes. Need to update the R package in Pecan.

[2016-03-21 09:58] mdietze opened #758 "Admin / Sync menu"
Create a Admin webpage as part of the PEcAn web system that will users to control general PEcAn settings. The first item that should be on this page is an easy console for turning database sync on & off. Once it's ON it would also be nice to control when it is exported, when imports are done, and who is imported from. Similarly, it would be good for this console to give a clear warning if the loca

[2016-03-21 10:08] mdietze opened #759 "Prior Elicitation tool"
It would be nice to have a web-based tool in PEcAn that would help users through the process of eliciting their own priors (or the priors of other experts). This tool should follow normal social science procedures to avoid known human cognitive biases (e.g. eliciting the min and max first, and then more extreme quantiles, and then working inward to the mean/median, to avoid anchoring and adjustmen

[2016-03-21 12:16] mdietze opened #760 "rOpenSci geospatial libraries"
http://ropensci.org/blog/2016/03/17/ropensci-geospatial-stack

Useful summary of geospatial data tools by rOpenSci group. Including a new landsat package. Should be generally useful.

[2016-03-21 21:20] mdietze opened #761 "Stop after model run step if model fails"
The code that runs the model should throw an error if a model crashes or if there are no netCDF files in the output directory. In doing so it should also produce an clear error message to this effect. Right now the code keeps going until it hits the ENSEMBLES step, and then throws an error that lots of people are misinterpreting (e.g. telling me "but the model's running" just because it gets past

[2016-03-22 12:56] istfer commented on #715
CORDEX downscaled the CMIP5 outputs to 0.44 resolution http://www.cordex.org/ but I'm not sure whether all the outputs are available at 3-hourly timesteps (or whether all the outputs are available for all the domains at all)

[2016-03-23 15:34] ashiklom opened #763 "Ensemble analysis fails for ensemble size 1 on pecan2"
Whenever I try to do single-member ensembles on `pecan2`, the run fails on the ensemble analysis step.

Here are two representative workflow ID's:

[1000001406](https://pecan2.bu.edu/pecan/08-finished.php?workflowid=1000001406) -- Sipnet, at Harvard Forest.

[1000001409](https://pecan2.bu.edu/pecan/08-finished.php?workflowid=1000001409) -- Dalec, at Willow Creek.

[2016-03-23 16:36] mdietze commented on #763
So for 1-1406, the odd thing is that the error is:

no netCDF files of model output present for runid = 1000419687

but there ARE netcdf files that can be visualized.

[2016-03-27 03:41] mdietze commented on #754
Unfortunately, the issue is not model specific -- If I select NARR + BrownDog I can reproduce the bug with other models at other sites and for other years.

In the mean time, PEcAn 1.4.5 VM should be re-released (with a small bug fix) as soon as @robkooper gets back from vacation (Monday?) and that provides support for CRUNCEP as well as NARR, which should allow you to run at this site while we so

[2016-03-27 03:54] mdietze opened #767 "Narr domain bug"
Many locations selected in northern US and Canada don't have Use NARR as a met option. I suspect a bug in either the site info or the spatial query.

[2016-03-29 16:28] mdietze commented on #492
@SimonGoring I've been thinking about how to go about developing the Neotoma / PEcAn link in a way that gets us some basic functionality at the command line first, preferably in time for Camp 2016, and then incrementally works toward automation. Is the demo from PalEON Camp 2014 still working or does that code need updating? https://github.com/PalEON-Project/Camp2014/tree/master/Neotoma_Pollen

Wh

[2016-03-29 16:51] ashiklom commented on #763
This may be a user-specific (i.e. just for me) problem...or a larger issue with the ensemble analysis, because I haven't been able to get any ensemble analysis running, regardless of the size.

The latest fail is [1000001423](https://pecan2.bu.edu/pecan/08-finished.php?workflowid=1000001423).

[2016-03-29 17:26] ashiklom commented on #763
This is the error from `workflow.Rout`:

[code]

[2016-03-29 17:38] ashiklom commented on #763
Digging further, looks like `ensemble.output....Rdata` is a list of `NaN`s. I guess this may be related to Mike's earlier comment.

[2016-03-29 17:39] ashiklom commented on #763
@tonygardella Was able to isolate the problem to the `get.results` function.

[2016-03-29 18:05] ashiklom commented on #763
OK, after some digging, here's the issue: The execution of SIPNET is ignoring the dates that I told it to run and is running from 1999 to 2002 regardless.

@tonygardella found that everything works fine with Ameriflux, so this is an issue in the default SIPNET met.

[2016-03-29 18:26] mdietze commented on #763
Update: deleted the met NARR_SIPNET_site_0-758 because the file itself, and the associated dbfiles record, were for 1999-2002 but the Inputs record was for 2000-2013. Have not idea how that happened but starting over seems far simpler than fixing. Should look out for other examples like these, as they may be lurking from during the NARR development phase.

Longer standing but oft-forgotten issue:

[2016-03-29 18:27] mdietze opened #768 "SIPNET met subsetting"
SIPNET's met files exist as single large files and write.config.SIPNET doesn't subset the input met to just the years and dates requested. Code to subset SIPNET met exists from the early SDA work.

[2016-03-29 18:33] tonygardella opened #769 "Ameriflux multiple year met.process bug"
@ashiklom and I ran into a bug when running Dalec for multiple years at Willow creek. It fails at the met.process/CF standardization step.

[2016-03-29 18:45] mdietze commented on #769
What years, what's the error message, and what's the ensemble?  It's far more likely that you're running into an issue with a specific year (missing data on the server, gaps to big to gapfill) than you are running into a generic issue with Dalec met not liking multiple years

[2016-03-29 18:51] mdietze opened #770 "Met pull down menu needs to list met years"
When setting up a model run from the web interface, if one tries to choose an existing met file there's currently no way of knowing what years that file contains. This needs to be appended to the name.

[2016-03-29 19:06] tonygardella commented on #769
ID: 1000001427
start year: 1998
end year: 2004

[code]
In /fs/data1/pecan.data/input/Ameriflux_CF_gapfill_site_0-676 only netcdf files for 2002 to 2005 and then 2010 and 2011 exist so I think when it looks for the id of met files of all the years it can't find them.

[2016-03-29 19:30] mdietze opened #771 "History: searching for runs"
If you put a workflow ID into the "Filter history by text" window, it returns 0 workflows. Would be good to be able to search by workflow.

[2016-03-29 19:35] mdietze commented on #769
Assuming you didn't just delete the dbfiles record, the other thing notable here is that an inputs record exists for this site/met but that record doesn't have any dbfiles associated with it. That would explain the "dbfile not found" error more than the folder having some, but not all, files.

[2016-03-30 21:15] ashiklom opened #772 "DALEC Ensemble analysis hangs indefinitely"
PEcAn seems to get stuck on the ensemble analysis step. @bcow and I have been running moderately large (200-1000) ensembles of DALEC (e.g. [1000001436](https://pecan2.bu.edu/pecan/05-running.php?workflowid=1000001436) -- 200 member, [1000001432](https://pecan2.bu.edu/pecan/05-running.php?workflowid=1000001432) -- 1000 member), and while the model runs finish in just a few minutes, the job hangs se

[2016-03-30 21:21] ashiklom commented on #771
More generally, it would be nice to have more "Advanced Search" functionality based on values in the PEcAn XML. For instance, to filter only successful runs, or runs that have ensemble/sensitivity analyses associated with them.

[2016-03-30 21:59] ashiklom commented on #772
FYI, this is *not* an issue with SIPNET -- I tested with a 500 member ensemble [1000001437](https://pecan2.bu.edu/pecan/08-finished.php?workflowid=1000001437) and it worked swimmingly.

[2016-03-31 04:09] SimonGoring commented on #492
Hi @mdietze, that's great.  I just ran the demo and can confirm that the demo works (at least the non-JAGs portion), but I will edit it to update it.  The big thing is that `neotoma` is on CRAN now, so that's a minor edit to the code.  So, as far as functionality goes, if all you want is a matrix with site level info and pollen proportions, then you should be golden.

[2016-03-31 14:07] serbinsh opened #773 "Issues with CRUNCEP"
[code]

I am hoping this is not another issue with me running psql 9.4.6

Anyone else seeing this?

[2016-03-31 14:23] mdietze commented on #773
Does /data/Model_Output/pecan.output/dbfiles/CRUNCEP_DALEC_site_0-1104 exist on your server?  In other words, can you isolate whether the information in your database is incorrect or whether the met processing failed?

More generally, what's the workflow, site, and input ids?

[2016-03-31 14:34] serbinsh commented on #773
_Does /data/Model_Output/pecan.output/dbfiles/CRUNCEP_DALEC_site_0-1104 exist on your server?_

No, it doesn't get to the point of creating the directory.  But NCEP worked in the past.  Here is a dump of dbfiles

[code]
Shouldn't it create the directory during the met step?  The site is in my database and I was running with the "conversion" option to pick a new site.

[code]

[2016-03-31 14:36] serbinsh commented on #773
Full log file.  Note the warning at the top, that seems new

[code]

[2016-04-01 14:42] Viskari opened #774 "Latent heat for ED2"
As I was going over the output from ED2 as presented by pecan, I realized that ED2 doesn't actually give out latent heat, but the amount of water evaporated and that pecan doesn't currently convert that to energy.

So I thought to ask, before I start adding anything to the code, does pecan have that conversion available? Or should I add it there myself?

[2016-04-01 15:00] dlebauer commented on #774
I don't think so but it would probably be in / should go in
data.atmosphere/R/metutils.R
On Fri, Apr 1, 2016 at 9:42 AM Viskari <notifications@github.com> wrote:

[2016-04-01 16:10] mdietze commented on #774
Ok, so there's definitely an inconsistency here within model2netcdf.ED2 because on line 281 it has what appears to be the correct terms:

    out <- add(getHdf5Data(ncT, 'FMEAN_VAPOR_LC_PY')+getHdf5Data(ncT, 'FMEAN_VAPOR_WC_PY')+getHdf5Data(ncT, 'FMEAN_VAPOR_GC_PY'),28,row, yrs[y]) ## Qle

but in the other version, on line 412, it only uses evaporation, which is seems wrong because LE involves bot

[2016-04-01 23:29] Viskari commented on #774
No, I know I need to do the conversion, I was asking is the conversion method already in pecan or do I need to add it there?

[2016-04-02 16:09] serbinsh opened #775 "Too many open files issue again?"
I just got this error running PEcAn at command with SIPNET.  We used to get errors like this a lot in the past.  Not sure if this is a gremlin in the machine or this issue is resurfacing. Documenting this issue here for now until i can be sure.

[code]

[2016-04-02 16:21] serbinsh commented on #773
I just tried this again and have a bit more feedback:

[code]

It still ended with an error but I see that it did download the met files this time

[code]

You can see the new data for years 2000-2003

[2016-04-02 17:46] serbinsh commented on #775
More errors like this.  This time with a DALEC run:

[code]

[2016-04-02 17:47] serbinsh commented on #775
Here is the run setup:

pecan.xml
[code]

[2016-04-02 17:48] serbinsh commented on #775
Need to check the get.model.output code to make sure files are being closed properly

[2016-04-04 00:39] ashiklom commented on #775
I think I might be having a related problem. Reading ensemble outputs is snappy at first but then becomes progressively slower as more files are loaded. I think there might be a memory leak in the `read.output` function. Will try to investigate.

[2016-04-04 00:49] ashiklom commented on #775
I think I may have found the issue. The offending lines are [126-128 in read.outputs](https://github.com/PecanProject/pecan/blob/master/utils/R/read.output.R#L126-L128).

I think the issue is that each `nc` file is opened twice by `nc_open` -- once in the `tryl` function and again on the next line. Only the latter is closed, so as we loop through a bunch of files, we accumulate a memory leak. I'll

[2016-04-04 01:35] ashiklom commented on #775
Never mind -- I tried that fix and it's still just as slow.

I wanted to run `Rprofmem()` on it to see if anything was using up a lot of memory, but apparently R can't do it on `pecan2` -- "Memory profiling not available on this system". I might try it on my local machine.

[2016-04-04 01:39] bcow commented on #775
Is this something that needs root permissions?  You can send me what you were going to run and I try it on test-pecan.

[2016-04-04 03:28] ashiklom commented on #775
@bcow You can give it a whirl, but I don't think so. It's something you run from within R, so it shouldn't need root permissions. From the documentation, it seems like you'd need to recompile R with specific settings enabled, which we definitely don't want to try on a production machine.

Here are the relevant man pages:

https://stat.ethz.ch/R-manual/R-devel/library/utils/html/Rprof.html
https://

[2016-04-04 12:55] serbinsh commented on #775
@ashiklom @bcow I think we can start by confirming that the recent changes to PEcAn have not accidentally caused this issue by removing or modify the calls to close netCDF files.   This has happened before when we accidentally changed the code / logic / flow and didn't realize the call to close the file after processing / extracting output wasn't being properly called, thus leading to files left o

[2016-04-04 12:57] serbinsh commented on #775
Actually after looking back over I bet the issue is in the read model output step.

[2016-04-04 12:58] ashiklom commented on #775
Is there a good way to view all open netCDF files? I tried adding a
showConnections() call inside read.output but it said there were never any
files open, at least not after the nc_close statement.

On Mon, Apr 4, 2016, 8:57 AM Shawn P. Serbin <notifications@github.com>
wrote:

[2016-04-04 13:04] serbinsh commented on #775
It may be in read.ensemble.output()

On Apr 4, 2016, at 8:58 AM, Alexey Shiklomanov <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there a good way to view all open netCDF files? I tried adding a
showConnections() call inside read.output but it said there were never any
files open, at least not after the nc_close statement.

On Mon, Apr 4, 2016, 8:57 AM Shawn P. Serbin <not

[2016-04-04 13:10] ashiklom commented on #775
All read.ensemble.output does is loop over ensemble IDs and call read.output -- it doesn't actually open any files. There are issues in both functions with inefficient dynamic memory allocation, but they shouldn't cause a "too many open files" error.

[2016-04-04 13:50] robkooper commented on #775
Can you try and see if you can do an `lsof` to a file while the process is running. You might be able to use `lsof -r 2 -c R` to see all files opened by R, hit ctrl-C when done. See what new files are opened.

[2016-04-04 14:20] robkooper commented on #775
One option is to add some code to that does:
`
system2("ls", c("-l", "/proc/self/fd"))
`
And look at the output

[2016-04-04 14:28] ashiklom commented on #775
Actually, I don't think @bcow and I are having any issues -- I thought the process was slowing down because it made Rstudio unresponsive, but it was actually just that the web-based Rstudio was bogged down by all of the logger output. The actual process was evenly fast throughout. But it's probably still worth trying Rob's suggestions.

[2016-04-04 14:46] ashiklom commented on #717
This is working on Geo. Do you want me to compile it on pecan2 as well? Otherwise, we can probably close this...

[2016-04-04 14:49] #717 closed

[2016-04-04 19:52] tonygardella commented on #773
@serbinsh I was able to replicate this bug on the VM and pecan2, failing with the same errors.  However, running it for a single year(2003) works . I went to try and fix the problem but when I run met.process on its own, passing it the same pecan settings, it creates the correct directories and files.

I tried running DALEC  at a different site with the same settings:
[code]

All of this is really

[2016-04-04 20:59] serbinsh opened #776 "Issue with write.config.MODEL w/ PFT w/ only a single prior / param"
Running a model with a single prior / param seems to result in a improperly formated trait.samples() object to write.config.MODEL.

[code]

Note that despite only running with Vcmax the object expects two params resulting in a blank value or the median being copied together with the quantile value.  If I then add, say, SLA to the pft then the expected behavior is the result

[code]

There is no mo

[2016-04-04 21:01] serbinsh commented on #776
@dlebauer when you were working up BIOCRO did you notice anything like this?

[2016-04-04 22:17] dlebauer commented on #776
I've seen the 'cannot create directory' errors in the last few weeks but if
I recall I 'solved' it by changing permissions to allow write access. I
didn't realize it was a bigger problem.
On Mon, Apr 4, 2016 at 4:01 PM Shawn P. Serbin <notifications@github.com>
wrote:

[2016-04-05 09:56] mdietze commented on #776
I suspect the code is balking to run a single parameter PFT because R is automatically changing the type of a data object somewhere from data.frame or matrix to vector.

[2016-04-05 13:46] serbinsh commented on #772
@ashiklom Going back to the "too many open files" issue, that is why one of my DALEC runs stalled at the ensemble step indefinitely. Is it possible this is your issue?

[2016-04-05 13:50] serbinsh commented on #776
@mdietze Yeah, I think you are correct.  Will have to go back further in the code to see if we can suss this type change out.  However, running with two priors works fine.

[2016-04-05 13:50] ashiklom commented on #772
@serbinsh Definitely possible. Seems like it would be worth sitting down and performing some optimization of core PEcAn functions at some point. Might be a good opportunity to rethink some of their control flow too, as we did with `write.configs`.

[2016-04-05 13:50] serbinsh commented on #750
OK.  I will retry and see if this is now fixed

[2016-04-05 13:54] serbinsh commented on #750
![screen shot 2016-04-05 at 9 53 40 am](https://cloud.githubusercontent.com/assets/3067369/14284163/528b6408-fb14-11e5-9748-4c38d13dcb4b.png)

Looks like we are good now

[2016-04-05 13:54] #750 closed

[2016-04-05 14:00] serbinsh commented on #772
Cool.  Yeah, for example here is the DALEC running I was referring to:

[code]

[2016-04-05 14:05] serbinsh commented on #773
@tonygardella I just tried another nearby site and the CRUNCEP worked but still gave PostgreSQL geometery warnings:

[code]

[2016-04-05 14:06] serbinsh commented on #773
@tonygardella and trying again wiht SIPNET

[code]

[2016-04-05 14:33] tonygardella commented on #773
@serbinsh When you say CRUNCEP worked, did the run complete?

[2016-04-05 16:45] serbinsh commented on #772
Its possible this is related to #775

[2016-04-05 17:05] serbinsh opened #779 "NLCD is in the ocean now?"
![screen shot 2016-04-05 at 1 05 30 pm](https://cloud.githubusercontent.com/assets/3067369/14290952/204ed0e0-fb2f-11e5-9c2c-9c4a20d460d4.png)

[2016-04-05 17:08] robkooper opened #780 "Add shiny to server"
Add [shiny](http://shiny.rstudio.com/) to vm.

[2016-04-05 17:29] #734 closed

[2016-04-06 01:42] mdietze commented on #491
@bcow and @ashiklom made a first draft of a Monte Carlo global sensitivity analysis here: https://github.com/bcow/Global-sensitivity-analysis

[2016-04-06 14:39] tonygardella commented on #776
I'll be adding instructions in the "Adding an Ecosystem" page in gitbook to associate two priors with a pft for a given model before writing write.configs.

Also, leave this open for reference.

[2016-04-06 14:54] ashiklom opened #781 "Update version of Git on everything"
The latest version of Git is 2.8 (2.5 is the latest one in the base Ubuntu repositories). The one running on the VM is 1.9, and the one on pecan2 is 1.7. It's not imperative that we keep up with every minor release, but we should update through the latest major release (2.0) since it has [important changes](http://blogs.atlassian.com/2014/06/happened-git-2-0-full-goodies/) that we can take advanta

[2016-04-06 15:08] bcow commented on #781
It looks like updating git on centos 6 is a bit more involved.
http://tecadmin.net/how-to-upgrade-git-version-1-7-10-on-centos-6/#
I'd be happy to do it if you all think it's a good idea.

[2016-04-06 15:15] dlebauer commented on #781
To clarify:

1. will failing to update cause any issues (other than warnings)?
2.  does 2.x offer any improvements or changes to current workflow?

[2016-04-06 15:23] ashiklom commented on #781
@dlebauer

1. No, at least not for basic git (which is most of what we do).
2. Some advanced Git functionality is either worse or entirely absent from earlier git versions. In leading some advanced Git tutorials, I've come across commands that don't work in pre-2.0 versions of Git. These commands are not a part of the standard workflow, but are very helpful in resolving Git issues (e.g. accidental

[2016-04-06 15:26] ashiklom commented on #781
A good example of a command that is better post 2.0 is `git add <path`. Before 2.0, it ignores file moves/removals. After, it includes them. This is a significant benefit to the basic workflow because telling git to stage file deletions is notoriously counter-intuitive (at least to me).

[2016-04-06 19:16] tonygardella opened #782 "Sipnet- Willow Creek error"
@ankurdesai originally ran into an error when running Sipnet at Willow Creek.

[code]

@mdietze replicated the run and it failed with error message:

[code]

I took a look at the run that @mdietze did and it seems that the symbolic link created to sipnet.clim is wrong. It does not point to the model specific met file, but rather  to `/fs/data1/pecan.data/input/Ameriflux_SIPNET_site_0-676/US-WCr` w

[2016-04-06 19:22] tonygardella commented on #782
I'll take lead on fixing the symbolic link bug. I think I know where I need to look to fix this.

[2016-04-06 19:43] tonygardella commented on #775
@serbinsh @ashiklom @robkooper @bcow It seems that Rob confirmed that there are too many files opened. Where/how do we  fix this?

[2016-04-06 20:56] dlebauer commented on #775
p.s. The Rstudio provides a nice interface to the debugging environment

p.p.s. `debug` turns on debugging on for the specified function;
`debugonce` is handy because it turns off debugging automatically when you
end the debugging session
On Wed, Apr 6, 2016 at 3:02 PM Alexey Shiklomanov <notifications@github.com>
wrote:

[2016-04-07 14:08] robkooper commented on #781
On the VM I tend to stay with the version of software that comes with the OS, that way I don't have to mess with the updates myself and all dependencies. Could you like the tutorial and maybe some of the advanced use cases?

[2016-04-07 21:17] serbinsh commented on #773
@tonygardella this error is related to not finding specific DBfiles?

[code]

[2016-04-07 21:19] serbinsh commented on #773
@tonygardella I have been able to get CRU to work 1) when running at a new site (first time) or 2) reusing existing CRU.  But I have had errors when trying to run at old sites when I am trying to run for more years.

[2016-04-07 21:22] serbinsh commented on #773
Also @tonygardella here is a DALEC run that worked but had several warnings

[code]

[2016-04-07 22:59] mdietze commented on #773
Not surprised that increasing the duration for an existing met record causes a problem, that's a special case we're not fully set up to handle, since it requires dynamically updating an existing record, not creating a new record @bcow

[2016-04-08 17:16] tonygardella commented on #773
@serbinsh This is a really odd bug that I can't pin down. I'm going to debug on a clean VM where I have more freedom to mess around with bety.

[2016-04-11 13:53] tonygardella opened #787 "Browndog and NARR"
@seanmcm tried to run ED2 at Harvard Forest from 2010 to 2015 using Brown Dog NARR with a basic setup and ran into an error. ED2 Met is not being created.

NARR is the only met product we have integrated that covers those years. This needs to be understood and fixed asap.

[2016-04-11 13:56] serbinsh opened #788 "ud.convert issue on Mac"
Mac OSX version: 10.10.5
R version:

[code]

udunits version: 0.8.1

Issue:
ud.convert is throwing errors for conversions that should work.  For example:

[code]

[code]

But on Linux

[code]

[code]

[2016-04-11 14:15] tonygardella opened #789 "ERROR Messages when PEcAn fails"
We need to make PEcAn more informative when a run fails. For first time users it is not very clear as to where to start troubleshooting from.  A general solution is to direct the user to workflow.Rout, the model execution log file (logfile.txt), and the stdout and stderr file in output. I think a simple message telling the user to look at these files in the drop-down menu would suffice for now.

@

[2016-04-11 14:47] serbinsh opened #790 "Missing function in SA?"
[code]

I have been seeing this pop up with my MAAT tests.  Not sure if this is a specific issue with my current coding with MAAT or others are seeing this with other models? @dlebauer @tonygardella

[2016-04-11 14:48] dlebauer commented on #790
`status.start` is defined in `web/workflow.R`

[2016-04-11 14:49] dlebauer commented on #790
https://github.com/PecanProject/pecan/blob/master/web/workflow.R

[2016-04-11 14:50] serbinsh commented on #790
Ahh yes OK.  Let me fix my test workflow

[2016-04-11 14:52] serbinsh commented on #790
I see the issue, I was borrowing from /test/interactive-workflow.R which does not define the status function but calls to it at the end

[code]

[2016-04-11 14:54] #790 closed

[2016-04-11 18:05] serbinsh opened #792 "Are the units in Ensemble / sensitivity analysis graphs labeled incorrectly?"
Graph with the histogram on the left and the boxplot on the right

It is my understanding that the units are Kg C / ha / year

But they are labeled as kg C / m2 / s

@Viskari @dlebauer @ashiklom @tonygardella Am I wrong?

[2016-04-11 18:26] tonygardella commented on #792
@serbinsh I believe it should be  kg C / m2 / s. We agreed that the MsTMIP output variable names/units were what we would use and all carbon fluxes have kg C / m2 / s as units.

[2016-04-11 18:36] serbinsh commented on #792
Hmmm...but my resulting values are really really high.  I am properly putting them into kg C / m2 / s when converting to netCDF and the values are as expected (very small) but the values on the PDFs are around like 7000+ units. Maybe if this was added over a year it would make sense but per second doesnt