[2016-04-11 18:38] serbinsh commented on #792
[ensemble.analysis.NOENSEMBLEID.GPP.2005.2005.pdf](https://github.com/PecanProject/pecan/files/213640/ensemble.analysis.NOENSEMBLEID.GPP.2005.2005.pdf)

[2016-04-11 18:38] serbinsh commented on #792
sorry actually higher, like 72K+

[2016-04-11 18:51] tonygardella commented on #792
@serbinsh I went and looked at a bunch of runs with other models and all have the same mismatch. The time series of NPP and GPP is many orders of magnitude smaller than what the histogram shows. The magnitude of the histogram is definitely off.

[2016-04-11 18:53] serbinsh commented on #792
OK, thanks for the feedback @tonygardella. At least I know I am not going crazy!  Maybe an extra call to unit conversions somewhere int he plotting that is causing "units gone wild" ?

[2016-04-11 18:59] tonygardella commented on #773
Still playing around with this on the VM. If I write out the met files to a different directory they are created correctly.

I did however run into the same error as before  during met.process at a different site if I ran it for a series of years and I already ran it for a different set of years at that site successfully before. Deleting the met file records and trying again resulted in success. I

[2016-04-11 19:18] mdietze commented on #773
As an initial work around, can we add code to delete all files automatically if the new dates are larger than the original dates so that the code will work, if inefficiently .  Would be better to ultimately append rather than delete, but that might take more subtlety

[2016-04-11 19:48] mdietze commented on #792
Yes, there's a built in conversion in there. You can get rid of it if you want

[2016-04-11 19:49] Viskari commented on #792
As Mike said there is currently a built-in conversion in pecan/utils/read.output.R which converts both NPP and GPP from kg m-2 s-1 to kg ha-1 yr-1

[2016-04-11 21:35] serbinsh commented on #792
kg ha-1 yr-1 is fine we just need to make sure we are putting the correct units in the ensemble and SA graphs.

[2016-04-12 12:33] serbinsh opened #793 "Ignore file types within web interface?"
@robkooper Is it possible to ignore additional file types within the web interface such that they do not show up as an option in the drop down?  Sometimes my mac computer will create those .DS_Store hidden files that show up in the PEcAn Files menu.  Low priority but I thought I might ask if this is possible.

<img width="372" alt="screen shot 2016-04-12 at 8 30 09 am" src="https://cloud.githubuse

[2016-04-12 12:39] robkooper commented on #793
Should ignore all files that start with a period.

[2016-04-13 00:05] ashiklom opened #794 "read.ensemble.output fails for ED git (on geo)"
ED run fails on ensemble step because no netcdf files are found. If I understand PEcAn correctly, this is because the `model2netcdf` (or whatever) conversion function hasn't run for ED. Otherwise, the model runs without issue and produces output in the specified directory, just not the netcdf files.

A reference run is [1000001467](https://pecan2.bu.edu/pecan/08-finished.php?workflowid=1000001467)

[2016-04-13 00:12] robkooper commented on #794
Looking at the log file it shows model2netcd failed:

[code]

[2016-04-13 17:03] tonygardella commented on #789
@robkooper Could you add a message that appears to the user after a run fails directing people to workflow.Rout and other files they could troubleshoot from?

[2016-04-13 17:06] mdietze commented on #789
In particular, if @robkooper can modify the php to detect the error and display ANYTHING then @tonygardella can update the text

[2016-04-13 17:53] araiho opened #795 "Generalize sda.enkf.R to work with other models and state variables"
Right now, the code is working for LINKAGES with four species biomass at UNDERC. To generalize, we need to do the following steps:

- Make it work for LINKAGES at other sites with more species and other state variables.

- Fix the SIPNET code to make sure that the code is generalized enough to work with two models. This will involve outlining the interface design for write.restart.MODEL and read.r

[2016-04-13 19:53] tonygardella commented on #782
I found that met.process was not returning the correct path. Before I went and changed any code I tried to replicate this run on a VM and it ran successfully. It seems that this error is specific to pecan2 so I don't think I need to change any code and I just need to checkout if BETY has the correct path to the met file or not. If not then find out why.

[2016-04-13 21:42] Viskari commented on #774
I am having an issue currently getting the conversion working. I think I figured out what the problem is, but I don't know how to fix it.

I created the function below in data.atmosphere/R/metutils.R and recompiled pecan, but when I call to this function in model2netcdf.ED2.R, it causes the that to crash. I assume the issue is with the param E, but how do I do it correctly?

##' Estimate latent he

[2016-04-13 22:13] dlebauer commented on #774
@Viskari the function looks like it should work, e.g. if I put `LHE(10)` it comes up with 22720000. Do you have any additional information other than the fact that it crashes? What does the log say?

[2016-04-13 22:17] dlebauer commented on #774
P.S. While you are at it I would suggest adding an analogous function to go from evaporation to latent heat, as well as some tests. And perhaps use more informative names ... here are my suggestions

[code]

PPS Wednesdays are great days for adding new tests ... just put the lines

[code]

in [`/modules/data.atmosphere/tests/testthat/test.metutils.R`](https://github.com/PecanProject/pecan/blob/mas

[2016-04-14 00:16] Viskari commented on #774
I just tried to rerun, but there seems to be a database issue with our
server at the moment. When I have the runs redone, I'll put the error log
here.

On Wed, Apr 13, 2016 at 6:17 PM, David LeBauer <notifications@github.com>
wrote:

[2016-04-14 14:38] serbinsh commented on #774
@Viskari<https://github.com/Viskari> Rafael changed around some hostname/IP mapping on the server which messed up PEcAn.  He is changing it all back now to get it up and running again.

S
------------------------------------------------------------------------------
Shawn P. Serbin
Biological, Environmental & Climate Sciences Department
Brookhaven National Laboratory
Upton, NY 11973-5000

Phone: +

[2016-04-14 14:51] serbinsh commented on #774
OK @Viskari try it now

[2016-04-15 12:48] tonygardella commented on #773
Within the VM, even if the years for a run are a subset of the existing met file it still will not work. There seems to be an issue when met2model writes out the model specific met file. It receives the correct raw CRUNCEP, processes it correctly and the "out" object looks correct. When the "out" object is written into the model specific met it trips up. For me it says I do not have permission to

[2016-04-15 12:56] mdietze commented on #773
1) On the VM, the permissions issue should have been fixed. @robkooper can you make sure that's fixed in future releases. You can also get around that by running with sudo

2) when deleting existing met, make sure to download and process the UNION of the original and new dates, otherwise years will disappear

[2016-04-15 17:13] tonygardella commented on #775
I went and ran ensembles at different sizes and got different errors at different sizes. There does seem to be a threshold of ensemble size between 190 and 200 where a run will fail at the ensemble step.

For 10,000:
[code]
at 1000
[code]
and for 200 and 500 they had a very similar error
[code]
The runs I tried with ensemble size 100, 150, 175, and 190 ran successfully. The run with ensemble size

[2016-04-15 17:18] robkooper commented on #775
I think the error with 10,000 is related to the database sync.

[2016-04-16 20:54] mdietze opened #797 "USGEO Earth obs framework"
note from @ankurdesai

Just back from a sustaining carbon cycle observation workshop sponsored by the relevant agencies (CCIWG) that parallels one on predicting the carbon cycle last month that Mike and others attended. One thing I learned that is pecan relevant is the presence of a new report from the white house office of science and technology policy, which coordinates the US Group on Earth Obs

[2016-04-18 19:35] ashiklom commented on #731
Addressed this issue in #798 -- whoever has the authority can close this (but, make sure you make changes in all of your scripts that use `PEcAnRTM`!)

[2016-04-18 19:39] ashiklom commented on #732
This was addressed in #798.

[2016-04-18 19:39] #732 closed

[2016-04-18 19:45] tonygardella commented on #731
Cool! I'll close this when #798 is merged.

[2016-04-18 23:20] #793 closed

[2016-04-19 16:55] robkooper opened #800 "write.settings"
Need to have a write.settings that will remove some of the secret informations such as username and password.

[2016-04-19 16:58] robkooper commented on #787
Ingested data, should work now

[2016-04-19 17:54] mdietze commented on #491
In an email conversation with @xuchongang, he has interest in adding FAST to the set of global SA supported by PEcAn. The current plan is to merge in the draft Monte Carlo SA by @bcow and @ashiklom this summer and then pass that (and the sampler code by @istfer #778) to Chonggang as an example that he can then generalize.

[2016-04-19 19:34] Viskari commented on #774
Okay, got everything running now. So the problem with the function that model2netcdf is complaining about not finding it:

[1] "----- Processing year:  2000"
Error: could not find function "LHE"
Execution halted

Do I need to add some additional link to it?

[2016-04-19 19:52] mdietze commented on #774
Did you recompile PEcAn so the package is built, and did you include the package in the dependencies for the ED package?

[2016-04-19 20:13] Viskari commented on #774
I recompiled, but I hadn't added it to the dependencies. Where do you do that addition?

[2016-04-19 20:53] mdietze commented on #774
https://github.com/PecanProject/pecan/blob/master/models/ed/DESCRIPTION

[2016-04-20 03:05] seanmcm commented on #787
Hi Rob,
Thanks much.

Sorry to email broadly, but I’m trying to understand how to debug this platform.

Attached is the results, but don’t know how to figure out what’s wrong. So looks like met data works, but don’t know why the ‘ensemble’ would fail.  Not trying to do anything special with ensemble models (yet).  Could you look into this?  Be glad to chat.

Thanks,

sean

[2016-04-20 11:08] mdietze commented on #787
Sean,

* No attachment came through to Github
* The error message at the ensemble step is a known issue -- this can occur when the model itself fails, but that fail doesn't get caught by PEcAn, so PEcAn then later fails when it's trying to read the model output, which doesn't exist (a single run in PEcAn is actually an ensemble of n=1 so the ensembles step is always called).
* You should be able t

[2016-04-20 11:13] seanmcm commented on #787
Thanks Mike,

i’ll give this a go.  I essentially did the same setup that ran on jan 1 2004 to dec 31 2004, but changed the years.  I’ll let you know how it goes.

Sean

[2016-04-20 11:19] seanmcm commented on #787
Mike, Sorry to bother the list  more.  Here’s log output … it’s pretty emphatic!

[+] Init_Met_Drivers...
==================================================
 Polygon lies outside the met driver domain!!!
==================================================
 + Polygon:
   - Longitude :  -7.21715E+01
   - Latitude  :   4.25378E+01
 + File: :  /home/carya/output/dbfiles/BD-76d144e11c50
 + Meteorologica

[2016-04-20 11:52] mdietze commented on #787
Hmm, that's odd -- the met data boundaries should be centered on the site (polygon) lat/lon but in this case the site longitude is outside the met boundaries, which means either the wrong grid cell was extracted or the lat/lon got messed up in translation somewhere. @tonygardella could you look into this today?

[2016-04-20 12:28] dlebauer commented on #787
@tonygardella perhaps check
https://github.com/PecanProject/pecan/blob/1743b942fdba4adb7cd6cc7716f2f3ae258eb2c0/modules/data.atmosphere/R/closest_xy.R

One suspect: f it ends up with > 1 closest points at the end it takes the
first one and gives a warning.
On Wed, Apr 20, 2016 at 6:52 AM Michael Dietze <notifications@github.com>
wrote:

[2016-04-20 18:10] tonygardella commented on #787
Should the lat/lon in ```ED_MET_DRIVER_HEADER``` match the site(polygon) lat/lon?

[2016-04-20 18:20] mdietze commented on #787
Lat/Lon in the met header needs to box the site Lat/Lon

[2016-04-20 18:28] robkooper commented on #787
One thing to look at is the NC file and make sure it has the right lat/lon in it. See the code at: https://github.com/PecanProject/pecan/blob/master/models/ed/R/met2model.ED2.R#L89-L103, before this was using meters instead of degrees, but we might run into the same problem again. What are the values in the MET_HEADER and what site lat/lon should it be (also what is the site).

[2016-04-20 18:29] robkooper commented on #787
Looking at the values, the area extracted is really small (0.1 degree). I think we use 1 degree in other places around the site.

[2016-04-20 18:37] mdietze commented on #787
But that shouldn't make a difference, the box should just be the site Lat/Lon +/- 0.5 * box size

[2016-04-20 18:51] tonygardella commented on #787
The MET_HEADER had: -71.5805130004883,  42.7327003479004
and the site lat/lon is: -72.1715, 42.5378 which is Harvard forest.

Ill take a look at met2model

[2016-04-20 20:18] bcow commented on #787
@robkooper could you look at
https://github.com/bcow/pecan/blob/master/models/ed/R/met2model.ED2.R#L110-L111

It should look like this
[code]
and the function should have lat and lon as arguments.

This problem came up before in pull request #468 and the changes I made seemed to work for our local builds of pecan

[2016-04-20 20:23] bcow commented on #787
Specifically commit https://github.com/PecanProject/pecan/pull/468/commits/10bf7e1163f00bd4802b056e5cf36ed070829795

[2016-04-20 22:38] robkooper commented on #787
This seems to come up, but the met_header claims to be using 1 degree around the lat/lon: https://github.com/bcow/pecan/blob/master/models/ed/R/met2model.ED2.R#L303

Also do we see any of the following when the data is generated:
https://github.com/pecanproject/pecan/blob/master/models/ed/R/met2model.ED2.R#L94

[2016-04-21 14:22] Viskari commented on #774
Okay, second question how do I do the addition? Do I just add the function name or the data module to the dependencies list?

[2016-04-21 14:26] dlebauer commented on #774
Yes

[2016-04-21 15:13] mdietze commented on #774
The package name goes in the dependencies list, not the function name

[2016-04-21 18:26] dlebauer opened #801 "incorrect identification of leap years; multiple implementations."
The logic to test if a year is a leap year has been implemented perhaps a dozen times independently [within the PEcAn code base](https://github.com/PecanProject/pecan/search?utf8=%E2%9C%93&q=leap), including once as the function [`is.leap`](https://github.com/PecanProject/pecan/blob/1743b942fdba4adb7cd6cc7716f2f3ae258eb2c0/models/ed/inst/timeutils.R).
2. there are [many cases where `year %% 4 i==

[2016-04-21 23:05] robkooper commented on #801
Other handy functions to add:

[code]

now we can simply call `24/6 * days_in_year(1999)`` to get the value for every 6 hours.

[2016-04-22 20:31] robkooper opened #802 "Show hostname when asking for username + password"
When the system asks for username and password for remote site it should show the hostname.

[2016-04-22 21:03] tonygardella commented on #787
Consulted with @mdietze about this and added this commit to make sure the lat lon in the extracted nc file match the site lat/lon: https://github.com/PecanProject/pecan/pull/784/commits/ac859982042060cd8a31397bd08d77f97f6c0203

It made a test run work if I used the existing NARR we have on our server. We'll have to do further tests with Browndog and other sites to close this issue.

Sorry I tacked

[2016-04-26 15:49] #770 closed

[2016-04-27 04:16] robkooper commented on #629
<img width="1341" alt="screen shot 2016-04-26 at 10 54 53 pm" src="https://cloud.githubusercontent.com/assets/1580696/14841594/ed972954-0c04-11e6-8827-755ff692d791.png">

[2016-04-27 04:16] #629 closed

[2016-04-27 16:29] robkooper commented on #754
Can you see if this is an issue, see http://pecan-dev.ncsa.illinois.edu/pecan/05-running.php?workflowid=99000000010

[2016-04-27 16:37] #754 closed

[2016-04-28 17:00] robkooper commented on #787
This should be resolved, if not could you open a new issue and we can look at it.

[2016-04-28 17:00] #787 closed

[2016-04-28 17:19] mdietze opened #808 "ED2 failing with NARR met"
When running NARR met at Harvard, ED gets through 1 month OK and then the photosynthesis scheme fails at the very start of the next month. This happens whether starting Jan 1 or Jun 1.
[code]

[2016-04-28 17:53] #767 closed

[2016-04-29 09:36] seanmcm commented on #787
Thanks Rob.  I’ll set aside some time to test again.

Sean

[2016-04-29 11:12] mdietze commented on #787
@seanmcm while this bug is resolved, ED2 is still failing after 1 month #808 and we haven't yet had a chance to dig into what ED2 doesn't like about the met drivers it's getting. Will keep you posted.

[2016-04-29 12:11] seanmcm commented on #787
Is there another model that can run HF for the years 2011 to 2014?

And if there comes a time when I might help without ‘getting in the way’, let me know.

thanks,

Sean

[2016-04-29 14:53] mdietze commented on #787
Just successfully ran SIPNET and DALEC on this VM http://54.164.131.188/pecan and you can grab the results from the History table. There's are a few other models I could try, but it will require a work around to #773

Sean, you're definitely not getting in the way -- finding bugs is very helpful, and I just wish we were closing them quicker so you could be up and running.

Semester's finishing up

[2016-04-29 14:56] robkooper commented on #761
This solves the problem for ED, I tested sipnet. If this fails for any specific models please open a new ticket and add there which model it fails for and an example so I can recreate it.

[2016-04-29 14:56] #761 closed

[2016-04-29 17:52] tonygardella commented on #775
I think we can close this. Previously I had been testing on BU servers, but today I was trying it on a PEcAn VM and did not run into any problems running ensembles sizes of  2-1000.

[2016-04-29 19:48] tonygardella commented on #775
Yep I'm going to close this. Just completed a ensemble of size 2,000 on a VM. It did take 1.5 hours though.

[2016-04-30 17:58] istfer commented on #775
I also got this and I think the offending line is in read.output.R as @robkooper found.

`valid.nc <- tryl(nc_open(....))` [here](https://github.com/PecanProject/pecan/blob/master/utils/R/read.output.R#L126) also opens a connection and it cannot be closed by the [nc_close](https://github.com/PecanProject/pecan/blob/master/utils/R/read.output.R#L140). In other words, the file is opened twice but is

[2016-04-30 18:15] istfer commented on #775
plus, [this](https://github.com/PecanProject/pecan/blob/master/utils/R/read.output.R#L148) should be `lapply( ...  median ... )`

[2016-05-01 13:13] tonygardella commented on #775
Is this getting in the way of your work for the meeting?If it is, I'll open this and we can fix it. Also where did this happen? On test-pecan?

[2016-05-01 13:25] istfer commented on #775
Yes it does, and it will for any one who does really long runs. I've been working with the emulator for a while so I wasn't getting this, and before I was working with Ryan's code which doesn't have this `tryl` line in the read.output.R, therefore this wasn't an issue for me then with the bruteforce-MCMC. I made changes in my build so it's working fine now, probably no one in the meeting will try

[2016-05-01 14:47] tonygardella commented on #775
If the fix is easy and you have already implemented it, awesome! Make a pull request and I can pull that to a VM and test it.

 Long ensembles are slow but work on the VM so if this makes things faster that would be great.

[2016-05-02 17:58] mdietze commented on #709
@ashiklom can we close this issue? Or are there remaining tasks that need to be punted to a future release?

[2016-05-02 18:00] mdietze commented on #773
Status update: met with @bcow last week and she has a plan for addressing the union and intersection of met dates. Won't be working for next release, but high priority there after

[2016-05-02 18:04] ashiklom commented on #709
There are many remaining tasks to be punted.

- [ ] Sort out sites in a more logical way (as @dlebauer mentioned)
- [ ] Ingest categorical species information (e.g. photosynthesis type, growth form)
- [ ] Species matching with BETY based on a taxonomic database (a.k.a. much more sophisticated than what I've done now
- [ ] Possibly reorganize TRY as an SQLite database, so it's much more compact and

[2016-05-03 01:16] mdietze commented on #610
@bcow closing this issue. If there are aspects of calc.metrics (other than increasing the catalog of metric, load, and align functions) that are not done let me know and I can re-open.

[2016-05-03 01:16] #610 closed

[2016-05-03 01:20] mdietze commented on #207
@bcow I am likewise closing this issue since, as far as I know, the only thing missing from pull request #783 was a change in the input from a settings object (which is how this was originally defined above) to passing the benchmark_ensembles.id instead.

[2016-05-03 01:20] #207 closed

[2016-05-04 04:58] mdekauwe opened #817 "MAESPA output units"
In model2netcdf.MAESPA.R the flux units are currently being returned as, for example, gross photosynthesis mol tree-1 d-1. These units are bit useless if you ever wish to compare the fluxes to any other models or data.

To get them in sensible m-2 units you need to:
e.g. for GPP (python pandas syntax)
[code]
where plot size is xmax * ymax. The information on plot_size and num_trees is in the input

[2016-05-04 12:05] mdietze commented on #817
Thanks. @tonygardella could you make that fix, since you were the one that wrote the function originally.

This instance is much easier to fix than the met one because this all is occurring within write.configs.MAESPA, which does have access to the full PEcAn settings and all the input files. Specifically, Tony, you should add stem density (i.e. num_trees/plot_size) as an argument to model2netcdf.

[2016-05-05 14:21] robkooper commented on #789
Added some text,feel free to modify.

[2016-05-06 17:59] robkooper commented on #808
This seems to be a more generic problem. I can't run on the VM any ED models, even with the included met data that used to work before.

[2016-05-07 12:13] mdietze opened #822 "Allometry paper"
Tasks required to complete the Allometries module and write up results

**Data**
- [ ] Add BAAD data #444
- [ ] Add Chojnacky et al 2014 data
- [ ] Add GlobAllomeTree #301

**Code**
- [ ] Tool for equation 'sanity check' to identify outliers
- [ ] Changes to predict to track individuals, sites: requested by @andydawson
- [ ] Check HB version convergence issues
- [ ] Extend model to include species

[2016-05-10 14:03] tonygardella opened #823 "Add feedback to web interface"
Should have the ability to give feedback using email from the webpage.

[2016-05-10 14:04] ankurdesai opened #824 "Land use driver"
Per @apourmok email - the new gridded global land use driver 850-2100  - we should set something up to host the files (10s of GB of netcdf, currently not thredds) and extract this driver time series for sites/regions and feed it to models that could use land use. It's what will be used in CMIP6.

We are pleased to announce that a second generation Land-Use Harmonization dataset (LUH2) was released

[2016-05-10 14:08] dlebauer opened #825 "Better units and variable names for default plots"
for example:

<img width="1435" alt="screen shot 2016-05-10 at 10 06 16 am" src="https://cloud.githubusercontent.com/assets/464871/15149271/e31f9370-1696-11e6-8359-d4c0344a7583.png">

1. values of kg/m2/s-1 is not intuitive (g/m2/d) or /y would be more useful
2. variable names aren't easy to interpret
3. Could also provide simple carbon / energy / etc pool / flux diagrams that people can click (e.

[2016-05-10 14:09] araiho opened #826 "Add a back button to the web interface"
There are times when the user makes a mistake in setting up their run, and they want to go back and change one thing. It would be great if you didn't have to start all over or if you could choose to keep everything the same but to go back to the setting up page.

[2016-05-10 14:11] araiho commented on #347
It would be cool if you could choose to spin up your model on the web interface

[2016-05-10 20:23] ashiklom opened #827 "Add SSEM to PEcAn"
Super Simple Ecosystem Model -- could be fantastic for testing, and should take like a day to implement in any language (in fact, Mike already has it implemented for his hands-on activities).

[2016-05-10 20:25] ashiklom commented on #827
https://github.com/EcoForecast/EF_Activities/blob/master/Exercise_10_ParticleFilter.Rmd

[2016-05-10 21:01] dlebauer commented on #823
Similarly (?) a 'report error' button that sends settings and log files + optional note

[2016-05-10 21:08] mdietze commented on #827
In addition, the BayesianTools package has a Very Simple Ecosystem Model that's even simpler than SSEM and is written in Rcpp so is also faster.  Agree that it would be useful to have a few models that are so simple that they approach being "null" models

[2016-05-11 02:13] dlebauer opened #828 "Where are P values?"
A user asks

[2016-05-11 10:09] mdietze commented on #828
Need a bit more context, what analysis is the user asking about?
* For most of the basic stuff in the user interface (doing a single run, sensitivity/uncertainty analysis) a p-value isn't something meaningful to ask for because we're not comparing to anything.
* For the ensemble analysis, we are explicitly generating a credible interval
* For parameter data assimilation and the meta-analysis, we a

[2016-05-11 17:33] ankurdesai opened #829 "Runtime information"
A lunch discussion at workshop led to a query about providing novice users in particular guidance or warning about single processor runtime about certain models. It might be something simple as a note in each model that says "fast" "slow" or some expectation of typical time to run a year at a site for a model on a typical machine (obviously a changing target). Maybe just more description of what e

[2016-05-11 17:50] robkooper commented on #829
Also would like this for conversions.

[2016-05-12 19:44] mdietze opened #830 "ORNL DAAC identify tool"
The DAAC developed a tools that pulls out a bunch of their data layers for a single point
http://webmap.ornl.gov/qaqc/identify/

They developed this to help with their QAQC but I think this could help with both the site definition and the site info -- this is some of the exact stuff that I was hoping we could display on the google pin #353 and is also data we could ingest into write configs as wel

[2016-05-13 12:10] serbinsh commented on #830
Yes, this does look very handy and would enable quick OTF viewing of site stats when clicked on the map! However, it did take awhile for it to report several characteristics at once in the table below.  So the speed of reporting might be an issue and could cause some latency issues....just something we should keep on eye on.

[2016-05-13 12:26] serbinsh opened #833 "Mac OSX users: Install XCode from developer downloads not App Store"
A lesson learned.  I just updated my home desktop to El Capitan and was spending time this morning trying to get it up and running to work on some PEcAn code.  However I made the mistake of installing XCode (needed for ports, gcc, command line tools, etc) through the App Store.  I never do this but I figured, "why not I don't then have to login somewhere else".  Bad choice.

This post says it all:

[2016-05-13 12:28] serbinsh commented on #833
An the folks who use Linux at home or on a laptop, I know what you are going to say (e.g. @ashiklom) but I like also being able to run other programs like Adobe Lightroom.....

[2016-05-13 16:44] jam2767 commented on #617
@mdietze should I start working with [(https://github.com/ropensci/EML)] to read EML for meta2format.EML? It's not on CRAN yet but according to their milestone they are 95% of the way to submitting and only open issue seems relatively minor.

[2016-05-13 16:59] dlebauer commented on #617
A few notes:

1. We now have an API that can read and write to BETYdb
2. Would be great if this feature was done in coordination with development of the rOpenSci traits package (which needs to be updated for the new API anyway) ropensci/traits#16
  * if we are to do this, would be great to have feedback from @cboettig and @sckott

[2016-05-13 17:00] sckott commented on #617
Happy to help?

- Looks like we need to update BetyDB interface in `traits` Where are docs for that?
- How do you want feedback and on what specifically?

[2016-05-13 17:42] tonygardella opened #834 "Add GDAY model"
This issue is to document and track the final steps @tonygardella and @mdekauwe will take to get GDAY into PEcAn:

- [ ] Test met2model. It calls Martin's Python script. Once tested Tony will pass example csv files to Martin.
- [ ] Martin will work on the Daily version of met processing as a python script.
- [ ] Martin will work out which values in the replacement dictionary need to be passed to h

[2016-05-13 17:45] robkooper commented on #833
That being said, keep the following in mind as well when downloading software: http://9to5mac.com/2015/09/20/xcode-ghost-app-store-malware-malicious-apps/

People downloaded xcode from a site to get fast download and ended up with a special version of xcode that added a virus to code you compiled.

[2016-05-13 17:46] #833 closed

[2016-05-13 17:47] tonygardella commented on #733
Talked with @mdekauwe more about MAESPA. Here is an updated list of what needs to happen:
- [ ] Rewrite met2model using Remko's Maespa R package. It is a package that makes writing input files a lot easier
- [ ] Martin will find/write a function to find the closest meridian
- [ ] We will identify exactly which input files/values can be left as defaults and which can be handed over to PEcAn.

[2016-05-13 17:56] serbinsh commented on #833
@robkooper understood however the Xcode developer tools site (link above) is legit.

[2016-05-13 20:37] dlebauer commented on #617
@sckott thanks for your quick reply! Here are thoughts:

we did not break the api that the traits package uses, so updating the package definitely falls under 'nice to have' and on the list.

Although the updated API endpoint is under api/beta, I am fairly confident that the 'get' endpoints are stable (@gsrohde does that sound reasonable - that the responses from the api/beta/tablename/id endpoint

[2016-05-13 21:08] mdietze commented on #617
Maybe we should split this into two issues? @jam2767 is primarily interested in writing meta2format (i.e. a function to insert file format metadata into the formats table of the database) and @dlebaur seems primarily interested exporting EML via format2meta.

[2016-05-13 21:37] dlebauer opened #835 "Updates to mstmip vars"
Here is a markdown version of our current mstmip* tables: https://gist.github.com/dlebauer/e5fb9fb5f09735ccf791d118edd2984b

1. especially in mstmip_local,
  * many variables are missing standard_name and description fields
  * many variables have incorrect 'type', e.g. carbon pools and energy fluxes listed as carbon fluxes (fluxes should have units of [mass or energy] per area / per time
2. both

[2016-05-13 21:44] dlebauer commented on #617
@mdietze I was referring to using the API for both importing and exporting data that is provided with EML meta-data.

We don't have a put/post endpoint for formats yet, but using an API was proposed to avoid security issues we have had using SQL connectors (#395). The new API has 'put/post' endpoints for traits and other tables, and we could add one for formats. In general, I suspect that using si

[2016-05-15 12:01] serbinsh commented on #738
Update and test model2netcdf to handle timeseries runs and additional outputs, including non MSTMIP.

Test param assimilation with EC - GPP and MAAT

[2016-05-15 12:22] serbinsh opened #837 "Missing dependency for R Linkages (git)?"
When I tried to run this:

https://github.com/PecanProject/pecan.book/blob/9512cc450022e43ff30ea5431ee5f50dde6edca5/developers_guide/Installing-PEcAn.md

#R Version
git clone https://github.com/araiho/linkages_package.git
R CMD INSTALL --no-multiarch --with-keep.source linkages_package

I received a missing dependency error for **_microbenchmark_**  I checked and did not see it in install_dependen

[2016-05-15 12:27] serbinsh commented on #837
If it wasnt clear, installing that R package allowed me to install R linkages.

[2016-05-15 13:34] serbinsh opened #838 "Issue installing BayesianTools from Dropbox"
I was working on upgrading packages and ran into an issue attempting to pull Bayesian Tools from Dropbox.

[code]

I am getting a 401 error.  Does it still exist in this location?  Is there a new location?  Is there something else I should be doing @istfer? This is how it is defined in the install_dependencies.R

Thanks!

[2016-05-15 13:42] istfer commented on #838
yes, it has changed recently, they're getting prepared to move the package to CRAN. the new location is this for now:
[code]
I'll revise the code that uses BayesianTools in general on Tuesday (because they made other changes too)

[2016-05-15 13:45] serbinsh commented on #838
OK, great.  Thanks!

S
On May 15, 2016, at 9:42 AM, istfer <notifications@github.com<mailto:notifications@github.com>> wrote:

yes, it has changed recently, they're getting prepared to move the package to CRAN. the new location is this for now:

library(devtools)
install_url("https://github.com/florianhartig/bayesianTools/releases/download/v0.0.9.0/BayesianTools_0.0.9.0.tar.gz")
library(BayesianTo

[2016-05-16 14:51] istfer commented on #838
until the repo is made public the new location for the file in dropbox is this:

`install_url("https://dl.dropboxusercontent.com/s/ccvpnvblf3vzuvs/BayesianTools_0.0.0.9000.tar.gz")`

[2016-05-16 16:57] araiho commented on #837
@serbinsh I'm working with some tech folks at BU to help me make the R version of LINKAGES faster. They are using that package to check code speed. I'll probably take it out eventually, but it'll be in there for a little while longer. Does that answer your question?

[2016-05-17 13:20] serbinsh commented on #837
Hi @araiho Yes, it does thanks! I wonder if we should add this as a dependency until it is optimized, just in case someone else hits the same issue as me?

[2016-05-17 13:20] serbinsh commented on #838
Thanks!

[2016-05-17 13:34] robkooper commented on #353
Fixed with #841

[2016-05-17 13:34] #353 closed

[2016-05-17 14:09] robkooper commented on #837
I think you can add Depends to the DESCRIPTION file which will tell R you need this when you try to install the package. Then when you try to install it, I believe it should try and download it when it is not installed.

[2016-05-17 16:31] tonygardella opened #843 "Browndog: Allow user to grab intermediate output from met.process"
It would be great to be able to grab the met files that are created during the intermediate steps of met.process when using Browndog.

The idea came up when debugging a run that used Browndog NARR and I wanted to run met2model myself to debug but didn't have the intermediate met file to do so.

[2016-05-17 18:30] tonygardella opened #844 "Multiple site selection on the web interface"
When we are able to do a run at multiple sites at once, it would be cool to have a "shopping cart" of sites that could be turned into a custom site network. Idea from @mdietze

[2016-05-17 18:42] istfer commented on #844
an example that selects an area from Google maps (I think it was mentioned in the meeting) to extract data https://dataguru.lu.se/app (e.g. precipitation --> CRU --> select on a map)

[2016-05-17 20:08] araiho commented on #837
@serbinsh  Should be fixed now. Let me know if you have any other problems.

[2016-05-18 09:58] mdietze opened #845 "Add JULES model"
Got basic run working, left to do:

- [ ] parameters in write.configs
- [ ] extend list of PFTs, priors
- [ ] initial conditions
- [ ] read/write restart
- [ ] non-met inputs

[2016-05-18 10:02] mdietze opened #846 "Add CABLE model"
- [ ] Download, compile, and test run
- [ ] jobs.sh existing test run
- [ ] Database record: model_type, model, formats, test run's inputs, test PFT
- [ ] write.configs existing test run
- [ ] standard output
- [ ] test run through web interface
- [ ] met2model
- [ ] parameters in write.configs
- [ ] extend list of PFTs, priors
- [ ] initial conditions
- [ ] read/write restart
- [ ] non-met inputs

[2016-05-18 16:21] mdietze opened #847 "Stomatal conductance model fits"
Extend Photosynthesis module to also do fits of the Ball-Berry stomatal conductance model and other common variants of this model (Leuning, Medlyn)

[2016-05-23 20:34] mdietze opened #849 "Make new Sync Host ID more automatic"
New users (e.g. on the VM) should be encouraged to establish a Sync Host ID in a more automated fashion so that we can maintain the goal that any run done in PEcAn should be assigned a globally unique ID. This shouldn't be a strict requirement (e.g. for the demo server or for AWS VMs using in teaching) but users should be informed of this option and the resetting of the DB to a new ID should be fa

[2016-05-24 17:46] tonygardella opened #852 "Web interface error after latest pull"
Just pulled latest code to a clean VM and when trying to do a run from the web interface I ran into this error on 02-modelsite.php:

[code]
@istfer ran into something similar and I was trying to recreate the error.

[2016-05-24 18:09] dlebauer opened #853 "Standardize formatting using formatR package"
based on comment from @bpbond this morning

For package maintainers: next time you submit a pull request, run the `tidy_source()` function from the formatR package. Here is an overview: http://yihui.name/formatR/

I'd suggest everyone use these arguments:

[code]

The one thing that I don't like about this function is that when it breaks lines, it does not do so in the same way as Rstudio does by

[2016-05-24 18:17] dlebauer commented on #852
@tonygardella did you update the database to 4.9?

[2016-05-24 18:20] tonygardella commented on #852
I remembered you announcing a new version a minute after I wrote this. Do I just need to run ```update-bety.sh``` in the bety directory?

[2016-05-24 18:58] istfer opened #854 "Duplicated code"
I spotted a duplicated code in get.samples.R{uncertainty} [L98](https://github.com/PecanProject/pecan/blob/master/modules/uncertainty/R/get.samples.R#L98) - [L108](https://github.com/PecanProject/pecan/blob/master/modules/uncertainty/R/get.samples.R#L108) and run.write.configs.R{utils} [L74](https://github.com/PecanProject/pecan/blob/master/utils/R/run.write.configs.R#L74) - [L84](https://github.c

[2016-05-24 19:14] serbinsh commented on #853
@dlebauer I have been experimenting but it doesn't seem to do anything for me when i run tidy_dir or tidy_source without recursive = TRUE

e.g.

[code]

Just an FYI that you may need to use that argument

[2016-05-24 19:49] serbinsh commented on #852
No dont run that @tonygardella

https://github.com/PecanProject/bety/wiki/Updating-BETY#update-the-rails-app-and-schema

[2016-05-24 21:07] dlebauer commented on #853
you are correct. I changed the directory while copy-pasting ...

[2016-05-24 21:10] ankurdesai commented on #852
Tony, use these steps for updating VM: https://pecan.gitbooks.io/pecan-documentation/content/users_guide/advanced_users_guide/Upgrading-pecan-vm.html

[2016-05-24 21:57] tonygardella commented on #852
@ankurdesai @serbinsh Are these two sets of instructions supposed to do the same thing?

I haven't touched the pecan gitbook page so I know those are old. The first file in the instructions you're supposed to remove doesn't exist.

In the PecanProject/bety wiki it points to bety in the /usr/local/bety directory which is not correct. The bety directory is in /home/carya. Other than that though it w

[2016-05-24 22:06] serbinsh commented on #852
@tonygardella Apologies, I just sent the link but it is a little specific to the install.  I typically:

git pull upstream master within the main BETYdb dir

then run

bundle install --without test

or in my case

RAILS_ENV="production" bundle exec rake db:migrate

then run

touch tmp/restart.txt

To clarify, you are just trying to migrate BETYdb to 4.9 correct?  These are the only instructs you s

[2016-05-24 22:11] tonygardella commented on #852
going through the instructions on gitbook leave me with an error after trying to install ruby:
[code]

The gitbook page is 2 years old and the bety wiki is newer so I'll link to those ones in the the gitbook and erase the existing instructions.

@serbinsh thanks Shawn! I was checking things on a VM because the latest build had broken things on our test-pecan server and we realized we just need to

[2016-05-25 02:56] dfalster commented on #444
Great that you are interested in using data from BAAD. If it's helpful, we've also written an R package for downloading different dataversions: [https://github.com/traitecoevo/baad.data](https://github.com/traitecoevo/baad.data). We'll be making future releases too, all via https://github.com/dfalster/baad/releases

[2016-05-25 17:53] #789 closed

[2016-05-25 20:23] tonygardella commented on #852
I got rid of the old instructions in gitbook and added a link to the bety wiki. Pull request for change is here: https://github.com/PecanProject/pecan.book/pull/23

[2016-05-25 20:23] #852 closed

[2016-05-31 16:40] dlebauer commented on #611
Can this be closed, replaced by #616?

[2016-05-31 16:47] serbinsh commented on #616
@Viskari does this shed any light on your questions?

[2016-06-01 09:43] #611 closed

[2016-06-02 03:09] #755 closed

[2016-06-03 11:31] serbinsh opened #860 "Google map isn't loading on 03-inputs.php"
![screen shot 2016-06-03 at 7 29 32 am](https://cloud.githubusercontent.com/assets/3067369/15777398/edfea7d0-295c-11e6-8873-63186b96f14e.png)

It seems Google maps aren't loading anymore for me on modex after an update yesterday afternoon.  Any suggestions on what might cause this?  Because of this I can't move past this stage of the web workflow.  Anyone else having this problem?  Maybe just me.

[2016-06-03 12:25] mdietze commented on #860
Just pulled the latest code and everything works fine for me

[2016-06-03 14:18] robkooper commented on #860
This is what the interface looks like when you have selected offline.

[2016-06-03 17:50] serbinsh commented on #860
@robkooper I am not intentionally selecting offline.  plus I am unable to click "next"  Does that shed any light?  Plus my previous button won't work on that page anymore? Google maps do load fine on 02-modelsite.php

![screen shot 2016-06-03 at 1 50 15 pm](https://cloud.githubusercontent.com/assets/3067369/15787770/1d483d82-2992-11e6-9251-47112f9cd029.png)

[2016-06-03 17:52] serbinsh commented on #860
Ahh!!! If I DO select Offline on 01-introduction.php then everything works fine.  So it seems on my system I have a bug on the 03-inputs page where the

[2016-06-03 17:55] serbinsh opened #862 "New error in date() at the end of the workflow"
[code]

[code]

But just running the command in R works fine?

[2016-06-03 17:57] serbinsh commented on #860
@robkooper I was wrong, even in offline mode things aren't working.  I get this in the workflow.Rout

[code]

[2016-06-03 17:58] serbinsh commented on #860
@robkooper Plus the runs aren't getting updated in BETY now?  These are new issues that seem to have started somewhere witin the last few updates, potentially updates to the web pages and/or PHP code?

[2016-06-03 18:03] serbinsh commented on #862
Testing without that line just to confirm. Then next step is to sort out what it is complaining about with the date, not sure why it wants an input instead of just returning the date/time as usual

[2016-06-03 18:04] serbinsh commented on #862
Yup no problems after removing date()

[code]

[2016-06-03 18:05] serbinsh commented on #862
could have something to do with lubridate vs base date commands

[2016-06-03 18:06] serbinsh commented on #862
Actually I think that is it because lubridate date wants input

[code]

but base date does not need it

[2016-06-03 18:08] serbinsh commented on #862
Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Error in as.POSIXlt(x, tz = tz(x)) :
  argument "x" is missing, with no default

[2016-06-03 18:12] robkooper commented on #862
What if you call explicitly base::date(), for some reason on my mac it works fine.

[2016-06-03 18:41] serbinsh commented on #862
@robkooper Good idea.  I tried detaching at the end of the workflow but it complained

[code]

[2016-06-03 18:57] robkooper commented on #862
Can you check the following, for some reason I don't have any problems with lubridate and date
[code]

[2016-06-03 19:09] robkooper commented on #862
Could reproduce, need to require(PEcAn.all) to trigger the issue. Should be fixed now.

[2016-06-03 19:09] #862 closed

[2016-06-03 20:11] serbinsh commented on #862
Ha!  I went to a meeting and was testing a fix and I came back to it fixed!

[2016-06-06 18:40] serbinsh opened #864 "ED2 LAI model2netcdf.ED2 error"
[code]

@mdietze I just pulled the latest PEcAn and ran into this error.

This is an example output directory

[code]

[2016-06-06 18:43] serbinsh commented on #860
@robkooper Do I need to update php or anything to address these issues?  Any other updates I would need?  I still can't seem to get the web pages to load properly anymore.

[2016-06-06 18:51] serbinsh commented on #860
@robkooper @mdietze

Let me see if this makes sense at all.....this wasn't working....but I just installed R shiny server (and depends) and now the web pages are loading.  Was this the trick and I didn't know?  Does this make sense?

[2016-06-06 18:54] serbinsh commented on #860
.....actually, this is site specific issue?! I have been trying Sylvania and that fails but Niwot and US-WCr works fine?  So it seems this issue of Google maps loading is specific to Sylvania and possibly other sites?

I know there have been some mods to BETY to deal with sites, etc.....maybe that is to blame?

[2016-06-06 22:25] robkooper commented on #860
Cool, I got the same problem with Sylvania, that seems to be the missing piece.

[2016-06-06 22:46] robkooper commented on #860
should be fixed now, open again if you find any other broken sites.

[2016-06-06 22:46] #860 closed

[2016-06-07 13:30] serbinsh commented on #860
Thanks @robkooper !

[2016-06-07 14:17] serbinsh opened #867 "Workflow log no longer showing on modex"
![screen shot 2016-06-06 at 5 09 05 pm](https://cloud.githubusercontent.com/assets/3067369/15860941/09e39494-2c99-11e6-9c3f-8d51ea106c06.png)

[2016-06-07 14:18] serbinsh commented on #867
Anyone else having this issue?  I updated to the latest source

[2016-06-07 14:18] serbinsh commented on #860
@robkooper FYI - Sylvania working again for me.

[2016-06-07 14:19] robkooper commented on #867
Can you check in your apache error log (/var/log/httpd/error.log) and see if there is something I'm using that is not part of your version of php.

[2016-06-07 14:25] serbinsh commented on #867
[code]

[2016-06-07 14:28] serbinsh commented on #867
I found these in my modex.bnl.gov-error_log

[code]

[2016-06-07 14:29] robkooper commented on #867
looks like mb_strlen is the culprit.

[2016-06-07 14:29] serbinsh commented on #867
Also weird ones

[Mon Jun 06 17:11:24 2016] [error] [client 130.199.9.232] PHP Warning:  file_get_contents(/data/Model_Output/pecan.output/PEcAn_2000000220/out/2000017572/2005.nc.var): failed to open stream: No such file or directory in /data/software/pecan/web/08-finished.php on line 139, referer: https://modex.bnl.gov/pecan/05-running.php?workflowid=2000000220

[2016-06-07 14:36] serbinsh commented on #864
@mdietze

Similar error again.

[code]

I pulled the latest but I am going to confirm that build has the latest code edits....

[2016-06-07 14:39] serbinsh commented on #867
@robkooper
All good now!

[2016-06-07 14:40] robkooper commented on #867
Changed mb_strlen to strlen.

[2016-06-07 14:40] #867 closed

[2016-06-07 14:41] serbinsh commented on #864
Unclear if this is still related to the LAI issue.  I will try just running the model2netcdf and see if I can find the culprit

[2016-06-07 15:05] tonygardella commented on #746
tried this on 1.4.6 32bit VM. I ran
[code]

This was the error:
[code]

[2016-06-07 15:38] mdietze commented on #746
OK, looks like you need to update the pftmapping data to add in the missing ED2 PFTs.  This is a short term solution, but ultimately we need a more sustainable long-term solution of mapping PFT names to default parameter sets that doesn't require updating the package every time someone adds a new PFT.

[2016-06-07 15:40] serbinsh opened #868 "Path issue in SA"
[code]

[2016-06-07 15:54] serbinsh commented on #864
@mdietze Something to note in the model2netcdf.ED2

[code]

BUT the -Y-

[code]

Not sure what that is about

[2016-06-07 16:01] serbinsh commented on #864
[code]

BUT

[code]

[2016-06-07 16:02] tonygardella commented on #692
https://github.com/PecanProject/pecan/blob/master/modules/data.atmosphere/R/met2CF.Ameriflux.R#L205 is the line that needs to be changed

[2016-06-07 16:04] serbinsh commented on #864
![rplot](https://cloud.githubusercontent.com/assets/3067369/15865208/e6ebf4d6-2ca7-11e6-89be-388f3b38ebb1.png)

Plot of ```apply(laidata,3,sum)```

[2016-06-07 16:10] serbinsh commented on #864
![screen shot 2016-06-07 at 12 08 40 pm](https://cloud.githubusercontent.com/assets/3067369/15865422/a97b493e-2ca8-11e6-85de-570d5cf029ed.png)

17 x 11 x 1 x 17568 (annual time).  @Viskari with his ED2 can but dim(laidata)==4 and then it works completely fine. Something different with ED2 or the HD5 libs in R?

[2016-06-07 16:17] rykelly commented on #212
I'm planning to make this change in the near future as I work on getting the multi-run workflow implemented. Here's what I propose to move _out_ of `<run>`:

* **jobtemplate**: Move to `<model>`
* **dbfiles**: Move to `<database>`
* **host**: Move to its own top-level tag

The following settings would remain _in_ `<run>`:

* **start/end.date**: In an offline discussion, Mike noted there's no reaso

[2016-06-07 16:17] ghost opened #869 "Implementing multi-run workflows"
For the work I'm doing, we need to automate doing similar PEcAn runs at many different sites. As I understand, there's a general interest in building this capability into PEcAn—essentially, having a new master workflow that triggers multiple related workflows in an intelligent way. @mdietze and I have discussed this offline a bit, and I wanted to elicit additional feedback here. I left out a lot o

[2016-06-07 16:30] mdietze commented on #212
@ryankelly-uiuc what's the difference between inputs and model-specific inputs? Aren't all inputs model specific?

Yes, ```build.sh --tests``` runs the tests

Beyond that, I'd do a lot of grepping of settings$run$host, settings$run$jobtemplate, settings$run$host, etc.

[2016-06-07 16:45] rykelly commented on #212
Sorry, was just going off the gitbook / not remembering how this is set up. You're saying that inputs like ED2's pss/css/site files will be under `inputs` anyway? If so then: no difference.

[2016-06-07 17:44] mdietze commented on #692
@tonygardella will you be submitting a PR with a fix on this?

[2016-06-07 17:47] robkooper commented on #212
You can do `build.sh --check` to run the testthat tests and `build.sh --tests` to run tests in the tests folder. The latter will try and find tests that are called <hostname>*.xml and assume these are examples to run. If you look there are pecan64-sipnet.xml for example that will run on a VM.

In general if you build and you want to test everything you can use `build.sh --dependencies --check --te

[2016-06-07 17:48] robkooper commented on #212
Yes all inputs should now be under inputs and there is no more pss/css/sites part of model.

[2016-06-07 17:49] rykelly commented on #212
Ah thanks… the —check vs. —tests was the little bit of complexity I thought
I remembered...

On June 7, 2016 at 1:47:34 PM, Rob Kooper (notifications@github.com) wrote:

You can do build.sh --check to run the testthat tests and build.sh --tests
to run tests in the tests folder. The latter will try and find tests that
are called *.xml and assume these are examples to run. If you look there
are peca

[2016-06-07 18:16] serbinsh commented on #864
@mdietze

This proposed change seemed to work

[code]

But the length is now less than a year?  Instead of 17568 i have

[1] 9600

[2016-06-07 18:17] serbinsh commented on #864
Wait that is for year 2004, which I started in June so that makes sense

[2016-06-07 18:23] serbinsh commented on #864
Here is for a full year but not sure why it isn't the correct length

[1] 17520

[2016-06-07 18:40] serbinsh commented on #864
Seems the changes are working in the workflow
[code]

[2016-06-07 18:46] dlebauer commented on #869
Brainstorming a few of the use cases:

* run same workflow at each site but with different PFTs
  * simple / similar case is prior + posterior runs
* run same workflow at many sites
* run same workflow over a region (and either all sites or on a grid within the region)
* run different models with the same PFT
  * requires using same PFT-species association for multiple models, but perhaps allowing

[2016-06-07 19:06] #864 closed

[2016-06-07 19:22] #808 closed

[2016-06-07 19:36] #772 closed

[2016-06-07 20:42] tonygardella commented on #746
Ah I see the issue. ebifarm.c4grass.doe_vd is already mapped to ED2. I think this has to do with the latest changes to write.config.xml.ED2 that @ashiklom made.

Currently the test xml file, ```pecan/tests/pecan32.ed.xml```, has the pft elements as
[code]
and write.config.xml.ED2 expects an element called: ```<constants>``` under ```<pft>```. I think changing it to this should work:
[code]
I'll ma

[2016-06-07 21:03] tonygardella commented on #746
@mdietze I see what you mean! I didn't know ```pftmapping.csv``` existed.

[2016-06-08 16:25] robkooper commented on #780
Script that is used will install shiny, will update documentation next and add an example to pecan.

[2016-06-15 03:30] crollinson commented on #203
so this gets into the Pecan documentation, I have a working [download script](https://github.com/PalEON-Project/modeling_met_ensemble/blob/master/scripts/download.NLDAS.R) for NLDAS.  Tweaking it for GLDAS should be very, very simple.

There are definitely some clunky bits of code, mostly in the parsing of the ascii file and the querying of lat/lon every time is probably unnecessary but was done a

[2016-06-17 16:34] mdietze commented on #203
PR #874 adds download functions, but these still need to be integrated with met.process and the web code and tested

[2016-06-17 16:36] #733 closed

[2016-06-17 16:36] #817 closed

[2016-06-23 15:54] #681 closed

[2016-06-27 01:48] ankurdesai opened #882 "Rerwite met2CF.csv to work with web workflow"
modules/data.atmosphere/R/met2CF.csv is the function that allows conversion of arbitrary CSV files to the Pecan CF met format, written by Mike and David once upon a time. Based on mimetype (test/csv) - met.process, written by Betsy and Mike, will call a met2CF mimetype based function if no format specific function is defined and convert to CF is set to TRUE (based on file type registration in XML

[2016-06-27 19:50] bpbond opened #883 "Code review - lessons learned, keeping track of who is 'up'"
Hi all, it seems like you use a round-robin system for code review. Have you found this valuable? Importantly, how do contributors know whose 'turn' it is? I'm asking on behalf of a similarly-sized science software project that is trying to implement a mechanism for ensuring all PRs get reviewed.

Thanks!

[2016-06-27 19:58] mdietze commented on #883
@bpbond we've got a partial system -- specifically, my lab internally has a round-robin code review that we started at the beginning of the year as part of a lab-wide annual review we do every January 1.  That includes everyone in the lab for whom PEcAn is their primary repo (large majority) plus @crollinson's PalEON repos plus whatever Colin Averill's working on at the moment.  We just have a Goo

[2016-06-27 20:01] bpbond commented on #883
Thanks, Mike.

[2016-06-27 20:01] #883 closed

[2016-06-27 21:34] mdietze commented on #882
1) on datetime, I think some column or columns HAS to be the date. Assuming it's the first column strikes me as unsafe. FYI @istfer is struggling with this too in adding the new read functions to the PDA code, so you might take a peek at here recent PR with that. Should add that to the discussion in tomorrow's telecon, but I think we need some sort of flag in formats_variables that flags a variabl

[2016-06-27 23:53] ankurdesai commented on #882
Thanks. I agree we should talk about dates in formats. I now better understand the convert function for datetime, too. I agree on your column number point -> use if no header.

Proposal for datetime: Create bety variable “datetime”.  Require formats to have a column that maps to that variable and the units = lubridate function for reading

Regarding the variable name: consider these:
  Variable 86

[2016-06-28 11:35] mdietze commented on #882
datetime: sounds good

variables: you are right to be confused!!  Someone (I can't tell who) incorrectly created the later variables at some point after we had the met workflow working and documented, thus creating the redundancies  you see. This should not have happened -- given the serious mess that the variables table is I'm tempted to say that we should set that table to require admin privileg

[2016-06-28 15:36] gsrohde commented on #882
Done.

[2016-06-28 20:04] robkooper opened #884 "google map now requires key"
Google changed their terms of services for the map and now requires a key. See also: https://www.latecnosfera.com/2016/06/google-maps-api-error-missing-keymap-error-solved.html

[2016-06-29 22:18] dlebauer opened #885 "Errors compiling PEcAnRTM"
I am having trouble installing the PEcAn RTM package on both MacOSX and RedHat

**On MacOSX** I get the following error from `R CMD INSTALL modules/rtm`

[code]

Even though, as suggested in the package README, I have `FC=gfortran` in ~/.R/Makevars

**On RedHat** (ebi-forecast) I get the following

[code]

Am I missing something @ashiklom @robkooper?

[2016-06-29 22:30] dlebauer opened #886 "Change build.sh to only install core modules by default, or by a particular argument"
I often have trouble installing PEcAn modules on my systems, especially new ones or those under active development, even when integration tests pass.

In many cases, I am not actually using these packages. On one hand it is good if people run into errors and report them. On the other, it makes it difficult to pick back up with the most recent version of PEcAn on my local machine.

I'd suggest eith

[2016-06-29 22:32] ashiklom commented on #885
Try the solutions suggested here:
http://thecoatlessprofessor.com/programming/rcpp-rcpparmadillo-and-os-x-mavericks-lgfortran-and-lquadmath-error/

On Wed, Jun 29, 2016, 6:18 PM David LeBauer <notifications@github.com>
wrote:

[2016-06-29 22:42] ashiklom commented on #731
@tonygardella You can close this one. #798 was merged.

[2016-06-30 11:43] rykelly commented on #212
Sorry for ghosting out on everyone. I merged GH accounts and everything broke. Anyway...

One note on the reorg, which is now in process as pull request GH-887. I hadn't remembered that `<database>` is actually potentially a list of db blocks, including `<bety>`, `<fia>`, and perhaps others in the future. Adding `<dbfiles>` to `<database>` (as discussed above) is therefore somewhat incongruous, an

[2016-06-30 12:44] #731 closed

[2016-06-30 13:04] mdietze commented on #212
I think that's fine, the only place one loops over databases, rather than accessing them individually, is (as you point out) in read.settings, which could easily handle this with a simple if(name == "dbfiles") next

[2016-06-30 15:25] rykelly commented on #212
No problem, and that's exactly what read.settings does currently. Just wanted to point it out.

[2016-06-30 17:45] dlebauer commented on #212
@rykelly Rob and I have tried to maintain backward compatibility with read.settings - can you do that here, e.g. by allowing the old settings files to be passed and sending out a message?

[2016-06-30 17:48] mdietze commented on #212
PR #887 included a function for converting old settings into the new format, so backward compatibility should be maintained. @dlebauer have you encountered errors suggesting that it's not?

[2016-06-30 17:54] rykelly commented on #212
That's right—this update was supposed to maintain backwards compatibility. Like other examples in read.settings, it accepts old or new format. If old, it converts to new and then proceeds as normal. If both old and new are included (e.g. settings$run$database and settings$database), throws an error.

Ditto @mdietze though—if you're finding that this doesn't work let me know.

[2016-06-30 17:54] dlebauer commented on #212
Not yet. Just checking.
On Thu, Jun 30, 2016 at 12:48 PM Michael Dietze <notifications@github.com>
wrote:

[2016-06-30 17:57] rykelly commented on #212
Cool. It seemed pretty straightforward and I added tests to make sure it's working like I thought it should, so I don't anticipate problems.

[2016-06-30 19:16] ankurdesai opened #889 "Add GFDL, Fluxnet2015, and AmerifluxLBL to web scrip"
@robkooper Fluxnet2015, AmerifluxLBL, and GFDL should be three more choices in the web workflow for selecting conversion met. As long as settings$run$inputs$met$source = one of these, at least Fluxnet2015 and AmerifluxLBL should work. GFDL download is being fixed to allow default options, which will also allow it to work, but the assumption is that advanced edit is needed to add tags in inputs$met

[2016-07-01 14:09] #882 closed

[2016-07-01 17:30] rykelly opened #891 "Clarify definition / purpose of ensemble IDs"
Ensemble IDs are used to distinguish a group of related model runs. To date they are used to keep track of runs associated with ensemble analysis, sensitivity analysis, and parameter data assimilation (EA, SA, PDA).

There's generally been at most one of each of these analyses per workflow, and so the ens.id has been kept with the EA, SA, and PDA blocks of `pecan.xml`. But this isn't ideal, becaus

[2016-07-05 00:08] dlebauer commented on #885
thanks @ashiklom the following from that website worked

[code]

gfortran 4.8.2 is the current version - in the future I expect the current version of gfortran will be here: http://r.research.att.com/libs/

[2016-07-05 00:08] #885 closed

[2016-07-05 17:29] #692 closed

[2016-07-05 17:45] tonygardella commented on #779
Is NLCD the actual location of the MRLC offices?

[2016-07-05 17:47] mdietze commented on #779
No, it should be set to the bounding box of the layer.

[2016-07-06 12:42] rykelly commented on #869
I have a rough version of multi-site PEcAn working [here] (https://github.com/PecanProject/pecan/compare/master...rykelly:multisite_workflow). A couple of notes are below. Comments welcome but this is really just a brain dump / progress report. Feel free to wait until I get things cleaned up a bit.

- Added SafeList, Settings, and SettingsList classes. The first is just a list without fuzzy-matchi

[2016-07-06 14:50] robkooper commented on #884
Added new configuration flag $googleMapKey. If not set it will run without a key. This is fine for sites that have been using a google map before, but for those that are new (i.e. Amazon AWS and others) they will need to create a key and set it in the configuration file. To do this goto https://console.developers.google.com/apis/credentials and create a new credential.

[2016-07-06 14:53] mdietze commented on #884
Do we want to ship the VM with a default key? If the key's allowed hundreds of thousands of hits per day I can't imagine we'd run through that even if the whole PEcAn community is using one key.

[2016-07-06 15:05] robkooper commented on #884
Free until exceeding 25,000 map loads per 24 hours
https://developers.google.com/maps/documentation/javascript/usage

[2016-07-07 19:55] #854 closed

[2016-07-08 09:38] mdietze opened #899 "Create FIA6 database"
Need to update schemas and create downloadable copy of  FIA database v6. This should exist in parallel to FIA5, not blow it away, as it may take time to migrate all code to the new schema.

[2016-07-08 13:58] tonygardella commented on #340
I'm closing this because of merged pull requests: #888 and #880

[2016-07-08 13:58] #340 closed

[2016-07-08 18:56] #271 closed

[2016-07-08 18:59] tonygardella opened #900 "Flushing out Site Groups"
Add Fluxnet, Mandifore, ForestGeo, LTER, and NEON to site groups pull down menu in the web interface.

[2016-07-09 02:41] robkooper commented on #889
Couple of things that are needed, any of them have any licenses that people need to agree with?
Any restrictions, for example Fluxnet2015 and AmerifluxLBL do they have limited subset of sites?

Eventually this should come from the sitegroups_sites table.

[2016-07-09 02:58] ankurdesai commented on #889
Ameriflux LBL should show same license as Ameriflux:
http://ameriflux.lbl.gov/data/data-policy/
Fluxnet2015 should be the Tier 1 policy at:
http://fluxnet.fluxdata.org/data/data-policy/
GFDL - haven't found it yet

On Fri, Jul 8, 2016 at 9:41 PM, Rob Kooper <notifications@github.com> wrote:

--
Ankur Desai
UW-Madison
+1-608-218-4208
desai@aos.wisc.edu

[2016-07-09 14:31] robkooper commented on #889
reopen if I need to modify any of the items/data policy

[2016-07-09 14:31] #889 closed

[2016-07-09 15:58] robkooper commented on #884
Added default key to google maps.

[2016-07-09 15:58] #884 closed

[2016-07-09 15:59] robkooper commented on #780
No shiny for 32bit

[2016-07-09 15:59] #780 closed

[2016-07-11 02:43] robkooper opened #902 "when entering an email in the workflow page it crashes"
This is most likely due to the @ in the email address.

[2016-07-12 13:27] mdietze opened #906 "Duplicate Model records"
There's a number of duplicate records in the Models table. To solve this the person responsible for the duplicate has to do the following steps:

1. Edit their own Model record and delete the dbfile associate of their executable with that record
1. Edit the correct Model record to associate their executable's dbfile record with that Model record
1. Delete their duplicate Model record

Here are the

[2016-07-12 13:29] mdietze commented on #135
@robkooper did the user_id issue in workflows and ensembles make it into BETY yet? Or does this need to be punted to the next release?

[2016-07-12 14:52] dlebauer commented on #906
Note that Scott wrote a function for removing duplicates PecanProject/bety#185

Not sure if it works across databases

[2016-07-12 15:35] mdietze commented on #906
Thanks for the suggestion David. I think in all cases each individual just needs to update records that are on their own databases, rather than needing to update records on someone else's machine

[2016-07-12 19:17] ashiklom opened #907 "Shiny app catalog"
Per PEcAn meeting on July 12, 2016, we should figure out an effective way to manage multiple Shiny apps as well as better integration of the Shiny apps into our existing web interface.

A good place for ideas is the official [Shiny gallery](http://shiny.rstudio.com/gallery/).

My idea is to develop and debug Shiny apps in isolation, but then display their final version in a single Shiny app via a

[2016-07-12 19:59] robkooper commented on #907
we can have /pecan/shin/ redirect to for example /pecan/shiny/catalog and make that a shiny app that shows all folders below. If they have an icon, show the icon, etc. We just have to tell people that in their shiny apps we expect there to be an icon and we can use the README.md that is there to show some information about the app, as well as pull the authors from the DESCRIPTION file.

[2016-07-12 21:17] mdietze commented on #907
Ok, we'll just want to make sure that the redirect from the current page passes the right workflow$id to the catalog, and from there on to the app.  Might also be cool if the catalog could also know / figure out which apps were relevant (e.g. don't pass a single run to the sensitivity analysis app)

[2016-07-13 04:09] tonygardella opened #910 "Fluxnet 2015 errors"
Sipnet/Fluxnet2015 at Niwot Ridge Forest/LTER NWT1 (US-NR1) failed with this error when met2model is executed from met.process:
[code]
It seemed like specific humidity is missing and indeed it is. I checked the netcdf files (CF and CF gapfilled) and it wasn't there. I wasn't entirely sure if it was there in the raw csv file though because I wasn't sure about the short names of the variables in tha

[2016-07-13 04:27] tonygardella commented on #910
I tried other sites and one of the errors I got was fixed by @ankurdesai in his current pull request. Another one though occurs when download.Fluxnet2015 is executed from met.process. This is the error I got for  Sipnet/Fluxnet 2015 at Harvard Forest EMS Tower/HFR1 (US-Ha1):
[code]

[2016-07-13 12:22] ankurdesai commented on #910
@tonygardella I can't replicate your US-NR1 error Fluxnet issues with any other site (US-Syv US-WCr). The latest update downloads the file, gap fills specific humidity based on VPD, and runs sipnet. I wonder if you have some corrupt files in your VM from aborted runs. Delete the CF and gap fill files from /home/carya/output/dbfiles and also from BETY dbfiles and try again.

The issue with US-Ha1 i

[2016-07-13 12:47] ankurdesai commented on #910
Simple fix won't work because nothing in the JSON query tells you what's in the zip file. So we have to first download the zip file. list contents and check for timestamp. Of course need to make changes if file is already downloaded and test for existence of HR or HH. This will affect both fluxnet2015 and amerifluxlbl until I can fix it.

[2016-07-13 18:53] robkooper commented on #906
There are 61 workflows that depend on ED v80, all of them from BU, most of it seem to from @bcow and @apourmok. If you goto history and use "ED2.2 80" as search term and make sure that you enable "unknown state" you should be able to see all those runs.

[2016-07-13 21:00] tonygardella commented on #910
@ankurdesai Thank you for checking everything! and I saw the #911. Since Fluxnet is working for other sites then I'll close this issue.

[2016-07-13 21:00] #910 closed

[2016-07-14 19:41] Viskari opened #913 "Can't build the newest version of pecan"
I just pulled the latest version of pecan and tried to run the build script for it, but now the build breaks on visualization and data.atmosphere. Error message below

[code]

[2016-07-14 19:44] dlebauer commented on #913
did you try `./scripts/install.dependencies.R`` and `./scripts/install.dependencies.R`?

[2016-07-15 06:11] robkooper commented on #135
workflows has user.id and is already filled in if a user.id is known.
ensembles currently does not have user.id nor is it filled in.

[2016-07-15 06:12] robkooper commented on #135
@mdietze do we need a user.id with ensembles/runs?

[2016-07-15 09:29] mdietze commented on #135
I don't think so, just Workflows should be fine.

[2016-07-15 09:29] #135 closed

[2016-07-15 09:57] mdietze commented on #913
Or to do it all in one step
[code]

[2016-07-15 09:57] #913 closed

[2016-07-18 21:58] bcow opened #914 "pecan URL needs buttons for pecan and rstudio"
For example, the page that comes up when you enter https://pecan2.bu.edu/ has an explanation of pecan but the links to pecan, rstudio and bety are hard to find. It would be good to have buttons or highlighted text.

[2016-07-19 05:04] mdietze commented on #914
I'm going to be more brutal and say that landing page needs a complete rewrite. All the information about the project itself is now on the project webpage or gitbook, so that page should be a landing page to get you to the resources you need locally (pecan, rstudio, bety, shiny) and remotely (gitbook, homepage, and submit a github issue).

@robkooper is that page under version control so we can ed

[2016-07-19 05:06] robkooper commented on #914
It is at: https://github.com/PecanProject/pecan/blob/master/documentation/index_vm.html

[2016-07-19 18:41] dlebauer opened #915 "met2CF.NARR broken: doesn't create temporary file ?"
If I try

[code]

I get the following error:

In file.rename(tmpfile, newfile) :
  cannot rename file '/tmp/NARR.2013.tmp' to '/tmp/NARR.2013.nc', reason 'No such file or directory'

Am I doing something wrong? I've debugged the function but the `tmpfile` is not created, and an error is thrown.

[2016-07-19 20:20] mdietze opened #916 "sensitivity filename function throwing errors"
During the Flux Course a number of students encountered errors in the SENSITIVITY post-processing because the function creating the filenames is occasionally generating an invalid path. This needs additional testing and testthat build tests to ensure the bug doesn't return.

[2016-07-19 20:24] robkooper commented on #916
Any specific settings that people had?

[2016-07-20 03:56] mdietze commented on #916
Demo 2 of the tutorial (Niwot Ridge, Ameriflux met)

[2016-07-20 18:59] dlebauer opened #917 "Update schema without Rails app"
when I run

[code]

I get the error

Dump is from a different schema, please fix schema in database.

Is there a way to fix the schema in the database without using the rails application to [run migrations](https://pecan.gitbooks.io/betydb-documentation/content/updating_betydb_when_new_versions_are_released.html)?

This error also appeared in #600 and #226, but those were focused on errors that oc

[2016-07-20 19:28] mdietze commented on #917
I don't think so, nor do I think it's a great idea to hack around that and load data from a database in one schema into an instance that has a different schema -- that's guaranteed to result in conflicts and errors.

[2016-07-20 19:59] robkooper commented on #917
I agree with Mike, you should not synchronize the database without having the correct schema. To migrate the schema you have two options. Options 1, is the only supported way to do this thought:

1. you either have to have a version of BETY rails installed and do a bundle exec rake db:migrte
1. **(not supported)** you can find a machine (VM) that has it installed, rollback the VM and run it again

[2016-07-20 19:59] #917 closed

[2016-07-20 22:16] dlebauer opened #918 "met.process error: no package called PEcAn.data.atmosphere"
given this file [`met.process_error.xml`](https://gist.github.com/dlebauer/75edf6be6f6756911422131499bdcf4a#file-met-process_error-xml)

The following code throws an error on ebi-forecast but not on the VM:

[code]

Here is the error:

[code]

It seems to restart R in the middle of the call. Is this expected?

[2016-07-21 01:54] robkooper commented on #918
yes that is expected. If your settings$host is not localhost, or the FQDN of the machine it will do a remote call, and run R remotely. In your case you might have used ebi-forecast.igb.uiuc.edu and the FQDN of the machine is ebi-forecast.igb.illinois.edu.

[2016-07-21 05:26] robkooper commented on #918
Yes it always runs R in a new process, not sure I remember why it was implemented that way. We could just as easily run the R command inside the same R interpreter if it is local. https://github.com/PecanProject/pecan/blob/master/utils/R/remote.R#L180

As a side node, we should update this function to be similar as the others, getting passed in host so we can leverage of the tunnel if it exists.

[2016-07-21 05:28] dlebauer commented on #918
Thanks I'll keep this open for the side note
On Thu, Jul 21, 2016 at 12:26 AM Rob Kooper <notifications@github.com>
wrote:

[2016-07-22 22:38] mdietze opened #919 "mean.over.larger.timestep as.Date bug"
need to update as.Date in mean.over.larger.timestep because it's dropping subdaily info and causing bugs

[2016-07-22 22:45] mdietze opened #920 "Site info: http://earth-observation-monitor.net/"
This site provides some interesting interactive analyses of remote sensing data at the site scale

Step 1: provide link to during site selection

Step 2: grab information for validation and possibly drivers (e.g. BFAST for management/disturbance, phenology, etc)

[2016-07-23 15:44] mdietze opened #921 "Improve color schemes"
In figures and the History table we should make sure color schemes are more color-blind sensitive. A student on the flux course noted that the red/green distinction on the History table might be improved. On the other hand, for non-color-blind individuals the red/green has an intuitive stop/go -> fail/pass interpretation. Worth thinking about how we balance this.

[2016-07-23 15:54] mdietze opened #922 "Database constraint conflict in parameter DA"
When doing PDA with multiple years of data, if those data are entered as separate inputs in the XML it causes a database table conflict. Specifically, the Likelihood table has a constraint on (run, variable, input) which fails if the same input has multiple years.  Probably need to have multiple ```<path>``` entries within a single ```<file>``` block. Not sure if that's how it's supposed to work r

[2016-07-23 15:54] robkooper commented on #921
I worked with Shawn on this in the past. Here is a program that can help on the Mac:
https://itunes.apple.com/us/app/sim-daltonism/id693112260?mt=12

[2016-07-23 16:30] istfer commented on #922
I'm on my way to UNDERC, I'll take a look at it when I'm by my computer. But the example in the vignette was for multiple years of the same input and it is exactly set up the way you described I think https://github.com/PecanProject/pecan/blob/master/modules/assim.batch/vignettes/AssimBatchVignette.Rmd

[2016-07-23 17:04] mdietze commented on #922
Got it. Let's update the tutorial and the gitbook: https://pecan.gitbooks.io/pecan-documentation/content/users_guide/advanced_users_guide/PEcAn-Configuration.html

[2016-07-26 10:09] mdietze commented on #906
@robkooper I just deleted all those ED2.2 80 runs, but I don't have permissions to delete the Model record on betydb.org. Could you do that?

[2016-07-26 13:46] mdietze opened #925 "How do we benchmark emergent multi-site relationships?"
Inspired by Baldocchi's Flux Course talk -- how do we check relationships that emerge across multiple sites? Specifically, we define a benchmark as being site + data + variable + metrics. We'd need to define each site as a benchmark and then define analyses to be performed across a list of benchmarks -- not something we're set up to do yet.  This also raises the interesting question of whether, in

[2016-07-26 13:51] mdietze opened #926 "Travis build checks against multiple OS"
Evidently you can now have Travis run build checks against multiple operating systems. The following ROpenSci blog explains how. We should probably extend our checks beyond just Ubuntu to also include RH/CentOS and Mac OS X since those are also commonly used by the team.

http://ropensci.org/blog/2016/07/12/travis-osx

[2016-07-26 14:29] #914 closed

[2016-07-26 14:41] mdietze opened #927 "SIPNET biogeochemical parameters"
I know we've discussed this in the past, but I couldn't find the relevant open issue

For the parameter data assimilation tutorial (PDA) and @istfer's work we need to be able to update a wider range of parameters in SIPNET beyond those associated with PFTs (e.g. soil biogeochemistry). At one point their was a pending plan to just extend the PFT table to more generic parameter functional groupings.

[2016-07-26 14:46] mdietze opened #928 "SIPNET Initial Conditions in PDA"
Similar to #927 it would be good to include SIPNET IC in the PDA. This is a bit more complicated than #927 because (1) these are site-specific, not universal, parameters and (2) there's already a mechanism for passing IC to write.configs.SIPNET which is used in the SDA code but (3) the PDA code isn't yet set up to pass fit variables to a different argument and (4) I'm not sure whether we want to h

[2016-07-26 14:53] mdietze opened #929 "Validation / visualization of NEE: grabbing gap filled data?"
In the current PDA tutorial we visualize / validate the modeled NEE against the observed NEE. However, to detect trend better we are currently doing a 1-day average in the timeseries plot. However, we're doing that on the Ameriflux L2 (not gap filled) data, which means we're probably giving a biased perspective on model performance. However, the L2 is what's on the server because that's what we're

[2016-07-26 14:56] mdietze commented on #712
This feature was requested by Flux Course 2016 students. Realistically we probably won't get it done before Camp PEON (1.4.8) but I'd like this On Deck for Fall 2016. Should probably go straight into the new Shiny visualizations.

[2016-07-26 15:06] mdietze opened #930 "Extend PDA likelihoods to include process error"
As far as I can tell the PDA code isn't fitting a process error parameter explicitly, but is rather just using the observation error in the likelihood. We need to both estimate the process error and propagate it into the predictions, as is done in the SDA code. Ultimately, we'll need a much tighter integration between the PDA and SDA likelihoods so these two tools can work together seamlessly and

[2016-07-26 15:20] mdietze opened #931 "PDA demo: summary, burnin, chains"
In the PDA demo, we need to show clearly how to get the summary statistics of the parameter estimates. Perhaps a posterior summary(), cov(), and cor() should be written out in ASCII form by default?

Related, the demo needs to show folks how to remove the burn-in -- perhaps we should be doing that automatically for the figures and stats?

Likewise, we should probably be writing out BGR stats. To d

[2016-07-26 15:23] dlebauer commented on #931
The broom package auto formats lots of r model summary objects as tables. I
recall at least one other similar package
On Tue, Jul 26, 2016 at 11:20 AM Michael Dietze <notifications@github.com>
wrote:

[2016-07-26 15:31] mdietze opened #932 "PDA model selection"
Would be good to set up PDA code to calculate model selection indices (e.g. wAIC, DIC, predictive loss) so that we can select between alternative functional forms and justify increased/decreases in model complexity. @jam2767 will need this for choosing between storage models

[2016-07-26 16:00] bpbond commented on #931
+1 on using `broom`.

[2016-07-26 17:38] mdietze opened #934 "Ensemble sampling: PCA + Unscented Transform?"
Two observations suggesting that we need an uncertainty propagation option that's much faster than Monte Carlo:
* in the current PDA tutorial, the running of the ensemble analysis before and after PDA takes longer than the PDA
* ESMs currently run with no uncertainty in the land and, even if they could convince the atmospheric scientists to run land ensembles, they'd be severely limited computatio

[2016-07-26 17:42] mdietze commented on #900
Need to add PalEON site network and then remove PALEON site tags from the site names. This is currently causing a bug at Howland, because download.Ameriflux is parsing he PalEON tag for the site name rather than the Ameriflux tag.

[2016-07-26 17:46] mdietze opened #935 "Ameriflux & FLUXNET: finding site data"
Need to better document, in the tutorial and gitbook, how to figure out whether there's available met at an Ameriflux or fluxnet site. Because some sites go down for multi-year stretches this is more complicated than simply start and end date of the tower.  This info is on the servers, but we need to include links to where people should look and explain what they should look at.  Ran into this iss

[2016-07-26 17:48] mdietze commented on #792
Folks definitely questioned UNITS at flux course -- need this fixed in v1.4.8

[2016-07-26 17:54] dlebauer commented on #931
Also, note that the meta-analysis follows Gelman's recommendations to remove the first half of each MCMC chain; this is done before any plots or statistics are computing.

This could be a good place to ensure that methods such as how much to burn in and what the GBR threshold is are consistent (to the degree that consistency is appropriate) across packages.

[2016-07-26 17:56] mdietze opened #936 "post-demo instructions"
Need clearer instructions at the end of the demos about what the next steps are for someone wanting to use PEcAn. This should include pointers to installation instructions, getting a permanent machine ID, and connecting your node to the network.  These steps need to be simplified.  Should also include pointers/suggestions of how to go about learning more (no one wants to read the gitbook cover to

[2016-07-26 17:58] dlebauer commented on #712
Can we also add ability to download met driver data from the user interface?

[2016-07-26 18:01] mdietze commented on #712
You can already download model-specific met driver data for models that put that met in the /run directory. Doesn't seem like it should be hard to put those symlinks in all /run directories for all models

[2016-07-27 21:55] istfer commented on #931
@dlebauer @bpbond I haven't used the package before, does tidyMCMC{broom} give anything else besides the estimate, std.error, conf.low, conf.high? it doesn't spit our cov() or cor() I guess right?

for the burnin: we were discarding 20% of the chain if not specified, @mdietze would you like this threshold to be 50%?

[2016-07-27 23:10] mdietze commented on #931
No, I think the 50% recommendation is silly. I'd prefer that we check for convergence and burn in explicitly. I've got some code for that floating around (I think in the forecast class activities) but I know that's also in some of the newer R packages as well -- @ashiklom and @bcow mentioned this at one point recently

[2016-07-28 11:05] mdietze opened #942 "Sparse Matrices in R"
As the SDA evolves we're going to eventually have to take advantage of sparse matrix approaches to leverage the performance boosts associated with localization when inverting large matrices (e.g. in the Kalman Filter). Here's an example of a spare matrix package in R http://www.econ.uiuc.edu/~roger/research/sparse/SparseM.pdf
There are other matrix libraries in C and Fortran as well.

[2016-07-28 12:59] mdietze commented on #551
This has been superseded by @bcow's load.data work within the benchmarking module, which does return variables in BETY standard

[2016-07-28 12:59] #551 closed

[2016-07-28 20:05] mdietze commented on #900
Got all of these done, just missing the separation of the general FLUXNET sites from the FLUXNET2015 Tier 1 sites (i.e. those sites which we can download met for)

[2016-07-29 01:10] #900 closed

[2016-07-29 18:25] mdietze opened #944 "literature mining model use"
As part of PEcAn's strategic planning and future grant writing, it would be useful to know what fraction of the current modeling community is covered by PEcAn. I'm envisioning mining Google Scholar or Web of Science to figure out

1) what terrestrial models are out there
2) the relative effort/influence of each model (number of papers, number of individuals, number of citations, etc)
3) trends thr

[2016-08-02 19:06] #927 closed

[2016-08-02 19:35] serbinsh opened #947 "New issue: Error creating output directories."
This is a new issue I am having on modex:

[code]

I wasn't getting this before....

[2016-08-02 19:37] serbinsh commented on #947
I can't even write to a directory that worked before....seems to be some new changes that are causing a bug in the creation of output directories, specifically in this case the PFT output directory

[2016-08-02 19:38] serbinsh commented on #947
Whoops my bad, it is in get.trait.data

[2016-08-02 20:08] serbinsh commented on #947
I may have figured out the issue...update pending

[2016-08-02 21:29] #922 closed

[2016-08-02 21:36] mdietze opened #949 "Make sure remote.execute.R leverages tunnel"
As per discussion in #918, need to double check that remote.execute.R uses the open tunnel to the remote host.

[2016-08-02 21:42] mdietze commented on #918
Moving tunnel issue to a new issue.

I suspect that the fail to find PEcAn.data.atmosphere in the new shell may have to do with where libraries are installed (e.g. by default RStudio and R put R libraries in different folders)

Running in a new shell (not a restart) was done to simplify met.process and convert.inputs -- it runs the same exact things in both environments (local vs remote), thus avo

[2016-08-02 21:42] #918 closed

[2016-08-03 10:34] mdietze commented on #752
Looking through the prior list, the issue was that there was a prior on leafN, which isn't an ED2 parameter. Removed the prior.

As an aside, I don't know who made this PFT and for what purpose. The temperate.* PFTs are the "standard" ED2 pfts (eg NorthernPine and LateConifer). Is anybody using this PFT for something or can I delete it?

[2016-08-03 10:34] #752 closed

[2016-08-03 13:19] #916 closed

[2016-08-03 13:21] #792 closed

[2016-08-03 13:22] #598 closed

[2016-08-03 14:28] ashiklom commented on #931
Martyn Plummer has a new runjags package that seems very promising, but
it's in relatively early stages of development and has some bugs. I forked
it back in June and fixed a few minor things (github.com/ashiklom/runjags),
but that fork is probably out of date by now.

On Wed, Jul 27, 2016, 7:10 PM Michael Dietze <notifications@github.com>
wrote:

[2016-08-03 15:05] serbinsh commented on #906
BNL has now complied with the changes

[2016-08-03 18:19] #919 closed

[2016-08-03 21:21] #906 closed

[2016-08-03 21:22] #931 closed

[2016-08-03 21:35] mdietze commented on #735
Here's the minimum set of tasks left before Camp PEON
- [ ] Update Demo 1 and Demo 2 for v1.4.8: soil PFT, use load.data, metrics in validation
- [ ] Update PDA demo: soil, multiple chains / convergence, summary stats, updating
- [ ] Updated tree ring code
- [ ] Updated SDA code
- [ ] Updated SDA tutorial
- [ ] Updated lectures
- [ ] HF SDA figure for Puff Piece
- [ ] PalEON met in DB for UNDERC

[2016-08-03 21:40] mdietze commented on #928
In discussion with @araiho today we realized that SIPNET passing it's IC in as a vector is the exception, not the rule -- many models will have some sort of IC file and thus will be passing a path. Having to update IC files as part of the MCMC seems like a non-trivial problem to generalize in a multi-model way.  That said, almost all models will have pools (e.g. soil C) that can't be set well from

[2016-08-04 01:24] mdietze commented on #492
Spent a little time playing with this today. I have a better feel for how we could do the download automatically at a grid-cell scale, as well as map taxa to PFTs automatically. I ran the JAGS demo and can see how to generalize that to a multivariate model so we can get pollen % estimates with a mean vector and error covariance on a PFT-level. What I'm not sure about is how we make the essential S

[2016-08-04 16:58] araiho commented on #735
I think the PalEON met is in the DB for UNDERC? https://psql-pecan.bu.edu/bety/inputs/1000000535

[2016-08-04 20:15] Viskari opened #956 "data.atmosphere installation fails"
[tviskari@modex pecan]$ R CMD INSTALL PEcAn.data.atmosphere_1.4.7.tar.gz
- installing to library ‘/data/home/tviskari/R/library’
- installing _source_ package ‘PEcAn.data.atmosphere’ ...
  *\* R
  Even after going through with Shawn the pecan dependencies, my data.atmosphere installation still fails with the following error message. Any suggestions what is happening?

*\* inst
*\* preparing packag

[2016-08-04 20:32] dlebauer commented on #956
did you try updating the documentation:
devtools::document('modules/data.atmosphere')?

On Thu, Aug 4, 2016 at 3:15 PM, Viskari <notifications@github.com> wrote:

[2016-08-04 21:23] #947 closed

[2016-08-04 21:24] serbinsh opened #958 "New issue in meta-analysis: missing ending parenthesis?"
[code]

[2016-08-04 21:24] serbinsh commented on #958
This was during an ED2 PEcAn run.

[2016-08-04 21:25] serbinsh commented on #958
it looks like this is due to a missing ) in the call:

if(!is.null(settings$meta.analysis)

where it needs a ) after like

if(!is.null(settings$meta.analysis)) {

...

}

[2016-08-04 21:28] mdietze commented on #958
Are you pushing a fix or are you going to tell us where the error is?

[2016-08-04 21:28] serbinsh commented on #958
I am working on the fix right now (I hope).  It was in the web workflow.R file, which I realized after grep

[2016-08-04 21:30] serbinsh commented on #958
After making the change I hit this

2016-08-04 17:30:29 INFO   [FUN] :
   191 observations of SLA
Error: could not find function "runModule.run.meta.analysis"

[2016-08-04 22:25] SimonGoring commented on #492
I think you've hit the nail on the head here @mdietze.

We can do the mapping to PFTs programmatically in some senses.  There is an existing function in  the `neotoma` package called `compile_taxa` that compiles taxa to various higher taxonomic levels, generally morphologically.  We can (somewhat) easily map taxa onto PFTs if that's helpful.

Having STEPPS operate as an R package is complicated (I

[2016-08-05 11:59] #958 closed

[2016-08-05 11:59] serbinsh opened #960 "Error in workflow.R: Cant find runModule..."
2016-08-04 17:30:29 INFO [FUN] :
191 observations of SLA
Error: could not find function "runModule.run.meta.analysis"

[2016-08-05 12:00] serbinsh commented on #956
@dlebauer do you think the namespace needs updating?  It does look like there are several "unknown" functions listed.....

[2016-08-05 12:08] serbinsh commented on #960
It looks like the reason my workflow is stalling out here as this may be the only new runModule without:

[code]

Proceeding it such that it ends up in NAMESPACE

I will try to add this and see if I can bypass this current sticking point

[2016-08-05 12:33] #960 closed

[2016-08-08 17:11] mdietze commented on #735
@robkooper there are a few additional things that need to be installed on this VM to support Camp PEON:

1. R libraries neotoma and R2jags
2. Clone the following repo into the home directory: https://github.com/PalEON-Project/Camp2016
 + Within that repo, run testInstall.R to run some tests
3. BACON: http://chrono.qub.ac.uk/blaauw/bacon.html
4. CLAM: http://chrono.qub.ac.uk/blaauw/clam.html

[2016-08-09 14:55] Viskari opened #968 "Problems running the PROSPECT/EDR inversion with parallel=TRUE"
I have been able to run the RTM PROSPECT/EDR inversion code successfully sequentially, but when I try running invert.auto with parallel set to be TRUE. For some reason in that case, some of the EDR runs start failing because of the input files. Example error messages below.

[1] "Running 3 chains in parallel. Progress bar unavailable"
At line 352 of file radiate_driver.f90 (unit = 22, file = 'refl

[2016-08-09 15:21] serbinsh commented on #968
@Viskari this is on our linux server modex correct?

[2016-08-09 15:48] Viskari commented on #968
Yep

[2016-08-09 17:52] mdietze commented on #204
@bcow is this working in the 1.4.8 pull request or are there still more tasks to-do?

[2016-08-09 18:57] tonygardella opened #971 "PEcAn Videos"
In order to help make PEcAn easier to use what type of online videos can we make?

Some key questions:
- What would individuals like to do once they finish the first tutorials?
- What parts of PEcAn can we get people engaged with PEcAn through video?

etc. Please add more and discuss.

[2016-08-10 16:47] dlebauer opened #974 "Add new site programmatically"
There is a script in the BETYdb repository ([`buildSQLGeom.py`](https://github.com/PecanProject/bety/blob/master/script/buildSQLGeom.py)) that will take a csv of latitude, longitude, elevation and insert it into BETYdb. This works when manually entering rectangles.

I had previously written some code and wrapped it into a function so that I could do this from within R, using R data frames and some

[2016-08-10 20:20] ashiklom commented on #968
Is EDR itself running in parallel? If each instance of EDR needs multiple threads, there could be an issue with then trying to run multiple instances of EDR at the same time, as required by the parallel inversion functionality.

Alternatively, it could be an issue with multiple instances of EDR trying to read from the same file at the same time, or something to that effect.

[2016-08-10 20:31] ashiklom commented on #886
At a recent PECAN call, we discussed moving from `bash` to `make`, which would dramatically accelerate the typical install by  only installing changed packages and their dependents. With `make`, arguments are also really easy -- it's very straightforward to implement the functionality @dlebauer describes.

@robkooper Any reasons you can think of for sticking with `bash` over `make`?

Apologies if

[2016-08-10 20:41] serbinsh commented on #968
@ashiklom Given my understanding of EDR I dont think it is related to a thread issue, particularly since EDR runs as a compiled executable and should be able to run numerous simultaneous instances, just like standard ED2

But the reading from the same file by simultaneous instances could be an issue.  I suppose we could test by creating X chains versions of the same file and see if we avoid the er

[2016-08-10 20:58] ashiklom commented on #968
Yes, but I'm wondering if EDR's internal parallelism would clash with the threads created by R. You're probably right, but it wouldn't hurt to test with an EDR configuration that runs without OMP (if such a thing is possible).

Also, this is a bit of a tangent, but it may be worth thinking about whether or not there's a better way to pass the spectral reflectance characteristics into ED that doesn

[2016-08-11 03:26] robkooper commented on #886
Nope no specific reason.

Rob

From: Alexey Shiklomanov <notifications@github.com>
Reply-To: PecanProject/pecan <reply@reply.github.com>
Date: Wednesday, August 10, 2016 at 3:31 PM
To: PecanProject/pecan <pecan@noreply.github.com>
Cc: Rob Kooper <kooper@illinois.edu>, Mention <mention@noreply.github.com>
Subject: Re: [PecanProject/pecan] Change build.sh to only install core modules by default, or

[2016-08-11 13:32] Viskari commented on #968
EDR is not running internally parallel. And even if that was it, the actual error message would be different.

[2016-08-11 13:36] bpbond commented on #886
We use `make` for a big (~100 scripts, ~1000 data objects) data pipeline system in R. It has the advantages mentioned by @ashiklom above, but it's worth noting that one of `make`'s fundamental assumptions is that each step produces a single target (e.g. there may be many source code files but they produce a single executable). This is not true in our case, where a script may produce many data outp

[2016-08-11 18:26] mdietze commented on #974
Sounds very relevant.

So I don't see how the py script works within bety. If I go to sites/new I don't see anywhere to upload a csv file of points

As far as I know #482 is still in progress, but I haven't gotten an update from @ch1eroe1 in a long time.

Since this is related to inserting things in the database, it would go in the db module.

[2016-08-11 18:37] mdietze commented on #886
@bpbond thanks for the suggestions 😄   -- useful general info about options for workflows. In this particular case @ashiklom is referring to the build of the system software itself. Right now we have a build script that rebuilds every single R package in the system, even if 95% of those packages haven't been touched. Since they're R packages, they do have a single target. Having ```make``` check i

[2016-08-12 14:59] serbinsh commented on #968
@Viskari @ashiklom can either of you share the script that isn't working with me and any inputs I need to test it?

[2016-08-14 21:21] robkooper commented on #886
One option is to have a makefile in the root, and a makefile in each subfolder. These subfolders will use the R/inst files to see if it needs to be rebuild

The makefile in the root just call all the subfolders.

[2016-08-15 18:23] rykelly opened #986 "host vs. hostname again"
The `hostname` argument [here](https://github.com/PecanProject/pecan/blob/master/utils/R/convert.input.R#L158) needs to be a host object, because otherwise `remote.execute.R()` can end up passing just a string to `remote.copy.to`/`remote.copy.from`, both of which are looking for a host object.

Can someone more familiar with `convert.input` (@bcow?) fix this without breaking the many other uses of

[2016-08-16 19:19] tonygardella opened #989 "Github Issue submission from Web interface"
Being able to submit an issue straight from the web interface was a feature requested at the PEcAn workshop. @mdietze added a button to the interface to do this but it requires the user to have a github account. @mdietze found a solution to this problem [here](https://gist.github.com/SimonGoring/5377ecbc5d30c0a1ad12885b52471ed7). It integrates google forms with github issues.

[2016-08-16 19:24] tonygardella commented on #989
I imagine the form will have two options:
1. Report a Bug
     -    Paste last lines of workflow.R.out
     -    Ask for Model, Site, Years ( or automatically paste in pecan.xml)
2. Request a feature
     -    Description of feature
Then a section to add Name and email address.

[2016-08-17 20:59] bcow commented on #986
I'm not entirely sure I understand the host object - where is it defined? If there is a specific host class object then I should make sure it's properly defined in `met.process` as well as `convert.input`. @rykelly @mdietze

[2016-08-17 21:00] rykelly commented on #986
I think it would be good if there was a formal `host` class, but no there's not. It's just the list of host settings that you normally find in a PEcAn settings list. (i.e. `settings$host`).

[2016-08-17 21:00] bcow commented on #986
oh ok got it

[2016-08-17 21:22] robkooper commented on #986
The host section in PEcAn contains: hostname, username, tunnel and are used for remote actions.

[2016-08-18 17:53] bcow commented on #986
I can't close the issue.

[2016-08-18 17:57] dlebauer commented on #986
@bcow I assume you want it closed? So I'll close it.

Since GitHub restricts closing an issue, one way is to just add the 'done' tag to indicate doneness.

[2016-08-18 17:57] #986 closed

[2016-08-18 21:28] serbinsh opened #994 "download.file and FTP gateway issues"
@robkooper

I have been running into new issues with FTPs from within BNL that relate to our firewall and the need to use a FTP gateway when connecting to an external FTP such as NARR or fluxnet, but not Ameriflux which goes over https.  The issue is that I need to connect via an FTP gateway or it can't reach the external FTP site:

[code]

I noticed that download.file()  uses curl.

[code]

I won

[2016-08-20 11:44] mdietze opened #995 "Add MEL model"
To be done in collaboration with Adrian Rocha. Aiming for spring break 2017

- [ ] Download, compile, and test run
- [ ] jobs.sh existing test run
- [ ] Database record: model_type, model, formats, test run's inputs, test PFT
- [ ] write.configs existing test run
- [ ] standard output
- [ ] test run through web interface
- [ ] met2model
- [ ] parameters in write.configs
- [ ] extend list of PFTs,

[2016-08-23 17:07] skrotbil opened #996 "danmark højeste skrotpræmie"
Få Den Bedste Pris For Din Gamle Bil

Vi giver op til 100.000 kr for din Bil Vi kan garanteret også tilbyde dig en fordelagtig pris for din gamle . Kontakt os nu på   27 17 20 47
Vil du have bedst skrotpræmie og bedste service når du skrotter bilen. Vi Betaler Altid Kontant for Skrotbil og dækker hele landet Skrotning af bil Skrotpræmie Skrot Din Bil

Vi Opkøber Alle Slags Biler

Uanset Mærke, Mod

[2016-08-23 17:24] #996 closed

[2016-08-25 21:35] flummoxed opened #998 "path information for libpq.5.dylib linked in RPostgreSQL.so incorrect"
The libpq.5.dylib linked within the RPostgreSQL.so

[code]
based on linking (with a -L/Library/PostgreSQL/9.5/lib specification) where a libpg.5.dylib is located (as well as available via symbolic links in /usr/local/lib)

[code]
does not have the correct path detail:

[code]

using the pg_config file:

[code]

[code]

resulting in:

[code]

Based on the default configuration/Makefile.

Greatly ap

[2016-08-25 21:37] flummoxed commented on #998
Left out the most important piece of information:

[code]

[2016-08-25 21:38] serbinsh commented on #788
More issues with this today in the met2model code.

[code]

On mac we get this error but on linux it works fine.

[2016-08-25 22:36] mdietze commented on #998
This appears to be an issue with RPostgreSQL itself, not with any of our code. It also looks to be on Mac, which not a OS that PEcAn officially supports yet, rather than our Ubuntu VM (if there was an issue with our VM we'd definitely fix it!). Unless there's something I'm missing, I'd suggest contacting the RPostgreSQL maintainers directly. If this **is** related to our system please let us know

[2016-08-25 22:36] #998 closed

[2016-08-26 13:29] dlebauer commented on #998
Maybe solutions to other issues with Postgres eg
https://github.com/PecanProject/pecan/issues/131 and with dependencies in
general eg https://github.com/PecanProject/pecan/issues/71 will help
On Thu, Aug 25, 2016 at 5:36 PM Michael Dietze <notifications@github.com>
wrote:

[2016-08-26 15:28] robkooper commented on #994
Not sure but one thing to look at is ftp.proxy (http://www.ftpproxy.org/)

[2016-08-26 16:57] serbinsh commented on #994
I will see if I can get this to work for us.

S
------------------------------------------------------------------------------
Shawn P. Serbin
Biological, Environmental & Climate Sciences Department
Brookhaven National Laboratory
Upton, NY 11973-5000

Phone: +1 631-344-3165
Fax: +1 631-344-2060
Email: sserbin@bnl.gov<mailto:sserbin@bnl.gov>
Bio:  http://www.bnl.gov/envsci/bio/serbin-shawn.php
TEST

[2016-08-26 19:09] robkooper opened #1000 "Get 1000 users of PEcAn"
Need to figure out a way to keep PEcAn growth and track the number of users we have. It would especially be interesting to see the number of users outside of the 4 research institutes (BU, BNL, UIUC, Wisc)

[2016-08-26 19:10] serbinsh commented on #1000
Cheater cheater 🎃 eater

[2016-08-26 19:12] serbinsh commented on #994
@robkooper I am going to give this a try: https://blog.linuxnet.ch/ftp-via-proxy/#NcFTP

[2016-08-26 21:25] serbinsh commented on #1000
👍 that for sure....though even within the 4 inst we dont have 100% adoption....I need to indoctrinate a few more of our postdocs.  That is my near-term goal

[2016-08-26 22:04] robkooper opened #1001 "Two factor auth"
Some sites (HPC and others) are starting to require more and more two auth. When using PEcAn from the command line the user can create a SSH tunnel, keep it open and pass in the pecan.xml file the connection to the tunnel. From the web this is not possible. We need to add code that will ask for the two factor code and try to setup the connection on behalf of hte user.

If the connection fails, we

[2016-08-26 22:11] yan130 opened #1002 "small typo in met.process.R"
Hi,

I think there is a small typo in met.process.R at line 229.

"outfolder2"  is not defined or used besides this line and I think it should be "outfolder".

thanks.

[2016-08-27 01:19] mdietze commented on #1002
1. Thanks for catching that
2. If you've stumbled across this bug, it suggests you're trying to run a model with NARR meteorology without using Brown Dog to process the met. I'd strongly suggest checking the "Use Brown Dog" button in the workflow -- downloading and processing NARR locally will probably take a couple days and 1.5TB, while working with the preprocessed met in the cloud takes a minut

[2016-08-27 01:19] #1002 closed

[2016-08-27 03:23] robkooper commented on #1002
@mdietze the goal for @yan130 is to try and change the BrownDog code to leverage of the met.process code, instead of the hacked version I have.

[2016-08-27 17:21] yan130 commented on #1002
@mdietze @robkooper thanks for reply.

I do use Brown dog.

I happened to find that bug without executing that line.

[2016-08-28 02:47] mdietze commented on #995
MEL model code is available here: http://www.mbl.edu/ecosystems/mbl-mel-model-home/

The latest version (not yet released) was provided by Ed Rastetter and is stored on the BU pecan servers at /fs/data5/pecan.models/MEL

MEL runs in Lazarus Pascal, which should be installable on Ubuntu using ```apt-get install lazarus``` but required a tad more digging for CentOS: https://pkgs.org/centos-6/naulinu

[2016-08-29 10:58] mdietze commented on #995
Instructions from Ed Rastetter on how to compile and run MEL

Here is how I run the model.  Make sure the equations.pas file is in the modelshell folder on your PC with the other objects in the code.
From the file explorer, double click on the file that's called Modelshellv???.lpi, where ??? is the version number you have.  If Lazarus is installed, this should open Lazarus with all the objects.  A

[2016-08-30 19:26] tonygardella commented on #1000
During today's PEcAn telecon we brainstormed some ides to better understand our users and communicate with them:
- [ ] Courtesy follow up emails: Thanking them for download, pointing them toward PEcAn Gitter, Send small tips and tricks with PEcAn, let them know we are willing/able to help
- [ ] Add a setup wizard to PEcAn which will set unique machine/user id if they would like and sync options. I

[2016-08-30 19:31] tonygardella opened #1003 "Admin Page on web interface"
During the PEcAn call today @robkooper had the idea of creating an admin page to the web interface that would allow a user to:
- [ ] set unique machine id
- [ ] optionally set and sync user information
- [ ] have buttons to automatically update/build pecan and bety

[2016-08-30 19:38] tonygardella commented on #735
Camp PEON 2016 has passed so I'm closing this.

[2016-09-07 18:25] robkooper commented on #1001
Initial option is for the user to open a SSH tunnel and use this tunnel in the pecan.xml file.

Create the tunnel:
[code]

Test the tunnel:
[code]

Add following to pecan.xml:
[code]

now as long as the tunnel is active, pecan will use the tunnel to connect.

[2016-09-07 19:15] yan130 opened #1007 "duplicate sites on psql"
Hi,

I am using met.process and find these two are duplicate sites on psql:

     id     |                  name                   |        st_astext         |         created_at         |  user_id
------------+-----------------------------------------+--------------------------+----------------------------+------------
        772 | Niwot Ridge Forest/LTER NWT1 (US-NR1)   | POINT(-105.546 40.0329

[2016-09-07 20:20] dlebauer commented on #1007
removing duplicate sites is an open issue in BETYdb https://github.com/PecanProject/bety/issues/201, deleting duplicates requires updating dependent rows.

[2016-09-07 20:59] mdietze commented on #727
updated info on getting landis to run on linux:

https://groups.google.com/forum/#!topic/landis-ii-users/YZMgm9oQ00o

https://github.com/LANDIS-II-Foundation/Core-Model/blob/master/model/trunk/README_LINUX.txt

[2016-09-08 04:41] mdietze commented on #1007
These duplicates were removed. However, checking other sites with adjacent ID numbers suggests that a number of duplicate sites were created -- this appears to have occurred when I created the site groups for Fluxnet2015 (probably because the coordinates in that site were slightly different from the Ameriflux and Fluxnet sites). A side effect of removing EMS and NR1 are that they are now no longer

[2016-09-08 05:26] dlebauer commented on #1007
see also pecanproject/bety#246 and pecanproject/bety#201 for a more comprehensive discussion of duplicate sites, how to find and combine them, and how to prevent duplicates in the future (by cleanup + adding constraints)

[2016-09-08 05:28] dlebauer commented on #1007
And here is a generic SQL function to merge duplicate records: https://github.com/PecanProject/bety/issues/185#issuecomment-71534163

[2016-09-09 06:08] mdietze opened #1008 "Add FATES"
First question is whether this should be it's own package, or a flag/option within the CLM package?

General game plan, at least initially, is to follow the standard set of steps (below) using the approach discussed in #352 (CLM)

- [ ] Download, compile, and test run
- [ ] jobs.sh existing test run
- [ ] Database record: model_type, model, formats, test run's inputs, test PFT
- [ ] write.configs

[2016-09-09 14:36] mdietze commented on #1008
Here's what worked so far on the v1.4.8 VM running Ubunutu 14.04. Just discussed with @robkooper upgrading to Ubuntu 16.04 for PEcAn v1.4.9 to alleviate a bunch of the upgrading

* Install a bunch of packages
[code]

* Get code (currently a private repo)
[code]

* Copy Ryan Knox's ```create_1x1br_eddi.sh``` script into the cime/scripts directory and modify:
 * Set CROOT to the run directory
 * Set

[2016-09-10 14:09] mdietze opened #1009 "met.process refactor: met.module & user workflows"
met.process has gotten too complicated, and as we discover things the original design couldn't handle, it's becoming a mess of hacks that is hard to maintain and extend. This is in contrast to the original idea, which was that it would be easy for contributors to add new modules or swap out modules (e.g. choose between alternative gap filling or down scaling routines).  What I propose below is int

[2016-09-12 14:02] rykelly commented on #1009
Overall I think this is a great idea. However, I would propose two changes:

1. Let the arguments to this new `met.module` be module name and site info (as you say), and `...`. Maybe this is what you were implying anyway, but there's no reason (I think) to limit the extra  arguments to blocks returned from previous steps. I would suggest that `...` is passed in its entirety to the module.
2. Rathe

[2016-09-12 18:25] mdietze commented on #1009
1. Yes, including ```...``` makes sense. That was implicit in including 0 to n inputs, but I like the idea of passing the ```...``` as well
2. Storing by name should work well too. It's a tad more typing when coding up the workflows, and probably a tad harder to write a parser for, but easier to extend/modify workflows and I agree that it's a whole lot better provenance & human readability
3. Down

[2016-09-12 18:29] rykelly commented on #1009
3. OK, so in my refactoring of met.process I'm trying to pass all arguments to `convert.inputs` by name. So I think I should be able to wrap `download.*` in the same met.module routine, and it just won't have the argument input.id. If that's true (i.e., that I can figure it out), you're ok with that?

[2016-09-12 18:44] mdietze commented on #1009
My only hesitation is that I don't want convert.inputs to have a whole sea of hidden special cases buried inside it. If you think you can do it cleanly then I'm OK.

[2016-09-13 00:56] bcow commented on #1009
The special cases problem in `convert.input`  is exactly why downloading got left out - there are a lot of database checks in `convert.input` that were designed to work when the data that was being converted was already downloaded and recorded in the database. If we want to get literal, a "conversion" isn't being performed, the raw data is just being downloaded.

[2016-09-13 01:10] bcow commented on #1009
In terms of the `met.module` proposal - we should use this as an opportunity to remove any met specific tasks from `convert.input` - especially in the browndog section.

[2016-09-13 17:56] araiho commented on #837
@tonygardella I think you might be able to close this issue

[2016-09-13 17:56] jam2767 commented on #617
@mdietze I've been playing with EML package and can extract variable names and other info from example EML files from dataone, but have questions about what is actually going into meta2format.
Is some other function, or BD DTS, handing meta2format the EML file? For inputting a new formats record, all that is required is an id, mime type, name, header, skip and notes, correct? So is meta2format jus

[2016-09-13 17:58] #837 closed

[2016-09-13 18:28] mdietze commented on #617
What I said was that there are two steps: 1) extracting the required metadata from the file and 2) inserting that data into the database. I also said that BD only has to do the first, and the second happens purely within PEcAn (i.e. BD doesn't insert anything into the database). That said, I'd envisioned that meta2format.EML would contain both these steps -- it would contain a call to Brown Dog an

[2016-09-13 18:29] mdietze commented on #617
Addendum: it's probably worthwhile to create a generic function for inserting database formats and formats-variables as you'll need it in every meta2format function and for manually inserting records.

[2016-09-13 20:58] araiho opened #1011 "ncdf4 can't be loaded or installed on test-pecan"
This error occurs when you run a model or try to install ncdf4 on test-pecan:

Error in dyn.load(file, DLLpath = DLLpath, ...) :
unable to load shared object '/usr/lib64/R/library/ncdf4/libs/ncdf4.so':
libhdf5.so.6: cannot open shared object file: No such file or directory
Error: package 'ncdf4' could not be loaded

[2016-09-13 21:08] dlebauer commented on #1011
Sounds similar to #998, #509, #426, #131, #71 and probably a few others

I think this is a FAQ and always a headache. I wish there were an easier solution ... but ... You need to either make sure the netcdf (and dependencies) module are loaded, or else specify the path when installing the package.

[2016-09-13 21:19] dlebauer commented on #1011
@araiho `module show netcdf` should help you find the paths for the netcdf libraries

[2016-09-13 21:23] araiho commented on #1011
@dlebauer  Unable to locate a modulefile for 'netcdf'

[2016-09-14 12:36] ashiklom commented on #1011
We don't have a module system, but we fixed it.

The trick was to add the following line to `/etc/rstudio/rserver.conf`:

[code]

The key path in there is the `/usr/lib64/openmpi/lib`, which is where the required `libhdf5.so.6` is located.

@dlebauer I've found a more general command to find locations is just `locate` or `find`. Even when modules are "loaded", I think their paths are sometimes sti

[2016-09-14 14:22] mdietze opened #1013 "Sapflux database"
http://sapfluxnet.creaf.cat/app

Hopefully this gets off the ground and provides some way for the community to use the data, as I think sapflux would be a valuable data constraint for PDA & SDA

[2016-09-18 15:08] robkooper commented on #751
Doing some testing it works on my machine. This could be related to running it on Amazon cloud.

[2016-09-18 18:09] serbinsh opened #1020 "Strange new error. Unable to launch workflow.R with nohup"
Until very recently I was able to launch runs as follows:

nohup Rscript workflow.R > workflow.log 2>&1 &

But now when I try running I get these error messages at the end

[code]

But strangely if I run in R using source('workflow.R') everything runs normally start to finish?  I am not sure why it doesn't seem to be finding certain functions or why it would fail using nohup?  Any ideas @robkooper

[2016-09-18 18:13] serbinsh commented on #1020
Here is a snippet of the log when running in R showing it can get passed the error:

[code]

It seems to fail looking for dbfiles with nohup but I am not sure why

[2016-09-18 18:21] serbinsh commented on #1020
@mdietze

I realized your PR #1017 moved some functions out of workflow.R  Once I synced my installed PEcAn libs everything worked again with nohup.

[2016-09-18 18:21] #1020 closed

[2016-09-20 20:52] mdietze commented on #1008
Possibly outdated, but I finally found a reference that seems to explain how to format CLM met.  http://www.cesm.ucar.edu/models/cesm1.2/clm/models/lnd/clm/doc/UsersGuide/x12979.html
Posting it so I / others can find it later.  It also seems that, like with ED2, we need to generate both a header file and the met files.

[2016-09-26 20:23] yan130 opened #1025 "met2CF.NARR missing PEcAn.utils library"
Hi,

I am running met.process with

input <- list(username = "pecan", source = "NARR")

and get the following error：

compare met2CF.NARR with met2CF.met2CF.Ameriflux ( which is running correctly), I think it should require
PEcAn.utils library

[2016-09-26 21:07] yan130 opened #1026 "question about dbfile.input.insert/ met.process"
Hi,

I am using met.process to get some data & I want to insert into PostgreSQL DB some my existing data.

I met this issue when I execute met.process twice with the same site but with different years:

+ for dbfiles(DB TABLE), "unique_filename_and_path_per_machine" UNIQUE CONSTRAINT, btree (file_name, file_path, machine_id)
+ the data for the same site for different time period will be store in t

[2016-09-26 21:18] mdietze commented on #1026
This is a duplicate of a known bug, #773, and one of our top priorities for the next release. Open pull requests aim to address this, I just haven't had a chance to review and reconcile them. Should be working soon.

[2016-09-26 21:18] #1026 closed

[2016-09-26 21:18] yan130 commented on #1026
Thanks, @mdietze

[2016-09-26 21:19] mdietze commented on #1025
Your assessment looks correct. Could you make that fix and include it in your next PR?

[2016-09-26 21:23] yan130 commented on #1025
done. https://github.com/PecanProject/pecan/pull/1006

[2016-09-26 21:25] #1025 closed

[2016-09-27 22:00] ch1eroe1 commented on #482
This ajax php insertion call is hooked to the modal.  I am trying to diagnose the insert failure that I am seeing with the local-time and sand-percentage fields on the sites table.

[2016-09-28 15:15] tonygardella commented on #550
@ashiklom is this still a problem?

[2016-09-28 15:19] tonygardella commented on #726
The warning will be added in #969

[2016-09-28 15:37] tonygardella commented on #773
related to #969

[2016-09-28 15:37] ashiklom commented on #550
Yes, it is. Probably can leave it open for now.

[2016-09-28 15:37] tonygardella commented on #769
related to #969

[2016-09-28 18:46] serbinsh opened #1027 "Add TEM"
General game plan, at least initially, is to follow the standard set of steps (below):

- [ ] Download, compile, and test run
- [ ] jobs.sh existing test run
- [ ] Database record: model_type, model, formats, test run's inputs, test PFT
- [ ] write.configs existing test run
- [ ] standard output
- [ ] test run through web interface
- [ ] met2model
- [ ] parameters in write.configs
- [ ] extend lis

[2016-09-28 19:06] serbinsh commented on #1027
I have had a couple of meetings with Eugénie Euskirchen and Tobey Carman about creating the PEcAn wrappers for TEM.  We are going to start looking into this and I have started to try running the model on modex; so far some build issue we are trying to address.  We would like to get this done for the NGEE-Arctic project.

[2016-10-03 17:26] robkooper opened #1028 "pecan docker container"
Create a Dockerfile that will create a simple Docker container. This container should be usable with a compose file with BETY and PostgreSQL containers.

Right now we will only have SIPNET in this container. Later we can look at other models, or get the models somehow in the container, other container..

[2016-10-05 18:33] serbinsh opened #1031 "Add ability to set environment options in config.php based on version number as well as model type"
For example right now we might have something like this:

[code]

But what we would like to allow is something like this:

[code]

@robkooper @ashiklom did I capture the essence of this?

[2016-10-05 22:32] istfer opened #1032 "How to perform analyses on derived variables"
How to do SA, PDA and SDA on derived variables?

E.g.  curently we write TotalSoilC and LitterC as an output in SIPNET, if we want an SA on SoilC only (which = TotalSoilC - LitterC) how can we do that without writing it explicitly as a variable to the output file?

First ideas : to pass it through pecan.xml as string and parse it out through the workflow
- How to parse it?

@ashiklom's  suggestion

[2016-10-05 22:48] istfer opened #1033 "Estimating uncertainties from data as a part of the workflow"
How do we want to handle the uncertainties in the data?

- When reported in the file, we can use that
- We also need a flexible way to estimate the uncertainty from data

Things to discuss/ideas:

- What’s the generic design pattern?
- How to insert into workflows?
- Uncertainty variables associated with every variable?
    - If there are uncertainties in the data, what do you tie them into BETY v

[2016-10-09 12:57] bpbond opened #1040 "Unreliable test at end of `query.site.R`"
In `db/R/query.site.R` (relevant code below), there are two problems:
* execution can reach the end of the function with no specified return value (i.e. there's no `else` clause)
* the `if` clause tests `site$lat` twice; I assume one should be `site$lon`?

[code]

[2016-10-09 13:05] bpbond opened #1041 "Unreliable reference at end of `arrhenius.scaling.traits`"
In the `arrhenius.scaling.traits` function in `db/R/query.trait.data.R`, `data` is undefined if we haven't gone through the `if` block above. Presumably there should be an `else` clause setting it to NULL?

...same problem appears in `filter.sunleaf.traits`.

[2016-10-09 14:55] bpbond opened #1044 "Odd ifs in `run.biocro.R`"
Lines 47-50 or thereabouts in `models/biocro/R/run.biocro.R` are odd...not sure what's going on here. The first is missing braces and weirdly formatted; the second should cause an error, because there's no `biocro.met` defined in scope, plus no assignment is made.

[code]

@dlebauer ?

[2016-10-09 16:39] #1041 closed

[2016-10-09 16:39] #1040 closed

[2016-10-09 17:04] bpbond opened #1049 "Comparison used in place of assignment in model2model.GDAY.R:143"
Line 143 in `models/gday/R/model2model.GDAY.R` is clearly wrong - should be an assignment, not a comparison.

[code]

[2016-10-09 18:25] bpbond opened #1051 "Comparison used in place of assignment in write.config.JULES.R:285"
Similar to issue #1049 - this is clearly wrong.

[code]

[2016-10-09 23:30] #1049 closed

[2016-10-10 02:50] #1051 closed

[2016-10-10 16:07] robkooper commented on #1049
Would this be better to use:
[code]
(not sure why but it returns number of days - 1, so 365 for leapyear)

[2016-10-10 16:18] dlebauer commented on #1049
see also #801

[2016-10-10 20:49] bpbond commented on #1049
Yeah, FWIW I second the suggestion in #801 - take advantage of the existing `lubridate`function!

[2016-10-11 16:59] ashiklom commented on #1011
@araiho Has this been resolved? If so, let @tonygardella know so he can close it.

[2016-10-11 17:53] araiho commented on #1011
@tonygardella Yes! resolved.

[2016-10-11 17:55] #1011 closed

[2016-10-11 21:08] ashiklom opened #1076 "Track files other than Workflow.log in web interface"
It would be nice to have the option to follow other files, particularly those related to model execution (i.e. `stderr` and `stdout`.

[2016-10-12 00:16] robkooper commented on #1076
I agree, but the problem is I did not know how to do this cleanly with multiple runs as well as if it runs remotely (in which case the stdout/stderr are not transferred until the job is finished).

That being said, if you click on the finished button (even while the workflow is still running) you can see the stdout and stderr.

[2016-10-12 14:27] ashiklom commented on #781
@tonygardella This isn't all that important, and doesn't seem to have much enthusiastic support from our community, so you can probably close it.

[2016-10-12 14:36] ch1eroe1 commented on #482
I have the insert-site.php completed for the site insertion into Bety.  One piece that I could not seem to figure out is where elevation fits in.  When I tried a 3D geometry point to include lat, long and elevation the SRID 4326 gave a database insertion error.

I will commit the code today and review with Rob before making a pull request this week.

[2016-10-12 14:49] #781 closed

[2016-10-13 15:12] mdietze commented on #759
Just got the following email from a list-serve that seems very relevant to this issue:

For anyone interested in expert elicitation of (computer model input) probability distributions, version 3.0 of the SHeffield ELicitation Framework (SHELF) is announced - see

http://tonyohagan.co.uk/shelf

This is a major upgrade to version 2.0 (released 6 years ago!), featuring:
Additional extensive advice fo

[2016-10-14 18:01] dlebauer opened #1083 "Remove / deprecate use of now() from SQL insert statements"
From Scott in https://github.com/terraref/computing-pipeline/issues/174#issuecomment-253676605

Technically this is a bug, since `now()` provides local instead of UTC datetime values. However, I am not of any errors this will cause.

This is low priority and a comprehensive update can wait until we transition to dplyr (#395).

[2016-10-16 17:51] bpbond opened #1088 "`Imports` versus `Depends` in DESCRIPTION files"
The PEcAn packages all seem to use `Depends:` exclusively in their DESCRIPTION files, and none uses `Imports:`; furthermore, there are many `library` calls throughout the packages' code. Finally, none of the `Depends:` specifies any version number restrictions. All this runs against CRAN suggested practice, and contributes to vulnerability w.r.t. namespace clashes.

From http://stackoverflow.com/q

[2016-10-17 14:14] bcow opened #1093 "Multi-Site runs do not work if different PFTs"
@rykelly @mdietze In `read.settings` the multisettings object is passed directly to `check.settings` as opposed to passing it through `papply`. Thus when different sites involve different PFTs the `check.settings` function doesn't know how to find the PFTs in the list.
Should `check.settings` be modified or should we change the section from `read.settings`
from
[code]
to
[code]

[2016-10-17 20:49] rykelly commented on #1093
Sorry @bcow I'm traveling and can't check right now, but that sounds right...

[2016-10-17 21:06] mdietze commented on #1093
Sounds like the papply route is the best best then, since that seems most likely to work and most likely to keep check.settings easier to maintain

[2016-10-19 06:47] bcow commented on #1093
I take it back - I missed a fundamental part of how a multisettings xml is written. It does work. I'm closing this issue.

[2016-10-19 06:47] #1093 closed

[2016-10-19 15:07] yan130 opened #1114 "met.process get error"
## Description

when I run met.process I get the following error which I did not enter a month ago:

[1] "start CHECK Convert.Inputs download.NARR NA localhost /home/polyglot/cache/PEcAn/NARR/ NARR application/x-netcdf 1135 2001-01-01 00:00:00 2001-12-31 23:59:59"
data frame with 0 columns and 0 rows
[1] "end CHECK"
Error in .parseArg(l[[i]]) : could not find function "is.POSIXt"
Calls: met.proces

[2016-10-19 15:20] mdietze commented on #1114
I think the fix to this is in my open pull request #1112

[2016-10-19 15:36] yan130 commented on #1114
@mdietze I just saw it thanks.

[2016-10-19 18:36] serbinsh commented on #1031
@robkooper how far away might we be from this functionality?  relevant for current ED2 issues with standard .git vs modularize

[2016-10-19 18:44] tonygardella opened #1116 "Master Issue for Package Cleanups"
Master Issue to organize package cleanups

## Description
Packages need to have their NAMESPACE and DESCRIPTION files looked at and have corresponding calls to package::function be made within functions.

## Context
Work needs to be split up on this to people who know sections best.

[2016-10-19 18:56] tonygardella opened #1118 "RTM package cleanup"
Following #1116 @ashiklom will clean up the RTM package.

[2016-10-19 18:58] serbinsh opened #1119 "MAAT package cleanup"
Following #1116 @serbinsh will clean up the MAAT package.

[2016-10-19 19:11] bpbond commented on #1116
Note overlap with #1088 - should I stop my work in this area?

[2016-10-19 19:17] tonygardella commented on #1116
@bpbond we wanted to take some of the load off of you. We were going to go by pecan package rather than package dependency and assign people who have been working on each package.

[2016-10-19 19:28] tonygardella commented on #1116
@bpbond I think going forward I'll assign people to look over areas, and then point them to #1088 for examples and the reasoning behind the clean up. Would it be okay to assign you as a reviewer on them?

[2016-10-19 20:06] bpbond commented on #1116
@tonygardella sure, happy to if useful.

[2016-10-19 20:08] bpbond commented on #1088
This has been superseded by #1116 - closing.

[2016-10-19 20:08] #1088 closed

[2016-10-19 20:19] mdietze commented on #1116
@bpbond I'd go one big step further -- I'd encourage you to keep contributing to code clean up (not just code reviews). What came out of this weeks pecan meeting was just that we thought it might be better to tackle, review, and debug updates on a PEcAn package basis rather than a CRAN package basis

[2016-10-19 20:36] tonygardella opened #1120 "data.atmosphere package cleanup"
Following #1116 @jsimkins2 and @ankurdesai will be in charge of cleaning the data.atmosphere package.

[2016-10-19 20:46] tonygardella opened #1121 "db package cleanup"
Following #1116 @robkooper will cleanup the db package.

[2016-10-19 20:58] tonygardella opened #1122 "DART package cleanup"
Following #1116 @Viskari will clean up the DART package.

[2016-10-19 21:04] tonygardella opened #1123 "allometry package cleanup"
Following #1116 @mdietze will cleanup the allometry package.

[2016-10-19 21:13] tonygardella opened #1125 "assim.batch, emulator, uncertainty, and lpj-guess package cleanup"
Following #1116 @istfer will clean up assim.batch, emulator, uncertainty, and  lpj-guess packages.

[2016-10-19 21:34] yan130 commented on #1114
additional bug I get when I just pull the newest branch:

Error in convert.input(input.id = NA, outfolder = outfolder, formatname = register$format$name,  :
  object 'username' not found
Calls: met.process -> .download.raw.met.module -> convert.input
Execution halted

I checked there is no definition for "username" in modules/data.atmosphere/R/download.raw.met.module.R

thanks

[2016-10-19 21:35] tonygardella opened #1127 "assim.sequential and linkages package cleanup"
Following #1116 @araiho will clean up assim.sequential and linkages packages.

[2016-10-19 21:44] tonygardella opened #1128 "benchmark package cleanup"
Following #1116 @bcow will cleanup the benchmark package.

[2016-10-19 21:53] tonygardella opened #1129 "biocro, clm45, dalec, ed, gday, jules, maespa, preles, sipnet package cleanup"
Following #1116 @tonygardella will clean up the biocro, clm45, dalec, ed, gday, jules, maespa, preles, and sipnet packages.

[2016-10-19 21:59] mdietze commented on #1114
Probably an issue with the db connection argument -- that does have a username

[2016-10-20 01:22] bpbond commented on #1128
Looks like benchmark makes use of [dplyr](https://cran.r-project.org/web/packages/dplyr/index.html). Be aware that dplyr evolved a lot in the last year, with both syntactical and functional changes. I'd suggest updating to the latest version (0.5 on CRAN), if possible, and test against that.

[2016-10-20 04:07] SimonGoring opened #1130 "Bug Report: Example not working in `allometry::AllomAve`"
## Description

Running the example in the help file for `AllomAve`:

[code]

Returns the following:

[code]

I propose that this be fixed.

## Context
My `sessionInfo()`:

[code]

[2016-10-20 04:41] SimonGoring commented on #1130
FYI - It's commit ffd75f5dd4653e6b27f799e8f742e201da49df57 where @bpbond changed `s1 <- s2 = 0.1` to `(s1 <- s2) <- 0.1`.  The brackets break the order of operations, and since `s2` is not yet defined everything screws up.

[2016-10-20 10:57] bpbond commented on #1130
Huh, interesting screwup by `formatR`. Thank you @SimonGoring ! I'll go look to make sure there aren't any other such 'fixes' anywhere.

[2016-10-20 14:43] tonygardella commented on #1130
#1131 has fixed this. Thank you @SimonGoring and @bpbond!

[2016-10-20 14:43] #1130 closed

[2016-10-20 15:06] ashiklom opened #1135 "Optimize and improve make-based build system"
## Description
The makefile I designed was a coarse first pass. The following are some of the outstanding issues that are worth addressing, if somebody has the time. I have this on my to-do list, but pretty far down -- I figured I'd open this to make my ideas public so others could try tackling them.

* [x] `make check` should use the main list of packages, not duplicate it -- a `foreach` statemen

[2016-10-20 15:30] SimonGoring commented on #1130
FWIW - I find [`lintr`](https://cran.r-project.org/web/packages/lintr/index.html)'s suggestions are just as good but a little more hands-off.

[2016-10-20 16:36] bpbond commented on #1130
Thanks @SimonGoring - I have looked at that too. Really cool package.

[2016-10-20 16:36] dlebauer commented on #1130
Wow the lintr README is impressive https://github.com/jimhester/lintr/blob/master/README.md

Highly configurable and one example shows how to add a test using `expect_lint_free()`

[2016-10-20 16:38] bpbond commented on #1130
👍  I think it's been integrated into dev versions of RStudio, so will show in real time.

[2016-10-20 17:00] yihui commented on #1130
@SimonGoring Just to clarify, `s1 <- s2 = 0.1` exactly means `(s1 <- s2) <- 0.1`, because `<-` has higher precedence than `=`, as I explained in https://github.com/yihui/formatR/issues/59. The order of operations was not actually broken.

[2016-10-20 17:05] SimonGoring commented on #1130
Right, I looked into the history a bit more and found the offending change, which was in 9a11080bafb2e4812e25430edb7509ef402f4403, where the operation

`s1 = s2 = 0.1` was changed to `s1 <- s2 = 0.1`, which is what actually broke the function.  Then `formatR` cleaned up the code by adding the brackets (which also failed), and converted the `=` to a `<-`.  So, not a `formatR` problem.  A @bpbond pr

[2016-10-20 17:19] bpbond commented on #1130
Weird. I wouldn't have made that change by hand; wonder what happened. Anyway, fixed.

[2016-10-21 13:23] serbinsh commented on #1119
Addressed in PR #1132

[2016-10-21 13:23] #1119 closed

[2016-10-21 15:24] tonygardella commented on #1118
#1133 was merged so this is done.

[2016-10-21 15:24] #1118 closed

[2016-10-21 15:57] ankurdesai opened #1140 "Implement NEON's JSON-based data API"
## Description

NEON has a draft API based on JSON interface to query and download data products. We should work on implementing an interface to this in PEcAn, both for the met drivers and flux output, and more generally for all the bio products. Given the size/scope of data, may need to start on smaller examples first.
## Context

PEcAn is supposed to work for NEON - it's in the proposal. Now tha

[2016-10-22 04:18] mdietze commented on #1114
That sounds right, as str_ns was also missing from the download module. Would be happy to quickly process a Pull Request with that fix.

[2016-10-22 16:40] mdietze commented on #1140
I think there's two useful first steps here:

1) As a place to get started, pick an example data type for ingest -- given our current technology and the state of NEON's current dataset, I think met is our best bet (i.e. a download.NEON function in data.atmosphere). After that I'd vote for veg and soil initial conditions, and then moving on to general data ingest for visualization / benchmarking /

[2016-10-22 20:56] ecn620 commented on #71
I had the same issue with udunits, and it turns out there is a typo in the error message. I suggest using:

install.packages('udunits2',configure.args='--with-udunits2-include=/usr/include/udunits2')

(the error message had "configure-args" instead of "configure.args")

[2016-10-24 19:39] mdietze commented on #849
Was working on updating the documentation on how to apply a new machine ID and was thinking that it would be very useful for the 'create' option under load.bety.sh to include the capacity to MIGRATE the records under the existing set-up to the newly created database.  I envision the following steps

1. add a SYNCSHIFT variable and -s flag to load.bety.sh
2. if this and CREATE are selected, at the

[2016-10-26 14:28] ashiklom commented on #1135
All of these are addressed in #1143.

[2016-10-26 14:28] #1135 closed

[2016-10-26 17:06] ch1eroe1 commented on #482
Created a pull request for this issue today.  If we need to add regex controls or modifications/enhancements we can open a new bug/feature issue.

[2016-10-26 17:06] #482 closed

[2016-10-26 17:32] ashiklom commented on #968
This has been resolved in #1133 .

[2016-10-26 17:32] #968 closed

[2016-10-27 21:04] Viskari opened #1148 "PEcAn installation not working"
When I downloaded the newest version of pecan and tried running make, I got the following error:

mkdir -p .install
echo `date` > .install/devtools
Rscript -e "devtools::document('"utils"')"
Updating PEcAn.utils documentation
Loading PEcAn.utils
Loading required package: XML
Loading required package: methods
Loading required package: ggplot2
Loading required package: randtoolbox
Loading required p

[2016-10-27 22:46] mdietze commented on #1148
I got a similar issue the _second_ time I ran make  and resolved it by deleting the time stamp files in the .install directory

[2016-10-28 13:59] Viskari commented on #1148
I coulnd't find any time stamp files in the .install directory, only the devtool file and if I delete that, it still leads to the same error.

[2016-10-28 18:42] ashiklom commented on #1148
Try running just `make install` -- I think I need to set the dependencies for the documentation as well as the installation.

[2016-10-28 18:46] ashiklom commented on #1148
Also, @mdietze when you ran into that issue, what terminal were you running make from? Just a regular bash shell, or the terminal in RStudio? I think the `devtools::install` command may not be recognizing `R_LIBS_USER`, though I'm not 100% sure.

[2016-10-28 18:52] ashiklom commented on #1148
Some possible solutions:
* When and where `R_LIBS_USER` gets recognized depends on where it is set. If it is set in `.bashrc`, it will _only_ be recognized by the bash shell, and not other shells (like `sh`, a more basic shell which I _believe_ is what the Rstudio terminal runs). The more general solution is to set `R_LIBS_USER` in `.profile`, which is read by all shells ([source](http://serverfau

[2016-10-29 06:52] mdietze commented on #1148
@ashiklom Sorry, I don't recall whether I'd opened the terminal from ssh or RStudio

[2016-10-31 14:41] Viskari commented on #1148
Thanks for the suggestions, Alexey. I tried all of them and none of them worked. I'm going with the stronger option now and just removing pecan and trying to re-install it from scratch.

[2016-10-31 15:01] Viskari commented on #1148
Semi-good news, maybe?

Before doing the full new installation, I pulled the latest version of PEcAn and tried running the installation again. This it got farther, but then gave this error message:

* DONE (PEcAn.DB)
mkdir -p .install
echo `date` > .install/db
Rscript -e "devtools::install('settings');"
Installing PEcAn.settings
Error in isNamespaceLoaded(pkg) :
  attempt to use zero-length variab

[2016-10-31 15:44] ashiklom commented on #1148
@Viskari Looks like there's something up with the `NAMESPACE` file. Try running `make .doc/settings` and then `make install`.

[2016-10-31 15:47] Viskari commented on #1148
Okay, I ran make .doc/settings and got the following error message

Error: Failure in roxygen block beginning MultiSettings.R:1
@param requires a name and description
In addition: Warning message:
In (function (dep_name, dep_ver = NA, dep_compare = NA)  :
  Need XML >= 3.98-1.3 but loaded version is 3.98-1.1
Execution halted

[2016-10-31 15:51] ashiklom commented on #1148
Ah, I think your R packages may be outdated. You can check by running, in R...

[code]

The latest versions are Roxygen2 5.0.1 and devtools 1.12.0. If you don't have those, it may be worth reinstalling (`install.packages("roxygen2", "devtools")`).

[2016-10-31 16:08] Viskari commented on #1148
Thanks for all the help @ashiklom.

So I updated the libraries and got further, but it is still hitting issues as now I get the following error message:

no function found corresponding to methods exports from ‘raster’ for: ‘overlay’
mkdir -p .doc
echo `date` > .doc/visualization
Rscript -e "devtools::document('"models/biocro"')"
Updating PEcAn.BIOCRO documentation
Loading PEcAn.BIOCRO
Error in (f

[2016-10-31 16:10] ashiklom commented on #1148
Grr, OK. Looks like I need to revise the Makefile logic in a pull request. In the meantime, a temporary fix is to just to run, from the command line, `Rscript -e "devtools::install('settings')"`.

[2016-10-31 16:24] Viskari commented on #1148
That command returns with this old error message

Installing PEcAn.settings
Error in isNamespaceLoaded(pkg) :
  attempt to use zero-length variable name
Calls: <Anonymous> ... mapply -> <Anonymous> -> find.package -> isNamespaceLoaded

I tried searching for that function to see if I could figure anything out, but couldn't find it in the pecan files.

[2016-10-31 16:25] ashiklom commented on #1148
Very weird. Try installing with `R CMD INSTALL settings` instead.

[2016-10-31 16:28] ashiklom commented on #1148
Oh, figured it out. There is a trailing comma in the `settings/DESCRIPTION` file in the `Depends` field that someone (probably me) forgot to remove. Drop that and it should install fine.

[2016-10-31 18:59] Viskari commented on #1148
Okay, so with make install it now ran the installation fine to finish. Now to test that everything works like it should.

Thanks again for all the help @ashiklom

[2016-10-31 19:00] ashiklom commented on #1148
Sure thing! I would run `make document install` just to make sure that all the NAMESPACE files and such are in order with the freshly installed pecan.

[2016-10-31 19:00] #1148 closed

[2016-10-31 22:21] tonygardella opened #1154 "Switch "var" naming convention to "nc_var""
## Description
@serbinsh noticed we are using the object  ```var``` to store values even though ```var() is an internal function.  This needs a cleanup.
## Context
This will help keep code clean and clear.

## Possible Implementation
Change the object ```var``` to ```nc_var```.

[2016-10-31 23:20] serbinsh commented on #1154
I can take care of this if helpful

[2016-11-01 14:09] rykelly opened #1156 "Proposed updates to read.settings"
## Description
I'd like to suggest a few changes to read.settings that I've half-assed implemented for my own purposes. If people like them, I'd work on the other half ass and then push them. Two things:

#### Add a block to settings that keeps track of whether `check.settings`, `update.settings`, and `fix.deprecated.settings` have been run before.

Those functions add a flag to the block when the

[2016-11-01 15:41] mdietze commented on #1156
@rykelly I like the first part (adding indicator flags) but I'm worried that the latter change moves us in the wrong direction. Specifically, we've acknowledged in the past that PEcAn is overly reliant on R-specific formats for storing intermediates, and that we need to work these out of the system where we can. Allowing the main settings file to be software specific decidedly sends us in the wron

[2016-11-01 15:44] rykelly commented on #1156
That's a good point, @mdietze. I'll keep my (.rda) version for testing then, and work on a netCDF one if and when there's time.

[2016-11-01 19:38] bcow commented on #1156
Just FYI @rykelly I originally proposed that `read.settings` have and argument for format and Rob argued against it, preferring instead individual `read. settings.format` functions. I'm on my phone so I can't type out everything we talked about but it's something that's been on my mind too.

[2016-11-01 20:43] rykelly commented on #1156
Yeah, I'd say there's no harm in having the ability to read/write to various formats, even if some (like .rda) are counter to the PEcAn paradigm. Keeping these versions as separate functions seems fine to me.

[2016-11-03 22:08] mdietze opened #1167 "Met and input ensembles: adjustments to do.conversions, met.process, write.configs, and sda.enkf"
PEcAn needs the ability to handle ensembles of inputs as a way of capturing uncertainties in drivers and initial conditions.

The following comes from a discussion with @araiho and @tonygardella at the PalEON SDA Hackathon

## Meteorology

Focusing first on the meteorology as the first case we want to deal with.

Key parts of the proposed design:
1. ensemble members will be named prefix.ens[ID] (e

[2016-11-04 19:18] ankurdesai opened #1171 "Nov 3 Fluxnet 2015 update"
## Description

Need to associate following sites to Fluxnet2015 group and/or add site from Nov 3 list at:
  http://fluxnet.fluxdata.org/change-log/
"AU-Gin, AU-How, AU-Lox, AU-Stp, AU-TTE, AU-Wac, AU-Wom, AU-Ync, CA-Man, CA-Oas, CA-Obs, CA-TP4, CH-Dav, CH-Lae, CH-Oe2, CZ-wet, DE-Geb, DE-Lnf, DE-RuR, DE-Seh, DK-Fou, FI-Let, FI-Lom, FI-Sod, FR-LBr, IT-Col, IT-Cpz, IT-MBo, NO-Blv, RU-Tks, SN-Dhr, US

[2016-11-07 16:26] yan130 commented on #1114
one more bug I enter after git pull.

line 97 in mat.process.R
 `   format.vars <- query.format.vars(con = con, format.id = register$format$id)  # query variable info from format id`

while this is the definition of query.format.vars:
[code]

so I get error:

Error in query.format.vars(con = con, format.id = register$format$id) :
  unused argument (con = con)
Calls: met.process -> query.format.var

[2016-11-08 11:34] mdietze commented on #1114
@bcow this is your bug, please submit a pull request ASAP
https://github.com/PecanProject/pecan/commit/6b151343f9c4bc1af90289370ad6898366f541a7

If you change the arguments to any function, you need to make sure to grep for all uses of that function!

Also, I'm not sure we want to be mixing conventional and dplyr connections like this throughout the code, especially if it's ambiguous which needs t

[2016-11-08 12:04] serbinsh commented on #1114
@bcow Just to provide an update.  I am hitting the same error as above:

[code]

And the met issues are from met.process.R on lines 94-99 (that I know of at the moment):

[code]

and in query.formats.vars() we need a dplyr DB connection

[code]

So I think we just need to reconcile the mismatch on connections, as Mike mentioned.  I just wanted to help provide some more context.  Plus Mike also lis

[2016-11-08 20:42] jsimkins2 commented on #1167
@mdietze adding this functionality to the downscale script that's nearly ready for a pull request. Here is the name generated for each ensemble, "MACA.dwnsc.ens1.2006.nc". How does that look? The file that was downscaled is titled "MACA.IPSL-CM5A-LR.rcp85.r1i1p1.2006.nc", should I add the MACA specific information to the downscale ensemble member as well?

[2016-11-09 03:14] mdietze commented on #1167
A bit long, but yes, you should probably add the specification of what GCM, RCP, etc. was run to the prefix.

[2016-11-09 20:43] ankurdesai commented on #1171
I have added the sites needed  that were not in our site list, and then associated all sites added to Fluxnet2015 in site groups on Wisconsin, which will propagate later.

[2016-11-09 20:43] #1171 closed

[2016-11-14 16:20] yan130 commented on #1114
@bcow can you fix this real quick? we  are having a important project review in next two weeks.

Thanks.

[2016-11-14 20:21] bcow commented on #1114
@yan130 yes I'm currently working on it! Apologies for the delay!

[2016-11-15 16:55] mchenry commented on #1114
@bcow can we get something in today?  Just encountered this too while prepping for the review...

[2016-11-15 20:12] mdietze commented on #1114
@mchenry @yan130 don't know if you caught it but the relevant PR was merged and closed an hour or two ago. Could you check your code and verify whether you're still getting problems (and if not we can close this issue)

[2016-11-15 20:51] yan130 commented on #1114
@mdietze Thanks.

I just checked. Ameriflux works fine.

I get a new bug:

this is closest_xy.R
[code]

it should be  ncdf4::nc_close(test.file)

[2016-11-15 20:53] mdietze commented on #1114
Ok, can you make the change and PR?

[2016-11-15 20:55] yan130 commented on #1114
sure

[2016-11-16 17:07] yan130 commented on #1114
https://github.com/PecanProject/pecan/pull/1181, please review

[2016-11-16 17:21] ankurdesai commented on #1140
Two examples, might be able to just directly use these:
1. Python: https://github.com/tquaife/neonApiExamples
2. R: https://github.com/ropenscilabs/nneo

[2016-11-17 02:27] rykelly commented on #1156
#1157 took care of the first suggestion, and the second was vetoed, at least for now.

[2016-11-17 02:27] #1156 closed

[2016-11-17 02:47] rykelly opened #1183 "Allow groups of runs to be split into chunks to be run separately then recombined"
Currently PEcAn runs for a single workflow are all handled together, but sometimes you might want to be able to split them up into subgroups to be run separately. It wouldn't be too hard to implement, so probably worth the trouble at some point.

## Description

As far as I know, different PEcAn run strategies (local, remote, qsub, modellauncher) all revolve around getting the full list of run ids

[2016-11-17 04:13] mdietze commented on #1183
Clarification: it seems like you're just asking for better batch scheduling, not specifically for blocking or splitting up runs.txt. Is this something modellauncher can handle internally? Alternatively, start.model.runs should be handle it on it's own internally without asking run.write.configs to first break runs.txt up into chunks.

[2016-11-17 04:19] rykelly commented on #1183
It's correct that we'd want start.model.runs to handle this, not run.write.configs. But my thinking was that if it's handled at the runs.txt level, then less code needs to change downstream. So perhaps if start.model.runs is told to do so, it splits runs.txt into separate files before proceeding. Entirely possible that that's not the cleanest or easiest solution, but I thought it might be the latt

[2016-11-17 13:13] robkooper commented on #1183
You should be able to run modellauncher on multiple nodes. It is an MPI program. You might have to add the right arguments to the qsub command for example:

[code]

[2016-11-17 14:18] rykelly commented on #1183
Hm. I thought modellauncher is OMP, not MPI. I don't fully understand the differences, but in practice on geo at least the former is restricted to a single node. Can you clarify, @robkooper?

[2016-11-17 16:59] mdietze commented on #1183
Alternatively, is there just a way to have qsub handle this batching? For example, if you need to do 900 runs you might use modellauncher to efficiently block 10 runs/submission, but that still leaves you dumping 90 things into the queue at once. But let's say you only want to use 16 nodes at a time because dumping 90 jobs would go over your free capacity and/or cause you to get bumped far down in

[2016-11-17 19:01] rykelly commented on #1183
OK, so @robkooper is of course right about his own modellauncher code, and replacing my omp flag with his ncpus one (plus following BU's guidelines for requesting nodes for an MPI job) seems to have worked.

Should I close this, or leave it open because perhaps the issue still applies to non-modellauncher methods?

[2016-11-17 19:10] rykelly commented on #1183
Though for the record, on BU the actual flag you want to use is

[code]

Where the last number is a multiple of 16 giving the total number of cores you want. More info [here](http://www.bu.edu/tech/support/research/system-usage/running-jobs/parallel-batch/).

[2016-11-19 07:14] mchenry commented on #1114
This has been resolved, right?

[2016-11-19 07:48] mdietze commented on #1114
Yep, I pulled in #1181 fairly quickly after it was posted

[2016-11-21 15:01] rykelly opened #1190 "do.conversions - STATUS checking and XML writing"
Both the status-checking and xml-writing in `do.conversions` have issues for MultiSettings runs. We could get into details but may not be important. First though, I'd like to know what the intended behavior is, and maybe I can just fix it for MS runs without breaking it for everyone else.

In particular, it's unusual (compared to other workflow modules) for the settings to be written and status to

[2016-11-21 18:12] ashiklom opened #1191 "Re-organize PEcAn packages to have more precise purposes"
I think that we currently have too few packages that each do too many things. So I wanted to start a discussion about specific functionality from certain packages that can and should be isolated. Here are some initial ideas:

* Put all `logger.*` functions to a `pecan.logger` package
* Create a small set of date-related functions, and put them in a `pecan.dates` package that can be used by `met.pr

[2016-11-21 19:57] mdietze commented on #1191
Yeah, I agree that utils in particular has gotten broad and unwieldy -- I'm open to someone going through that bit in particular post-AGU.  I think most of the others aren't bad in terms of focus.

[2016-11-21 19:59] mdietze commented on #1191
A related thing I've been thinking about is a slight re-organization of the packages in the root directory (utils, db, vis, etc) -- I think there should be a folder that's explicitly for 'core' tools so that all packages are in one of core, modules, and models. I think it might make it easier for new users to follow our conceptual organization

[2016-11-21 21:14] ashiklom opened #1192 "Replace rjags with runjags"
`rjags` is very annoying to compile on CentOS servers (or really, any servers that don't use one very specific program for managing library locations), and is not as feature-rich as, for example, [runjags](https://cran.r-project.org/web/packages/runjags/index.html) (developed by the same guy). Some notable features in `runjags` include easy utilities for sampling in parallel, and continuing sampli

[2016-11-23 01:12] mdekauwe opened #1194 "Place to add new model features?"
Is there a place to highlight new model features anywhere? I've just pushed SPA hydraulics into the main branch of GDAY (although I'm still probably the only person on the planet who knows how to use this functionality at the moment). Similarly, I will probably push our P-cycle to the main branch this week as well.

I realise the GDAY implementation is probably not functional, but I wondered if th

[2016-11-23 02:12] tonygardella commented on #1194
I think a good place for that would be in the model specific pages of the [GDAY page of our gitbook](https://github.com/PecanProject/pecan.book/blob/master/models/gday.md).  Our intention with these pages is to not only list basic information about each model, but to also summarize key features of models.

On that note, I need to get back into gear and finish off the GDAY coupling scripts. I'll be

[2016-11-23 17:34] tonygardella opened #1195 "Bug in convert.input"
[code]

## Description
existing.dbfile seems to be NULL rather than a data.frame of size 0. Need to check dbfile.input.check and change what is being returned .

[2016-11-23 21:24] #1195 closed

[2016-11-25 19:18] tonygardella opened #1197 "BUG from running SIPNET-Bartlett 2005-2006 Ameriflux"
End of Log:
[code]

## Description
```allow.conflicting.dates``` should be set to ```TRUE``` to resolve this bug.

## Context
An existing Input record exists, but the dates do match in this case.

## Possible Implementation
Since this is occurring in the raw met download stage and there is an existing input record at that site, format, and machine that should have been updated to include the run d

[2016-11-25 19:52] mdietze commented on #1194
@mdekauwe good catch that we don't have any official policy/mechanism for this. We'll add this to our weekly agenda.

The other things that I'd suggest:
1) Let us know (especially @tonygardella and @robkooper) when there's a new version of your model so we know to update our own machines and update the VM with the new version in the next release
2) You can also add this info directly to the new [c

[2016-11-25 22:26] tonygardella commented on #1197
Update: Setting it  to ```TRUE``` based on whether the update of dates occurred did not fix it  because that part was skipped as the files associated with the valid inputs were on other machines but not the VM so a valid input-dbfile pair was unavailable, so it still gave the same error. However, hard setting ```allow.conflicting.dates``` to ```TRUE```does fix the issue. I think setting it to ```T

[2016-11-25 22:35] tonygardella opened #1198 "BUG Running SIPNET during MODEL stage"
Both SIPNET(unk&136) failed with workflow.Rout showing:
[code]
and the logfile.txt showing:
[code]
## Description
I don't think this is related to the met bug I was fixing because a valid met file was created and the correct path was in the job.sh. Something is just going wrong during model execution

[2016-11-25 22:45] robkooper commented on #1198
What site/pft/met range is this? I managed to do a sipnet v136 run for 2004 on niwot that finished correctly.

[2016-11-25 22:49] tonygardella commented on #1198
Bartlett/populus/ameriflux,  2005-2006. It will not get past met for you though until you I push my changes. I'll do that in a bit.

[2016-11-29 20:04] istfer opened #1206 "conversion of CO2 values in older met files"
With [this commit](https://github.com/PecanProject/pecan/pull/646/commits/8c55736a816f450b1de0e975cda94faa6df83a5a) a CO2  conversion issue was fixed in the past. But there are files in our systems that were processed before this commit. So now the CO2 values in those files are multiplied by `1e6` twice in met2model conversions. Not sure how we want to handle this.

[2016-11-29 20:20] mdietze commented on #1206
Can you identify all the relevant files (e.g. a search by date relative to when the bug was fixed?)  Is this a modest number of files that we can fix by hand (rerun met.process with overwrite=TRUE) or something we'll need to script

[2016-11-29 20:37] jsimkins2 commented on #1198
I received the same error for Willow Creek/temperate deciduous/cruncep, 1999-2000. The corresponding error that I got within the VM was ```Out of memory: kill process 1960 (sipnet.runk) score 866```

[2016-11-29 21:51] bcow commented on #1128
@tonygardella can we close this? It seems like the main cleanup is over and code will continue to get refined after AGU.

[2016-11-29 21:55] tonygardella commented on #1128
Cleanup isn't necessarily over, but it looks like you took care of this issue in #1186.

[2016-11-29 21:55] #1128 closed

[2016-11-30 01:39] robkooper commented on #1198
I have seen the problem with the out of memory issue with sipnet if the met file is not valid.

[2016-11-30 15:21] jsimkins2 commented on #1198
Getting the same error in RStudio now without the 'out of memory' tag in the VM. This time was with Willow Creek/temperate deciduous/GFDL, 2006.

[2016-11-30 15:22] jsimkins2 commented on #1198
[code]

[2016-11-30 15:22] jsimkins2 commented on #1198
There is no 'sipnet.out' in any of the 'run' folders

[2016-11-30 15:48] ankurdesai commented on #1198
If sipnet fails to run, then no sipnet.out is produced. Instead, look at sipnet.clim and look for bad values, unreasonable values, missing values, NAs. Any of those will cause Sipnet to crash in a way that it just uses up memory.

[2016-11-30 16:15] jsimkins2 commented on #1198
@ankurdesai ah ok that makes sense, unfortunately there is no 'sipnet.clim' in the run folders either

[2016-11-30 16:19] tonygardella commented on #1198
@jsimkins2 the job.sh in the run folder should have this line:
[code]
The path after where the symbolic link is created ```ln -s``` is where the clim file should be.

[2016-11-30 16:20] jsimkins2 commented on #1198
@tonygardella ah ok thanks!

[2016-11-30 23:04] dlebauer commented on #1194
@mdekauwe vignettes (in the model package) could be another place to show off new features - e.g. a comparison of model skill with / without the new feature would be cool.

[2016-11-30 23:30] dlebauer commented on #1192
Looks like runjags has lots of handy helper functions - If we can replace all of the hacky auto-convergence code with runjags that would be great. I'd suggest first using runjags where helpful and worry about removing rjags later.

It may be non-trivial to replace rjags since we have written (and hacked) so much code with rjags (way beyond auto-convergence). So many packages we use have similar is

[2016-12-01 04:01] bcow opened #1211 "Shiny workflow plots app not working."
@robkooper @mdietze
I’m assuming we want the app working for the pecan demo night right?

When it loads, this error window pops up:
<img width="815" alt="screen shot 2016-11-30 at 10 58 05 pm" src="https://cloud.githubusercontent.com/assets/5503595/20781413/8482da92-b750-11e6-88de-c3e61fcd29ae.png">

I know I had been mucking around with the bety functions, but even thought I copied them into `PEc

[2016-12-01 04:14] bcow opened #1212 "Speed up loading of 02-modelsite.php"
Loading of `02-modelsite.php` can get very slow and unfortunately the page has to reload at least 3 times (initial load, select server, select model, then optional select site group or text search sites).

One potential quick fix would be to have a default site group such as FLUXNET load instead of all the sites.

@ashiklom and I were throwing around the idea of being able to set defaults in the `

[2016-12-01 05:16] robkooper commented on #1211
Can you open the javascript console and show the error there. Here are the different ways to do that in different browsers: http://webmasters.stackexchange.com/a/77337

[2016-12-01 05:36] bcow commented on #1211
Hey that's handy!

Looks like the workflow id isn't getting passed in properly.

[code]

Here's the full output:

[code]

[2016-12-01 21:36] mdietze commented on #1212
I'd second this and also ask @robkooper specifically if there's any way to profile php code to figure out where the computational bottlenecks are. e.g. is it the DB queries? the rendering? the refreshing?  It seems like figuring this out would be a prerequisite for making decisions about how to speed things up.

While we're on the topic, the History table is also too slow and needs to be profiled

[2016-12-01 21:54] robkooper commented on #1212
You can see how long it takes for thistory list by using: `curl http://pecan.ncsa.illinois.edu/pecan/historylist.php`. At the bottom you will see stats, which shows you the number of items returned and how long it took total. If you add ?show_unknown=on to the end (for example http://pecan-dev.ncsa.illinois.edu/pecan/historylist.php?show_unknown=on) it will show you all runs that are in unknown st

[2016-12-01 22:13] mdietze opened #1217 "Meta-analysis AUTO broken ... again"
Meta-analysis seems to be running for every run again. Need to add debugging this so it only runs when needed back on the list. I'm seriously tempted to just remove the MA block from the default run specification so that users have to turn it on during advanced edit.

[2016-12-02 02:51] istfer commented on #1206
I'll take a look at this after AGU

[2016-12-02 10:49] bcow commented on #1206
I can help with that also after AGU because it seems like it would coincide with some database/met cleanup that I should do. I had proposed removing everything that was made before a stable version of met.process was released. Can't think of the date off the top of my head but I have it in my notes.

[2016-12-02 13:38] istfer commented on #1206
cool, I can join the cleanup for my orphan posteriors and likelihoods from all my PDA tests

[2016-12-02 18:46] tonygardella opened #1220 "BUG, need to add check for child record existence and add machine check"
Previously, I added a check to see if  a file was on the host machine and if not, met.process would download the file and insert it under the existing valid input record. After this happens the next steps will grab that id as a parent.id and if there happens to be a child input record with a file associated with it that already exists, it will return that regardless of what machine that files is o

[2016-12-02 18:52] tonygardella opened #1221 "Web Interface, Adding new site question."
When adding a new site from the web interface it seems you double click anywhere on the map to open up the window. Double clicking on the map also functions as a way to zoom in on a location, so it if I just want to just zoom in on a location it will open up the window to add a new site needlessly. Is it possible to change this so that the window opens up on a right-click or something?

[2016-12-02 20:44] tonygardella commented on #1220
Seems that my machine check is being skipped, but if I run it line by line it works. I must be running it incorrectly when I'm running it line by line.

[2016-12-02 21:43] tonygardella commented on #1220
Machine check works. R libraries were messing up and latest changes were not being loaded properly. I do get another error during gapfill
[code]

[2016-12-02 23:20] ch1eroe1 commented on #1221
I am looking into this.  I see that there is a way to handle the right, left, double click logic, so I will implement so we can look to see how this is behaving.  I am not sure how intuitive this will be for our end users but it is nothing they couldn't learn.

[2016-12-03 02:36] mdietze commented on #1221
Is anyone else double clicking to zoom? It'd never occurred to me to do this.

Whatever route we go, we want it to be both intuitive and something that works cross platform (e.g. Mac, tablet, and phones don't have a right click button)

[2016-12-03 12:48] serbinsh opened #1223 "Link from web interface to Variables pecan.book is broken"
Currently pointing to: https://pecan.gitbooks.io/pecan-documentation/content/models/variables.md

Leads to Not Found page (404 error)

## Description

Fix the link.  **Also make this open a new Tab** when clicked.  Currently it opens in the same tab and you loose your progress in the workflow.  Moreover you can't go back so you have to start over.  Very annoying.

## Context

Fix a bug

## Possibl

[2016-12-03 18:20] ankurdesai commented on #1221
I always double left click to zoom and center on maps with mice (pinch on touchscreens). I would assume right click context menu would be the place for more advanced things like add a site.

[2016-12-04 15:28] #1220 closed

[2016-12-04 15:43] mdietze commented on #1221
@ankurdesai the latter bit makes sense to me -- that's what I do too in other apps but just hadn't thought about it.

So in addition to switching the behavior to right-click, could we add a note to the bottom of the page (but above the "PEcAn project is supported by NSF...") that says something like "To add a new site right-click (Mac: ctrl-click, phone/tablet: long click) on the new location"?

W

[2016-12-04 16:10] #1223 closed

[2016-12-05 13:45] robkooper commented on #1221
Updated acknowledgements as part of the version dump 1.4.9

[2016-12-05 14:12] serbinsh commented on #1221
I also double click to zoom and would rather have a right click option (just weighing in too).  Also with tablets/phones dont you just touch and hold to bring up the right click options?  On a mac laptop you can use two fingers on the track or a mouse (or whatever you ahve setup as your right click option).

Anyway I know this is basically sorted but wanted to voice support for right click

[2016-12-05 14:58] serbinsh commented on #1211
I have been having similar issues on this end

[2016-12-05 23:16] ch1eroe1 commented on #1221
Made the changes and submitted a pull request.

[2016-12-05 23:16] #1221 closed

[2017-01-05 14:03] mdietze opened #1242 "STReESS Benchmarks?"
Just came across an EU COST Action on forest stress and mortality http://streess-cost.eu/

I don't know how open the data are, but I suspect there are probably useful benchmarks that could come out of this

[2017-01-17 17:34] #782 closed

[2017-01-17 17:34] #773 closed

[2017-01-19 16:27] #1197 closed

[2017-01-19 16:27] #1198 closed

[2017-01-19 16:29] #726 closed

[2017-01-19 19:15] tonygardella opened #1245 "Web Interface Changes"
This Epic will be to gather ideas and issues pertaining to changes of the web Interface.

Some key questions that came up on the 1/19/17 telecon were:
What are the steps? What upcoming challenges will break our current design?
What is the aesthetic?
Could be better about separating aesthetics from implementation
What is under the hood?
E.g. More R, less PHP?

[2017-01-19 20:33] ankurdesai commented on #1245
Is an Epic like a saga?

I really think we should try to record desktops of people as they use Pecan (like those youtube videos of people playing video games and talking).

People want to be able to do multi-site, multi-model and probably multi-driver runs. Default PFTs. Basic PDA (e.g., flux tower NEE) from web interface. These will require some rethinking of design.

Would be cool to click a but

[2017-01-19 21:26] robkooper commented on #1245
@ankurdesai an epic is an issue that has many sub issues. The nice thing is that we can take a large task and split it into smaller tasks that can be accomplished in a shorter amount of time.

- I would like the ability to take a workflow and rerun it, while going to the interface but have all values already be selected from the previous workflow
- When you have setup your workflow, it would be ni

[2017-01-19 21:36] araiho commented on #1245
I think something that might be easy and good to do would be to add descriptions of the models and the drivers and stuff. Maybe when you hold your mouse over the words or something? When people try pecan for the first time, they're like "ED sounds like a person I'll run ED!" But, they maybe don't know that that might take them forever. Similarly, the drivers are sort of insider secrets. I know the

[2017-01-19 22:31] mdietze commented on #1245
@araiho I did that already. Not the items in the drop-down menus themselves, but you can hover over headings to get more info about what it is and many are links to the documentation that describes the models, etc.  Drivers are a bit harder to do that with because that bit of the webpage is generated dynamically, on a model-by-model basis, so you can't exactly hardcode the links in. But I did make

[2017-01-19 22:44] mdietze commented on #1245
@ankurdesai A link into RStudio seems easy. Dropping you right into that run's directory and workflow sounds like a great idea, however, there doesn't seem to be any obvious way to do it. Maybe someone will have better luck than I, but in poking around a bit I couldn't find any obvious web API for passing info into an instance of RStudio server. For security reasons, I can see why they might now w

[2017-01-19 22:50] mdietze commented on #1245
@robkooper I 100% agree that it needs to be easier to rerun a workflow. Happens all the time, both personally and in teaching, that you have to do the exact same set of setting again or just change something small you missed.

Definitely agree we need more flexible workflow module specification. Isn't there one or more open issues about that already?

I agree that it's be nice to have PEcAn check

[2017-02-08 23:29] robkooper commented on #588
@istfer and @rykelly do you still see this?

[2017-02-08 23:35] istfer commented on #588
I haven't been giving such long runs for a while, although I remember seeing it the last time I did, some time before AGU.. But I usually stop writing runs to the DB to get around it so I can't say for sure. I'll give one long run soon, will let you know

[2017-02-09 00:27] rykelly commented on #588
I didn't have the issue when doing my large multisite runs. A good sign, though those hit the DB much less often than the PDA runs I was doing back in the day.

⁣[ mobile ]​

On Feb 8, 2017, 18:35, at 18:35, istfer <notifications@github.com> wrote:

[2017-02-15 19:34] crollinson opened #1258 "'standalone' R packages won't install"
## Description

Many/most of the R packages [listed here](http://pecanproject.github.io/tutorials.html) will not install because of unavailable dependencies:
`ERROR: dependencies ‘PEcAn.utils’, ‘PEcAn.DB’ are not available for package ‘PEcAn.data.atmosphere’`

I'm not sure if this is from updates to the scripts and broken dependencies or if there are additional steps for installing Pecan Packages

[2017-02-15 19:37] tonygardella commented on #1258
Within the main PEcAn directory you should be able to run ```make``` and all pecan packages will download. Look [here](https://pecan.gitbooks.io/pecan-documentation/content/users_guide/maintaining_pecan/update_pecan_code.html) for options on using ```make```.

[2017-02-15 19:51] dlebauer commented on #1258
While Tony is correct, This is a known issue. A user should not have to
install all of PEcAn. We are actively working on this.

A few notes

* could installing 'all' call make?
* can PEcAn.MA run without BETYdb and PEcAn.DB (at one point the function
single.MA ran the vignette in that package- not clear if this is still
useful)
* data.atmosphere has many useful stand-alone functions

Is there an o

[2017-02-15 22:35] mdietze commented on #1258
@crollinson could you clarify how you were trying to build? e.g. what specific command(s) were you using.

Also, while it's not super documented yet you already can build just certain parts, so I'm not sure what David meant by 'This is a known issue'. For example, if you just need data.atmosphere then you should be able to ```make .install/modules/data.atmosphere``` and it will just build that mod

[2017-02-16 00:15] dlebauer commented on #1258
@mdietze the known issue is the lack of independence of many packages. I have never used make so I didn't know that it had gotten easier to install a package like data.atmosphere.

What I meant by 'could installing all call make' was aimed at whether adding a makefile to the PEcAn.all package allow `R CMD INSTALL all` to trigger the PEcAn make stuff. But it sounds like the make functionality is mo

[2017-02-16 00:17] dlebauer commented on #1258
Maybe it would be more clear if I said 'something we have been actively working to improve' rather than a 'known issue'

[2017-02-20 16:42] yan130 commented on #1028
my understanding is to create a Dockerfile & docker-compose.yml ( link to PostgreSQL containers)  under contrib/browndog

and using this docker container as a converter.

right

[2017-02-20 16:44] robkooper commented on #1028
yes, containers in yaml
- pecan
- postgres
- bety

[2017-02-21 16:17] mccabete opened #1259 "No new NARR met files are being created"
I can get NARR to run as a met source when a file for a spesific range of years has been created in the past, but it won't create a new file.  Examples are runs  [1000003259](http://128.197.168.115/pecan_tmccabe/08-finished.php?workflowid=1000003259), [1000003260](http://128.197.168.115/pecan_tmccabe/08-finished.php?workflowid=1000003260), [1000003296](http://128.197.168.115/pecan_tmccabe/08-finis

[2017-02-21 16:37] mccabete opened #1260 "Cannot download Ameriflux data for existing years"
## Description
When I tried to use Ameriflux as a met driver for years I know exist, I get an error:
" Error in logger.severe("Could not download data for", site, "for the year",  : Could not download data for US-KS1 for the year 2005 "
Example runs include: [1000003253](http://128.197.168.115/pecan_tmccabe/08-finished.php?workflowid=1000003253), [1000003254](http://128.197.168.115/pecan_tmccabe/0

[2017-02-21 17:04] ankurdesai commented on #1260
Hi, US-KS1 for 2005 is not on the Ameriflux FTP site:
  http://cdiac.ornl.gov/ftp/ameriflux/data/Level2/Sites_ByID/US-KS1/with_gaps/ <http://cdiac.ornl.gov/ftp/ameriflux/data/Level2/Sites_ByID/US-KS1/with_gaps/>

Also similar on Ameriflux LBL server, but in general try both download.Ameriflux and download.AmerifluxLBL, as the former is being deprecated for the latter in Ameriflux.

[2017-02-21 18:33] #1140 closed

[2017-02-21 18:44] mdietze commented on #1260
A tad off topic, but ran into Deb Agarwal last week at the NEON workshop and it sounds like there's going to be a big update to Ameriflux in the not-to-distant future. To date the LBNL server hasn't been kept up to date beyond what was on the ORNL server, but that should change soon, at which point we'll really want to shift to AmerifluxLBL as our default for download

In the mean time, I think th

[2017-02-21 18:44] #1260 closed

[2017-02-22 01:23] robkooper commented on #1259
looking at the pecan.xml you are doing runs on geo, but the browndog part of the conversion is running locally, with the output path of the remote system (/projectnb/dietzelab/pecan.data/output/tmccabe).
[code]

[2017-02-22 01:27] robkooper commented on #1259
Looks like we need to make sure that [browndog.met](https://github.com/PecanProject/pecan/blob/master/modules/data.atmosphere/R/met.process.R#L281) runs remotely as needed.

[2017-02-23 18:26] ankurdesai opened #1261 "ED2.2 on VM not running different PFTs"
It appears than an ecosystem model is not responding to user PFT selection in PECAN.

## Description
A student running VM getting identical output when running ED2.2 with same site/climate but different PFTs (like temperate.early_hardhood vs. temperate.late_conifer). Meta-Analysis shows parameters are different (Vcmax 20 v 80 for example), but output of any variable like aboveground_biomass, NPP,

[2017-02-23 18:41] istfer commented on #1261
for example when I select `temperate.Early_Hardwood` from the VM web interface the xml is like this:

[code]

I think this is what we want anyway but I think there is a bug in write.configs that this `<num>1</num>` has some sort of precedence over the PFT name, when I set it `9` for `temperate.Early_Hardwood` it runs the correct params. so, I think this can be the reason with her runs too

[2017-02-23 19:18] robkooper commented on #1261
We had an issue about this in redmine, and have talked about this in gitter, thanks for opening this.

Since you can run with multiple PFT's the code will just start with num 1, next is 2, etc. Problem with this is that ED uses the pft numbers to set default values. We can solve this in two ways, associate with each pft for the ed model the corresponding pft number, PRO is easy, CON can not run wi

[2017-02-23 20:09] istfer commented on #1261
we already have [a table for mapping](https://github.com/PecanProject/pecan/blob/master/models/ed/data/pftmapping.csv), right? or do you have something else in mind @robkooper?

I'm also pinging @rykelly here because I think @mdietze and him had a similar discussion before and has [this comment](https://github.com/PecanProject/pecan/blob/master/models/ed/R/write.configs.ed.R#L370-L378) in the code

[2017-02-23 21:09] ankurdesai commented on #1261
The big issue that concerns me is why are the posterior parameters from the MA not being passed to the model? Or if they are, not being used?

[2017-02-23 22:40] robkooper commented on #1261
@istfer yes that is a good mapping but I think it would be better to have it in BETY that way when you create a new PFT you can just add the mapping instead of having to modify the code.

@ankurdesai if they are passed, they should be passed in the config.xml file.

[2017-02-24 00:14] ankurdesai commented on #1261
Here are the VM runs my student did that got all the same output:
Run ID	Site	Year	Met Driver	Model	PFT
99000000011	Niwot Ridge Forest	2000-2005	ED-MET-DRIVER_HEADER 1998-2008	ED2	tempdecid
99000000013	Harvard Forest	2000-2005	ED-MET-DRIVER_HEADER 1998-2008	ED2	tempdecid
99000000014	Harvard Forest	2000-2005	ED-MET-DRIVER_HEADER 1998-2008	ED2	tempconif
99000000016	Niwot Ridge Forest	2000-2005	ED-ME

[2017-02-24 01:21] robkooper commented on #1261
did she pick any pss/css files? if not I think they always start with a bare ground run. My question is how different are the PFTs?

[2017-02-24 02:55] rykelly commented on #1261
What @robkooper said, for the most part. Great idea to move the mapping to BETY too...

[2017-02-24 14:18] ankurdesai commented on #1261
Thanks. I'll ask her. She did send me some config.xml files and they clearly show varying parameters, but probably bare ground.

[2017-02-24 16:23] ankurdesai commented on #1260
@mccabete Same issue with US-KS1 - there is no data past 2003. There is for US-KS2. The issue with US-Akn seems like an actual bug. I will submit a PR to fix it soon.

[2017-02-28 17:36] ankurdesai opened #1264 "Extract soil initial conditions from soilgrids REST API"
Recent post on Ameriflux listserv showed off a new queryable interface to information on soil texture, depth, organic carbon, and other information highly useful to ecosystem models.

## Description
When we get around to soil IC, this seems like a possible data source to implement an API to query a point or region.

## Context
Soils --- that's where most of the carbon is!

## Possible Implementati

[2017-02-28 17:50] mdietze commented on #1264
Saw Dennis's Ameriflux email and @ankurdesai beat me to posting an issue

[2017-03-02 21:22] mccabete opened #1265 "CRUNCEP ocean mask excludes coastal sites"
The met driver CRUNCEP has a 0.5 * 0.5 resolution, so certain coastal sites (Like Kennedy Space Center, for example, but I'm sure there are others) are treated as ocean and fail to provide met data.

## Description

The two suggestions brought up at todays meeting were to automatically shift to the nearest land grid cell instead of just returning an error. That, or interpolate from multiple surrou

[2017-03-03 19:10] dlebauer opened #1266 "Enable BioCro tests to run in the web interface"
## Description

I am assuming that

[code]

works on the Virtual Machine.

The next step is to enable BioCro to work in the web interface -

I believe there are two steps to enabling this
1. get the location of the binary executable (`pointbiocro.Rscript`) from BETYdb given the model name in settings (probably already works)
2. hook into the met workflow.

I think 2 will be the bulk of the work

#

[2017-03-03 19:17] tonygardella commented on #1258
Hey Christy, I wanted to follow up with you on this. Are you still having issues with PEcAn packages?

[2017-03-07 21:31] ankurdesai opened #1267 "Convert.inputs having issues with Ameriflux files"
Recent changes seem to cause errors in web workflow, need help diagnosing

## Description
recent convert.input changes may need fixing

## Context
Web download conversion no longer working!

## Possible Implementation
Below is output log - looks like around line 389 in convert.input, the result$file is now finding the right stuff - either the number of rows is zero, or something else is up. My stu

[2017-03-08 04:20] dlebauer commented on #544
@serbinsh is this still an issue, or can it be closed?

[2017-03-08 17:01] tonygardella commented on #1267
If you run `download.AmerifluxLBL` from within `convert.inputs` using line 416 , where the result of the download function is captured in the object- `result`, the error that gets thrown is:
[code]
When running `download.AmerifluxLBL` on it's own the correct values were not being assigned to the `results` object so the function was returning an incorrect object. This led me to change lines 159-164

[2017-03-08 18:33] ankurdesai commented on #1267
Ok. So it seems like the 1-element vector file[rows] was throwing it off. I think we're hitting the same problem in download.Ameriflux when only one year is downloaded. Yes, let's try that.

[2017-03-11 19:59] istfer opened #1269 "DeletedApiProjectMapError on VM v1.4.9"
VM Google Maps is not loading.

The error @mathurshikhar getting was:
"This page didn't load Google Maps correctly. See the JavaScript console for technical details".
And when he checked the JavaScript console, there's a 'DeletedApiProjectMapError'.

## Description
Related to out of date `$googleMapKey` in the config.php

## Possible Implementation

To be fixed in the next build.

[2017-03-12 17:40] robkooper commented on #1269
The googleMapKey in pecan/web/config.php is wrong and needs to be changed. You can change it to the following value:

[code]

This will be changed in the next VM that is created.

[2017-03-12 17:40] #1269 closed

[2017-03-13 14:58] mdietze opened #1270 "Support FRED root database"
http://onlinelibrary.wiley.com/doi/10.1111/nph.14486/abstract

We should couple to (or ingest) the FRED database

[2017-03-15 17:51] mdietze opened #1273 "Slot et al Panama leaf temperature response curve trait data"
More trait data (potentially useful to @serbinsh and other NGEE Tropic folk), as well as a potential good example of grabbing data via DOI https://dx.doi.org/10.5479/data_stri/10088/30581  Martjin Slot has a dataset for Panama from his New Phyt paper on photosynthetic temperature response of 42 canopy species. The raw data contains almost 4000 photosynthesis measurements and contains stomatal cond

[2017-03-15 17:55] serbinsh commented on #1273
Agreed...this was already on my list of files / data to add to BETYdb!

As you are no doubt aware now from Gitter activity, I am trying to sort out uploading larger datasets.  This would be a good one to have in BETY, in addition to the data we have been collecting in Panama which includes A-Ci, A-Q, and diurnal stomatal conductance, as well as SLA, N, leaf optics

--------------------------------

[2017-03-17 16:36] ashiklom opened #1280 "More lubridate-friendly date-time formats"
## Description
This is effectively re-opening the old issue #272 on date formats.

I vote that we deprecate the POSIXlt date-time format in favor if the POSIXct date-time format [implicit in the `lubridate` package][2] (which we are using in a lot of places anyway, and I would argue should use considerably more, because it is [awesome][3]). The format is [more portable][1] (just a number, rather t

[2017-03-17 17:34] tonygardella commented on #1280
POSIXlt date-time

[2017-03-17 17:34] tonygardella commented on #1280
POSIXct date-time

[2017-03-17 17:35] tonygardella commented on #1280
Use the 👍 feature to cast votes on the two options above

[2017-03-17 17:54] tonygardella opened #1282 "Repository/directory Structure of PEcAn Documentation"
Currently, the source .Rmd files for PEcAn Documentation are held in the "book_source" directory of the main `PecanProject/pecan` repository. The `deploy.sh` script currently is configured to render html files and commit/push those files to a separate repository called `PecanProject/pecan-documentation`.

## Description
Is this the best way to organize the .Rmd files and html files? or should we k

[2017-03-17 18:08] ashiklom commented on #1282
I think we should continue to push documentation to a different repository.

I think our `.Rmd` file organization should mirror the structure of the actual book:

[code]

[2017-03-17 18:18] dlebauer opened #1283 "Update BioCro module to use the PEcAn met workflow"
## Description

Currently the BioCro module is written to read files in PEcAn CF format directly, and has custom functions for downscaling and conversion to the BioCro input format.

* Reading is done by the function [`PEcAn.data.atmosphere::load.cfmet`](https://github.com/PecanProject/pecan/blob/master/modules/data.atmosphere/R/load.cfmet.R) that is called from with the [`PEcAn.BIOCRO::run.biocro

[2017-03-18 06:46] dlebauer commented on #1282
When I raised the question I didn't realize that the source was in the pecan repository... I misunderstood and thought there were separate source and publish documentation repositories.

But for organization I think it could be easier to maintain some parts like shiny apps etc if vignettes, readmes and other docs could be incorporated from their current homes in their respective packages.

[2017-03-18 23:32] kapoorabhishek24 commented on #1028
Hi, I see this is listed as one the projects in GSOC'17. I wanted to know if this is still available or someone has already started working on it. I have good experience in Docker and wanted to know if I can pursue this.Let me know. Thanks

[2017-03-19 01:56] yan130 commented on #1028
Hi, I am not clear about GSOC'17. I have some code but not finished. I can push in my fork next week.

[2017-03-19 14:10] robkooper opened #1286 "Allow to disable NARR from webapp if not using BrownDog"
Should have the ability in the configuration of the webapp to disable certain met formats if not using BrownDog. For example NARR can result in the disk being filled up.

[2017-03-19 14:37] kapoorabhishek24 commented on #1028
Okay, I wanted to pursue this project, Let me know if its going to be considered under GSOC'17. I was already drafting the proposal.

[2017-03-19 14:58] istfer commented on #1028
@kapoorabhishek24 thanks for your interest, could you get in touch with @robkooper and check out our [application page](http://pecanproject.github.io/gsoc_apply.html)

[2017-03-19 15:03] kapoorabhishek24 commented on #1028
@istfer Thanks for the heads-up. I already emailed Rob, just waiting for his reply. Meanwhile, I will proceed with the application and Proposal. Looking forward to be working on this project.

[2017-03-19 19:30] ManosGEM opened #1287 "Updating Documentation"
Hello ,

I have noticed some things in the documentation
. Probably you have noted those already.
First of all , in chapter "4.0.1 What do all those other buttons on the web interface do?" ,
There are only 3 links with no explanation, leading to chapters that are later in the documentation , I think this is confusing or unnecessary . The form of the web-interface settings and "buttons" should be e

[2017-03-20 19:25] ashiklom opened #1288 "Validate SSH password for remote runs in web interface"
Currently, remote runs will fail silently and somewhat mysteriously (unable to create tunnel) if the wrong password is given for remote machines that require a password. It would be nice if the web interface instead:

1. Checked that a connection could be established. The following bash one-liner can do this, and I imagine something similar should be possible with PHP.

[code]

2. If the wrong pas

[2017-03-20 19:57] ashiklom commented on #1288
We should consider moving to the PHP-specific SSH functions: [ssh2_connect][1], [ssh2_auth_password][2], and [ssh2_tunnel][3]. They seem more robust, secure, and easy to use than our current method of moving around plain text containing passwords.

[1]: http://php.net/manual/en/function.ssh2-connect.php
[2]: http://php.net/manual/en/function.ssh2-auth-password.php
[3]: http://php.net/manual/en/fun

[2017-03-21 13:07] robkooper commented on #1288
Only problem with the ssh2_connect is that it requires those packages to be installed. I don't believe they are standard packages. I also need to make sure the the tunnel stays alive after the php code ends.

[2017-03-21 22:51] infotroph commented on #1266
Working on this in https://github.com/infotroph/pecan/tree/ckb-biocro, but the branch is messy and probably needs to be split into a couple of separate PRs. I will update this comment once that's done.

Mostly working test instance  at [http://54.211.130.240](http://54.211.130.240) -- currently works with Bondville met and all PFTs I've tried, as long as you:

 1. specify an end date no later than

[2017-03-22 12:51] ashiklom commented on #1282
@dlebauer I think that can be readily accommodated. In bookdown, you can specify a list of target files in the `_bookdown.yml` file, so we can just point some of those to any PEcAn directory.

[2017-03-22 14:42] mdietze commented on #1282
👍  sounds good @ashiklom.  Could you or @tonygardella provide an example -- I agree with David that it makes sense to keep the vignettes, etc. in place.  As a starting point you could just create a section of the book called "Package Vignettes" or something like that.

@tonygardella is there anything else we need to discuss in this issue?

[2017-03-22 15:04] tonygardella commented on #1282
@mdietze @dlebauer @ashiklom Makes sense! If we get a GSOC student for documentation I believe this will be part of the project so I'll make sure vignettes and apps are stored this way.

[2017-03-22 15:39] infotroph opened #1290 "Conversion checkbox on 02-modelsite.php page hidden behind label (and not clickable)"
Summary: When viewed in Safari, the "conversion" checkbox in `web/02-modelsite.php` is rendered overlapping its label text, and therefore unclickable.

## Description
Expected alignment, shown here in Chrome 56.0.2924.87 on OS X 10.11.6:
<img width="110" alt="screen shot 2017-03-22 at 10 55 37 am" src="https://cloud.githubusercontent.com/assets/1256435/24204194/205b9b6c-0eee-11e7-91e3-3b69d60e67ef

[2017-03-22 20:46] robkooper opened #1291 "disable ameriflux in web gui"
No more ameriflux, just amerifluxlbl so should not show it in the web interface anymore.

[2017-03-23 17:15] #1291 closed

[2017-03-23 17:32] serbinsh commented on #994
It seems this is the solution:

From out IT guy

[code]

Then to get files use instead ncftp, such as:

[code]

So @jsimkins2 @ankurdesai @robkooper @mdietze Should we enable sever specific options that can be invoked to use different clients for FTP?  I could envision that based on the machine we could have an alternative FTP get option.....maybe this is just modex but could be a problem for othe

[2017-03-23 18:01] robkooper commented on #1288
The ssh2_tunnel function is to use the connection to tunnel to other hosts, this is equivalent to running `ssh -L localport:host:remoteport hostname` on the command line.

[2017-03-23 18:08] serbinsh commented on #994
I can mimic download.file with ncftpget using something like

ncftpget -c ftp://ftp:sserbin@ftp.fluxdata.org/.ameriflux_downloads/BASE-BADM/AMF_US-Ha1_BASE-BADM_10-1.zip > /data/sserbin/Data/test2.zip

[2017-03-23 18:10] serbinsh commented on #994
system("ncftpget -c ftp://ftp:sserbin@ftp.fluxdata.org/.ameriflux_downloads/BASE-BADM/AMF_US-Ha1_BASE-BADM_10-1.zip > /data/sserbin/Data/test2.zip")

[2017-03-26 21:27] yogeshdarji99 commented on #1028
I am interested in this project for GSOC 17, I have over 3 years of experience with Docker and have dockerized more than 50 applications. I have worked for Verizon Cloud for a year where my core task to containerize and orchestrate all the application for Verizon cloud and deploy it on DataCenters using Mesos and Marathon. Currently, I am Computer Science Graduate Student at the University of Texa

[2017-03-28 14:34] robkooper commented on #18
Fix https://github.com/PecanProject/pecan/blob/master/utils/R/convert.input.R#L18

[2017-03-29 22:48] dlebauer commented on #1028
@robkooper since there seems to be so much interest perhaps worth flushing out the requirements. My understanding is that there will be a group of containers. A few questions:

* is there an existing BETYdb container?
*  is there a draft of a pecan container?
* Should models be in separate containers?
* Where should all the data or whatever is blowing the VM go?

And to everyone else ... This woul

[2017-03-30 02:53] dlebauer commented on #1290
Just to clarify this can't be toggled by the mouse pointer, so it is a non-trivial bug.

[2017-03-30 05:30] dlebauer commented on #794
Reopening because I am still getting the histogram error when model2netcdf fails. This error is due to the histogram getting a vector of `NaN`

[code]

However, model2netcdf should know it has failed, stop, and provide a more useful error message rather than letting the workflow continue and break downstream.